moneylan/workflows/sheets-proxy/workflow_sheets_proxy.json
{"updatedAt":"2026-06-09T08:58:32.771Z","createdAt":"2026-06-09T08:58:02.300Z","id":"VV96hRp9zqRwlAJM","name":"MONEYLAN Sheets Proxy","description":"Proxy-Workflow: liest einen Google Sheets Tab (via query param ?tab=LEADS) und gibt alle Zeilen als JSON-Array zurück. Umgeht den abgelaufenen Sheets API-Key im Command Center.","active":true,"isArchived":false,"nodes":[{"id":"4b6424a1-d227-4e8a-8821-be73c081bfdc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"GET","path":"sheets-data","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"28784f17-de46-4edc-8b11-617c37c9fc64"},{"id":"d800e78c-eacf-47fc-8361-f01e67b60ce7","name":"Sheets: Tab lesen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"parameters":{"resource":"sheet","operation":"read","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.query.tab }}"},"options":{},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"f9b806c4-2edb-42c7-90b6-22bbc35fb5be","name":"Aggregate: Alle Zeilen","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows = $input.all()\n  .filter(item => item.json && !item.json.error)\n  .map(item => item.json);\nreturn [{ json: { data: rows } }];"}},{"id":"ad116fef-dbbc-44c1-b874-4896cd56cd73","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Sheets: Tab lesen","type":"main","index":0}]]},"Sheets: Tab lesen":{"main":[[{"node":"Aggregate: Alle Zeilen","type":"main","index":0}]]},"Aggregate: Alle Zeilen":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":null,"versionId":"24b8d864-a51d-417c-bbdc-3ab8e84951cd","activeVersionId":"24b8d864-a51d-417c-bbdc-3ab8e84951cd","versionCounter":2,"triggerCount":1,"shared":[{"updatedAt":"2026-06-09T08:58:02.304Z","createdAt":"2026-06-09T08:58:02.304Z","role":"workflow:owner","workflowId":"VV96hRp9zqRwlAJM","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-09T08:58:32.771Z","createdAt":"2026-06-09T08:58:32.771Z","versionId":"24b8d864-a51d-417c-bbdc-3ab8e84951cd","workflowId":"VV96hRp9zqRwlAJM","nodes":[{"id":"4b6424a1-d227-4e8a-8821-be73c081bfdc","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"GET","path":"sheets-data","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"28784f17-de46-4edc-8b11-617c37c9fc64"},{"id":"d800e78c-eacf-47fc-8361-f01e67b60ce7","name":"Sheets: Tab lesen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"parameters":{"resource":"sheet","operation":"read","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.query.tab }}"},"options":{},"authentication":"serviceAccount"},"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"f9b806c4-2edb-42c7-90b6-22bbc35fb5be","name":"Aggregate: Alle Zeilen","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const rows = $input.all()\n  .filter(item => item.json && !item.json.error)\n  .map(item => item.json);\nreturn [{ json: { data: rows } }];"}},{"id":"ad116fef-dbbc-44c1-b874-4896cd56cd73","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}}}],"connections":{"Webhook":{"main":[[{"node":"Sheets: Tab lesen","type":"main","index":0}]]},"Sheets: Tab lesen":{"main":[[{"node":"Aggregate: Alle Zeilen","type":"main","index":0}]]},"Aggregate: Alle Zeilen":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-09T08:58:36.241Z","id":226,"workflowId":"VV96hRp9zqRwlAJM","versionId":"24b8d864-a51d-417c-bbdc-3ab8e84951cd","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}