moneylan/workflows/agent2/workflow_agent2_live.json
{"updatedAt":"2026-06-08T12:27:26.358Z","createdAt":"2026-06-06T18:02:26.229Z","id":"04XC92MJvaYKtjbi","name":"MONEYLAN Agent 2 — Text Extractor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6ed602cf-19a4-43f2-ae43-4f5d6f2338f4","name":"business","value":"={{ $('Loop je Lead1').item.json.business }}","type":"object"},{"id":"d12c9e78-755f-423b-ab36-ec2ee3ece93c","name":"score","value":"={{ $('Loop je Lead1').item.json.score }}","type":"number"},{"id":"b352f6f8-3737-4080-b297-c03c8d7aa2c4","name":"lead_id","value":"={{ $('Loop je Lead1').item.json.lead_id }}","type":"string"},{"id":"4dd226fa-1995-4a14-8d46-e8c415bdd13c","name":"html","value":"={{ $json.data || '' }}","type":"string"},{"id":"ea5cb290-6cbc-49ba-84b5-a2ca73b11b27","name":"final_url","value":"={{ $('Loop je Lead1').item.json.business.website }}","type":"string"}]},"options":{}},"id":"727ac3f3-2797-4b73-a168-3f61aae9268e","name":"Prep Startseite","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-368]},{"parameters":{"jsCode":"/**\n * MONEYLAN Agent 2 — Linkfinder\n * Läuft im n8n Code-Node (Run Once for Each Item), nach dem Startseiten-Scrape.\n *\n * Findet im Startseiten-HTML die wichtigsten internen Unterseiten (Impressum, Menü,\n * Über-uns, Kontakt) und gibt die Startseite + bis zu 4 Unterseiten als EINZELNE Items\n * zurück, jeweils mit lead_id versehen. Der nachfolgende Oxylabs-HTTP-Node scrapt alle.\n *\n * INPUT ($json): lead_id, business{website,...}, score, html (Startseite), final_url\n * OUTPUT: Array von Items, jedes { lead_id, score, business, url, is_start, page_type }\n */\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    return new URL(href, baseUrl).href.split('#')[0];\n  } catch (e) { return null; }\n}\n\nfunction sameDomain(url, baseUrl) {\n  try {\n    return new URL(url).hostname.replace(/^www\\./, '') === new URL(baseUrl).hostname.replace(/^www\\./, '');\n  } catch (e) { return false; }\n}\n\n// Schlüsselseiten nach Priorität. Jede Kategorie max. 1 Treffer.\nconst CATEGORIES = [\n  { type: 'impressum',  re: /impressum|imprint|kontakt|contact/i },\n  { type: 'menue',      re: /speisekarte|speisen|men[uü]|karte|gerichte|essen/i },\n  { type: 'ueber_uns',  re: /[uü]ber[\\s_-]?uns|about|philosophie|geschichte|team|wir[\\s_-]?[uü]ber/i },\n  { type: 'datenschutz',re: /datenschutz|privacy/i }\n];\n\nfunction findKeyPages(html, baseUrl) {\n  const links = [];\n  const re = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const href = m[1];\n    const anchorText = m[2].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    const abs = normalizeUrl(href, baseUrl);\n    if (!abs) continue;\n    if (!sameDomain(abs, baseUrl)) continue;\n    if (/\\.(jpg|jpeg|png|gif|webp|svg|pdf|zip|mp4|css|js|ico)$/i.test(abs)) continue;\n    links.push({ url: abs, text: anchorText, href });\n  }\n\n  const chosen = [];\n  const usedUrls = new Set([normalizeUrl(baseUrl, baseUrl)]);\n  for (const cat of CATEGORIES) {\n    // Treffer: Schlüsselwort im Anchor-Text ODER im href/URL-Pfad\n    const hit = links.find(l =>\n      !usedUrls.has(l.url) && (cat.re.test(l.text) || cat.re.test(l.href))\n    );\n    if (hit) {\n      chosen.push({ url: hit.url, page_type: cat.type });\n      usedUrls.add(hit.url);\n    }\n    if (chosen.length >= 4) break;\n  }\n  return chosen;\n}\n\nfunction buildItems(input) {\n  const baseUrl = input.final_url || input.business?.website;\n  const html = String(input.html || '');\n  const keyPages = baseUrl ? findKeyPages(html, baseUrl) : [];\n\n  const common = { lead_id: input.lead_id, score: input.score, business: input.business };\n\n  const items = [\n    { ...common, url: baseUrl, is_start: true, page_type: 'startseite' }\n  ];\n  for (const p of keyPages) {\n    items.push({ ...common, url: p.url, is_start: false, page_type: p.page_type });\n  }\n  // n8n erwartet [{json:...}, ...] bei runOnceForEachItem mit Mehrfach-Output:\n  return items;\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { buildItems, findKeyPages, normalizeUrl, sameDomain };\n}\n\n// In n8n (Run Once for Each Item, return array): return buildItems($json).map(i => ({ json: i }));\n\n\nreturn buildItems($json).map(i => ({ json: i }));\n"},"id":"1e89b385-39f7-40d7-9b56-691e5820cac7","name":"Linkfinder","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-368]},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}},"id":"5f40ad4e-a49d-4338-82c0-651f5ff8750f","name":"Oxylabs: Seite scrapen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-368],"continueOnFail":true},{"parameters":{"jsCode":"\n// Alle Seiten-Items dieses Loop-Durchlaufs gehoeren zum selben Lead.\nconst items = $input.all();\nif (!items.length) return [];\n\n// Lead-Stammdaten: aus erstem Item ODER aus Prep Startseite (Fallback, da Oxylabs die Metadaten nicht durchreicht)\nconst first = items[0].json;\nconst lead_id = first.lead_id || $('Prep Startseite').first().json.lead_id || null;\nconst business = first.business || $('Prep Startseite').first().json.business || {};\nconst score = (first.score !== undefined) ? first.score : ($('Prep Startseite').first().json.score || 0);\n\n// Startseiten-URL als final_url bevorzugen\nlet final_url = business?.website || '';\nlet combined = '';\nfor (const it of items) {\n  const j = it.json;\n  const content = j.data || j.results?.[0]?.content || '';\n  const ptype = j.page_type || 'seite';\n  if (j.is_start) final_url = j.url || business?.website || final_url;\n  if (content) {\n    combined += `\\n<!-- ==== SEITE: ${ptype} (${j.url || final_url}) ==== -->\\n` + content;\n  }\n}\n\nreturn [{ json: { lead_id, score, business, final_url, html: combined } }];\n"},"id":"58e86662-82cd-448b-88df-4ab09186d11c","name":"HTML sammeln","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-368]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":"LEADS","mode":"name"},"options":{},"limit":1},"id":"04204d44-0050-4f5e-826a-47dd90aafef5","name":"Get row(s) in sheet1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1392,-320],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function cleanUrl(value) {\n  let url = String(value || '').trim();\n\n  // unsichtbare Zeichen und Leerzeichen entfernen\n  url = url.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  url = url.replace(/\\s+/g, '');\n\n  if (!url) return null;\n\n  // falls nur domain.de drinsteht\n  if (!/^https?:\\/\\//i.test(url)) {\n    url = 'https://' + url;\n  }\n\n  return url;\n}\n\nconst r = $json;\n\nreturn {\n  lead_id: String(r.lead_id || '').trim(),\n  score: Number(r.score || 0),\n  business: {\n    name: r.name ? String(r.name).trim() : null,\n    website: cleanUrl(r.website),\n    place_id: r.place_id ? String(r.place_id).trim() : null,\n    phone: r.phone ? String(r.phone).trim() : null,\n    address: r.address ? String(r.address).trim() : null,\n    google_rating: r.google_rating ? Number(r.google_rating) : null,\n    google_reviews_count: r.google_reviews ? Number(r.google_reviews) : null\n  }\n};"},"id":"db7a9eed-bab7-4e07-8987-2e7b52237b6e","name":"Map Sheet -> Lead1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47b15457-e215-4b01-bd92-fef5ef45e2f9","leftValue":"={{ $json.score }}","rightValue":20,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"532be85a-b37c-42e0-89f1-6e62c19cfc6f","name":"Filter: Score >= ","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-944,-320]},{"parameters":{"options":{}},"id":"88818a54-3fb2-4cf8-89eb-27ce76d34ac6","name":"Loop je Lead1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,-320]},{"parameters":{"url":"={{ $('Loop je Lead1').item.json.business.website }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}},"id":"9d11c7f4-44ea-4f3b-a4b8-9395a453f7f3","name":"Oxylabs: Startseite holen1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-368],"continueOnFail":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/**\n * MONEYLAN Agent 2 — Roh-Text-Extraktion\n * Läuft im n8n Code-Node (Run Once for Each Item), VOR dem LLM-Node.\n *\n * ERWARTETER INPUT pro Item ($json):\n *   business: { name, website, place_id, phone, address, ... }   (aus Agent 1)\n *   score:    number                                             (aus Agent 1)\n *   lead_id:  string\n *   html:     string  (Startseiten-HTML, frisch über Oxylabs geholt)\n *   final_url:string\n *\n * OUTPUT pro Item: Roh-Felder + bereinigter Volltext, die der LLM-Node dann strukturiert.\n *\n * Deterministisch, kein LLM. JSON-LD zuerst, Fließtext als Fallback.\n */\n\n// ---------- Hilfsfunktionen ----------\n\nfunction stripTags(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<!--[\\s\\S]*?-->/g, ' ');\n}\n\nfunction decodeEntities(s) {\n  return String(s || '')\n    .replace(/&nbsp;/gi, ' ').replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"').replace(/&#0?39;|&apos;/gi, \"'\")\n    .replace(/&lt;/gi, '<').replace(/&gt;/gi, '>')\n    .replace(/&auml;/gi, 'ä').replace(/&ouml;/gi, 'ö').replace(/&uuml;/gi, 'ü')\n    .replace(/&Auml;/gi, 'Ä').replace(/&Ouml;/gi, 'Ö').replace(/&Uuml;/gi, 'Ü')\n    .replace(/&szlig;/gi, 'ß').replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(+n));\n}\n\nfunction collapse(s) {\n  return decodeEntities(String(s || '')).replace(/\\s+/g, ' ').trim();\n}\n\n// ---------- JSON-LD (schema.org) ----------\n\nfunction extractJsonLd(html) {\n  const blocks = [];\n  const re = /<script[^>]+type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    try {\n      const parsed = JSON.parse(m[1].trim());\n      if (Array.isArray(parsed)) blocks.push(...parsed);\n      else if (parsed['@graph']) blocks.push(...parsed['@graph']);\n      else blocks.push(parsed);\n    } catch (e) { /* defektes JSON-LD ignorieren */ }\n  }\n  return blocks;\n}\n\nfunction pickBusinessNode(blocks) {\n  // Bevorzugt Restaurant/FoodEstablishment/LocalBusiness/Organization\n  const prio = ['Restaurant', 'FoodEstablishment', 'CafeOrCoffeeShop', 'BarOrPub',\n                'LocalBusiness', 'Organization'];\n  for (const t of prio) {\n    const hit = blocks.find(b => {\n      const type = b['@type'];\n      return type === t || (Array.isArray(type) && type.includes(t));\n    });\n    if (hit) return hit;\n  }\n  return blocks[0] || null;\n}\n\nfunction formatOpeningHours(node) {\n  // schema.org: openingHours (string|array) oder openingHoursSpecification (array of obj)\n  if (node.openingHours) {\n    return Array.isArray(node.openingHours) ? node.openingHours.join('; ') : String(node.openingHours);\n  }\n  const spec = node.openingHoursSpecification;\n  if (Array.isArray(spec)) {\n    return spec.map(s => {\n      const d = Array.isArray(s.dayOfWeek) ? s.dayOfWeek.join(',') : (s.dayOfWeek || '');\n      const day = String(d).replace(/https?:\\/\\/schema\\.org\\//g, '');\n      return `${day} ${s.opens || ''}-${s.closes || ''}`.trim();\n    }).join('; ');\n  }\n  return null;\n}\n\nfunction addrToString(addr) {\n  if (!addr) return null;\n  if (typeof addr === 'string') return collapse(addr);\n  const p = [addr.streetAddress, addr.postalCode, addr.addressLocality, addr.addressRegion]\n    .filter(Boolean).join(', ');\n  return p || null;\n}\n\nfunction extractMenuFromJsonLd(blocks, node) {\n  const items = [];\n  const collect = (menu) => {\n    const sections = menu.hasMenuSection\n      ? (Array.isArray(menu.hasMenuSection) ? menu.hasMenuSection : [menu.hasMenuSection])\n      : [];\n    for (const sec of sections) {\n      const its = sec.hasMenuItem\n        ? (Array.isArray(sec.hasMenuItem) ? sec.hasMenuItem : [sec.hasMenuItem])\n        : [];\n      for (const it of its) {\n        const price = it.offers && (it.offers.price || (Array.isArray(it.offers) && it.offers[0]?.price));\n        items.push(collapse([it.name, it.description, price ? `(${price})` : ''].filter(Boolean).join(' — ')));\n      }\n    }\n  };\n  const menuBlocks = blocks.filter(b => {\n    const t = b['@type'];\n    return t === 'Menu' || (Array.isArray(t) && t.includes('Menu'));\n  });\n  menuBlocks.forEach(collect);\n  if (node && node.hasMenu && typeof node.hasMenu === 'object') collect(node.hasMenu);\n  return items;\n}\n\n// ---------- Meta-Tags ----------\n\nfunction metaContent(html, key, attr) {\n  // attr = 'property' (og:) oder 'name'\n  const re = new RegExp(`<meta[^>]+${attr}=[\"']${key}[\"'][^>]*content=[\"']([^\"']*)[\"']`, 'i');\n  const m = html.match(re);\n  if (m) return collapse(m[1]);\n  // andere Attribut-Reihenfolge\n  const re2 = new RegExp(`<meta[^>]+content=[\"']([^\"']*)[\"'][^>]*${attr}=[\"']${key}[\"']`, 'i');\n  const m2 = html.match(re2);\n  return m2 ? collapse(m2[1]) : null;\n}\n\n// ---------- E-Mail + Social ----------\n\nfunction extractEmail(html) {\n  // mailto zuerst (verlässlichster), dann Text-Regex\n  const mailto = html.match(/mailto:([^\"'?>\\s]+)/i);\n  if (mailto) return mailto[1].toLowerCase();\n  const txt = stripTags(html);\n  const m = txt.match(/[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}/i);\n  if (m) {\n    const e = m[0].toLowerCase();\n    // offensichtliche Platzhalter/Bilddateien aussortieren\n    if (!/\\.(png|jpg|jpeg|gif|webp|svg)$/i.test(e) && !/example\\.(com|org)/.test(e)) return e;\n  }\n  return null;\n}\n\nfunction extractSocial(html) {\n  const patterns = {\n    facebook: /https?:\\/\\/(?:www\\.)?facebook\\.com\\/[A-Za-z0-9._%-]+/i,\n    instagram: /https?:\\/\\/(?:www\\.)?instagram\\.com\\/[A-Za-z0-9._%-]+/i,\n    twitter: /https?:\\/\\/(?:www\\.)?(?:twitter|x)\\.com\\/[A-Za-z0-9._%-]+/i,\n    tiktok: /https?:\\/\\/(?:www\\.)?tiktok\\.com\\/@[A-Za-z0-9._%-]+/i,\n    youtube: /https?:\\/\\/(?:www\\.)?youtube\\.com\\/[A-Za-z0-9@._%/-]+/i,\n    linkedin: /https?:\\/\\/(?:www\\.)?linkedin\\.com\\/[A-Za-z0-9._%/-]+/i\n  };\n  const out = [];\n  for (const [name, re] of Object.entries(patterns)) {\n    const m = html.match(re);\n    if (m) out.push({ platform: name, url: m[0] });\n  }\n  return out;\n}\n\n// ---------- Telefon ----------\n\nfunction extractPhone(html, fallback) {\n  const tel = html.match(/tel:([+0-9()\\/\\s-]{6,})/i);\n  if (tel) return collapse(tel[1]);\n  return fallback || null;\n}\n\n// ---------- Sichtbarer Fließtext + Überschriften ----------\n\nfunction extractHeadings(html) {\n  const out = [];\n  const re = /<h([1-3])[^>]*>([\\s\\S]*?)<\\/h\\1>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const txt = collapse(stripTags(m[2]).replace(/<[^>]+>/g, ' '));\n    if (txt && txt.length > 1 && txt.length < 200) out.push({ level: +m[1], text: txt });\n  }\n  return out.slice(0, 40);\n}\n\nfunction extractVisibleText(html) {\n  // Boilerplate-Container grob entfernen, dann Tags strippen\n  let h = stripTags(html);\n  h = h.replace(/<(nav|footer|header)[\\s\\S]*?<\\/\\1>/gi, ' ');\n  // Block-Elemente in Zeilenumbrüche wandeln, damit Wörter nicht verkleben\n  h = h.replace(/<\\/(p|div|li|h[1-6]|br|tr|section)[^>]*>/gi, '\\n').replace(/<br[^>]*>/gi, '\\n');\n  h = h.replace(/<[^>]+>/g, ' ');\n  h = decodeEntities(h);\n  // Zeilen säubern, sehr kurze/Menü-artige Fragmente bündeln\n  const lines = h.split(/\\n+/).map(l => l.replace(/\\s+/g, ' ').trim()).filter(l => l.length > 1);\n  // Duplikate raus, Reihenfolge erhalten\n  const seen = new Set();\n  const uniq = [];\n  for (const l of lines) {\n    const k = l.toLowerCase();\n    if (!seen.has(k)) { seen.add(k); uniq.push(l); }\n  }\n  const full = uniq.join('\\n');\n  // auf vernünftige Länge für LLM begrenzen (Anfang ist am wichtigsten)\n  return full.length > 12000 ? full.slice(0, 12000) + '\\n…[gekürzt]' : full;\n}\n\n// ---------- Hauptfunktion ----------\n\nfunction extractRaw(input) {\n  const business = input.business || {};\n  const html = String(input.html || '');\n\n  const blocks = extractJsonLd(html);\n  const node = pickBusinessNode(blocks);\n\n  const jsonld = {\n    name: node ? collapse(node.name) : null,\n    description: node ? collapse(node.description) : null,\n    address: node ? addrToString(node.address) : null,\n    opening_hours: node ? formatOpeningHours(node) : null,\n    cuisine: node && node.servesCuisine\n      ? (Array.isArray(node.servesCuisine) ? node.servesCuisine : [node.servesCuisine]).map(collapse)\n      : [],\n    price_range: node ? (node.priceRange || null) : null,\n    telephone: node ? (node.telephone || null) : null,\n    menu: extractMenuFromJsonLd(blocks, node)\n  };\n\n  const og = {\n    title: metaContent(html, 'og:title', 'property'),\n    description: metaContent(html, 'og:description', 'property'),\n    site_name: metaContent(html, 'og:site_name', 'property')\n  };\n  const metaDesc = metaContent(html, 'description', 'name');\n  const titleTag = (html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i) || [])[1];\n\n  const email = extractEmail(html);\n  const social = extractSocial(html);\n  const phone = jsonld.telephone || extractPhone(html, business.phone);\n\n  return {\n    // Pass-through für spätere Nodes\n    lead_id: input.lead_id || null,\n    score: input.score != null ? input.score : null,\n    source_url: input.final_url || business.website || null,\n    business_name_hint: business.name || null,\n    address_hint: business.address || null,\n\n    // verlässliche Roh-Fakten (für Merge nach dem LLM)\n    raw_facts: {\n      name: jsonld.name || og.site_name || og.title || collapse(titleTag) || business.name || null,\n      address: jsonld.address || business.address || null,\n      opening_hours: jsonld.opening_hours || null,\n      telephone: phone || null,\n      email: email || null,\n      social: social,\n      cuisine: jsonld.cuisine,\n      price_range: jsonld.price_range,\n      menu_jsonld: jsonld.menu\n    },\n\n    // Quellen-Material für den LLM\n    meta: { title_tag: collapse(titleTag), meta_description: metaDesc, og },\n    jsonld_description: jsonld.description,\n    headings: extractHeadings(html),\n    visible_text: extractVisibleText(html),\n\n    extraktion_quellen: {\n      json_ld: blocks.length > 0,\n      json_ld_business: !!node,\n      fliesstext: true\n    }\n  };\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { extractRaw, extractJsonLd, extractEmail, extractSocial, extractVisibleText };\n}\n\n// In n8n: return extractRaw($json);\n\n\nreturn extractRaw($json);\n"},"id":"308cf99a-eb9e-4446-8193-aa6e22c60d90","name":"Roh-Extraktion1","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-368]},{"parameters":{"assignments":{"assignments":[{"id":"55136c13-c807-446f-95e5-fde072c34007","name":"raw_material","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"e433a319-0d4b-4422-972f-75b5d0cc1c38","name":"lead_id","value":"={{ $json.lead_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e794fe85-6458-4555-ba2e-57301f79c2e7","name":"Build Prompt1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-368]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'Claude-Sonnet-4.6',\n  temperature: 0,\n  max_tokens: 2000,\n  messages: [\n    { role: 'system', content: \"Du bist ein pr\\u00e4ziser Daten-Extraktor f\\u00fcr Website-Texte lokaler Restaurants/Caf\\u00e9s/KMU. Du bekommst Roh-Material (JSON-LD-Fakten, Meta-Tags, \\u00dcberschriften, sichtbarer Flie\\u00dftext). Aufgabe: Inhalte in sauberes JSON \\u00fcberf\\u00fchren, das als Grundlage einer neuen Website dient. Antworte AUSSCHLIESSLICH mit einem g\\u00fcltigen JSON-Objekt, ohne Markdown, ohne Backticks, ohne Vor-/Nachtext. Erfinde KEINE Fakten: was nicht im Material steht, bleibt leer (\\\\\\\"\\\\\\\" oder []). Unter 'fakten' NUR was eindeutig im Text steht (nicht umformulieren). Unter 'interpretation' darfst du formulieren und ableiten. Schema (genau diese Schl\\u00fcssel):\\\\n{\\\\n  \\\\\\\"fakten\\\\\\\": {\\\\n    \\\\\\\"name\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"adresse\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"telefon\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"email\\\\\\\": \\\\\\\"\\\\\\\",\\\\n    \\\\\\\"oeffnungszeiten\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"speisekarte\\\\\\\": [], \\\\\\\"preise_erkannt\\\\\\\": false,\\\\n    \\\\\\\"reservierung_url\\\\\\\": null, \\\\\\\"lieferdienste\\\\\\\": [], \\\\\\\"socials\\\\\\\": []\\\\n  },\\\\n  \\\\\\\"interpretation\\\\\\\": {\\\\n    \\\\\\\"claim_slogan\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"ueber_uns\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"angebot\\\\\\\": [],\\\\n    \\\\\\\"spezialitaeten\\\\\\\": [], \\\\\\\"kueche\\\\\\\": [], \\\\\\\"events\\\\\\\": [], \\\\\\\"catering\\\\\\\": null,\\\\n    \\\\\\\"atmosphaere\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"zielgruppe\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"positionierung\\\\\\\": \\\\\\\"\\\\\\\",\\\\n    \\\\\\\"tonalitaet\\\\\\\": {\\\\\\\"ton\\\\\\\": [], \\\\\\\"beschreibung\\\\\\\": \\\\\\\"\\\\\\\"}\\\\n  }\\\\n}\" },\n    { role: 'user', content: 'Roh-Material:\\n' + $json.raw_material }\n  ]\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":90000}},"id":"40f346ca-d1e8-49f6-bbd2-5cb9017970dd","name":"LLM: Strukturieren (Poe Sonnet)1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-368],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\n// $json = kombinierte Daten aus \"Merge Roh + LLM\" Set-Node\n//   $json._raw = Roh-Extraktion output\n//   $json._llm = LLM choices response\n\nconst rf  = ($json._raw_facts) || {};\nconst rawFull = $json._raw || {};\nconst llmResp = $json._llm || {};\nconst warnings = [];\n\nfunction parseLLM(resp) {\n  try {\n    let c = resp?.choices?.[0]?.message?.content || '';\n    c = String(c).trim().replace(/^```(?:json)?[\\r\\n]*/i,'').replace(/[\\r\\n]*```\\s*$/,'').trim();\n    const m = c.match(/\\{[\\s\\S]*\\}/);\n    if (m) return JSON.parse(m[0]);\n    return JSON.parse(c);\n  } catch(e) { return null; }\n}\n\nlet llm = parseLLM(llmResp);\nif (!llm) { warnings.push('llm_json_failed'); llm = {}; }\n\nconst fakten = {\n  name:            rf.name          || llm.fakten?.name          || rawFull.business_name_hint || '',\n  adresse:         rf.address       || llm.fakten?.adresse        || '',\n  telefon:         rf.telephone     || llm.fakten?.telefon        || '',\n  email:           rf.email         || llm.fakten?.email          || '',\n  oeffnungszeiten: rf.opening_hours || llm.fakten?.oeffnungszeiten || '',\n  speisekarte:     (rf.menu_jsonld?.length ? rf.menu_jsonld : (llm.fakten?.speisekarte || [])),\n  preise_erkannt:  !!(llm.fakten?.preise_erkannt),\n  reservierung_url: llm.fakten?.reservierung_url || null,\n  lieferdienste:   llm.fakten?.lieferdienste || [],\n  socials:         (rf.social?.length ? rf.social.map(s=>({platform:s.platform||'social',url:s.url}))\n                    : (llm.fakten?.socials || [])),\n};\nconst interpretation = {\n  claim_slogan:  llm.interpretation?.claim_slogan  || llm.identitaet?.claim_slogan  || '',\n  ueber_uns:     llm.interpretation?.ueber_uns     || llm.identitaet?.ueber_uns     || '',\n  angebot:       llm.interpretation?.angebot       || llm.angebot?.leistungen       || [],\n  spezialitaeten: llm.interpretation?.spezialitaeten || llm.angebot?.spezialitaeten || (rf.cuisine||[]),\n  kueche:        llm.interpretation?.kueche        || llm.angebot?.kueche           || (rf.cuisine||[]),\n  events:        llm.interpretation?.events        || [],\n  catering:      llm.interpretation?.catering      || null,\n  atmosphaere:   llm.interpretation?.atmosphaere   || '',\n  zielgruppe:    llm.interpretation?.zielgruppe    || '',\n  positionierung: llm.interpretation?.positionierung || '',\n  tonalitaet: {\n    ton:          llm.interpretation?.tonalitaet?.ton || llm.tonalitaet?.ton || [],\n    beschreibung: llm.interpretation?.tonalitaet?.beschreibung || llm.tonalitaet?.beschreibung || '',\n  },\n};\nconst missing_fields = [];\nif (!fakten.oeffnungszeiten)            missing_fields.push('keine_oeffnungszeiten');\nif (!fakten.speisekarte?.length)        missing_fields.push('keine_speisekarte');\nif (!fakten.email)                      missing_fields.push('keine_email');\nif (!interpretation.ueber_uns)          missing_fields.push('kein_ueber_uns');\nif (!fakten.adresse)                    missing_fields.push('keine_adresse');\nif (!fakten.telefon)                    missing_fields.push('kein_telefon');\nif (!fakten.socials?.length)            missing_fields.push('keine_socials');\nif (!interpretation.angebot?.length)    missing_fields.push('kein_angebot');\n\nlet conf = 1.0;\nif (warnings.includes('llm_json_failed')) conf -= 0.35;\nif (rawFull.scrape_failed)              conf -= 0.30;\nif (missing_fields.length >= 4)         conf -= 0.20;\nelse if (missing_fields.length >= 2)    conf -= 0.10;\nconf = Math.round(Math.max(0.1, Math.min(1.0, conf)) * 100) / 100;\n\nconst content = {\n  schema_version: '2.0', agent: 'text_extractor',\n  lead_id:        rawFull.lead_id || '',\n  source_url:     rawFull.source_url || '',\n  crawled_urls:   rawFull.crawled_urls || [],\n  generated_at:   new Date().toISOString(),\n  fakten, interpretation,\n  roh_reserve:    (rawFull.visible_text || '').slice(0, 5000),\n  quellen: { json_ld: !!rf.json_ld_found, json_ld_business: !!rf.json_ld_business, fliesstext: true, pdf_menu: false },\n  missing_fields, confidence: conf, warnings,\n  logs: [{ ts: new Date().toISOString(), step: 'merge_complete', status: 'ok', missing_count: missing_fields.length }],\n};\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${rawFull.lead_id}`;\n  if (rawFull.lead_id) { fs.mkdirSync(dir,{recursive:true}); fs.writeFileSync(`${dir}/content.json`,JSON.stringify(content,null,2),'utf8'); }\n} catch(e) { content.warnings.push('file_write_failed'); }\nreturn content;\n"},"id":"f2313544-f9ab-4774-8db0-f58c5910aebc","name":"Merge & Manifest1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-368],"continueOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","email":"={{ $json.fakten?.email }}","text_extrahiert":"={{ 'ja' }}","confidence":"={{ $json.confidence }}"},"matchingColumns":["lead_id"]},"options":{},"authentication":"serviceAccount"},"id":"4ef3d720-7ab0-4334-a533-81dd08890056","name":"Sheet: E-Mail nachtragen1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,-368],"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"CONTENT"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","name":"={{ $json.fakten?.name }}","claim_slogan":"={{ $json.interpretation?.claim_slogan }}","ueber_uns":"={{ $json.interpretation?.ueber_uns }}","speisekarte":"={{ ($json.fakten?.speisekarte || []).map(s => typeof s === 'string' ? s : s.name || JSON.stringify(s)).join(' | ') }}","spezialitaeten":"={{ ($json.interpretation?.spezialitaeten || []).join(' | ') }}","kueche":"={{ ($json.interpretation?.kueche || []).join(' | ') }}","adresse":"={{ $json.fakten?.adresse }}","oeffnungszeiten":"={{ $json.fakten?.oeffnungszeiten }}","telefon":"={{ $json.fakten?.telefon }}","email":"={{ $json.fakten?.email }}","atmosphaere":"={{ $json.interpretation?.atmosphaere }}","zielgruppe":"={{ $json.interpretation?.zielgruppe }}","ton":"={{ ($json.interpretation?.tonalitaet?.ton || []).join(', ') }}","ton_beschreibung":"={{ $json.interpretation?.tonalitaet?.beschreibung }}","missing_fields":"={{ ($json.missing_fields || []).join(', ') }}","confidence":"={{ $json.confidence }}","warnings":"={{ ($json.warnings || []).join(', ') }}","roh_text":"={{ ($json.roh_reserve || '').slice(0, 1000) }}","generated_at":"={{ $json.generated_at }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"claim_slogan","displayName":"claim_slogan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ueber_uns","displayName":"ueber_uns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leistungen","displayName":"leistungen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speisekarte","displayName":"speisekarte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"spezialitaeten","displayName":"spezialitaeten","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kueche","displayName":"kueche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adresse","displayName":"adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"oeffnungszeiten","displayName":"oeffnungszeiten","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefon","displayName":"telefon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"social","displayName":"social","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ton","displayName":"ton","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ton_beschreibung","displayName":"ton_beschreibung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"roh_text","displayName":"roh_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_fields","displayName":"missing_fields","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"atmosphaere","displayName":"atmosphaere","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zielgruppe","displayName":"zielgruppe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"48477c18-a3cc-4471-8565-634ed399b0a6","name":"Sheet: Content schreiben1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,-176],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1616,-320],"id":"cba05387-b1ee-4fcc-b8e8-deaeed40361a","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// $json = LLM chatcmpl response\n// $('Roh-Extraktion1').item.json = Roh-Extraktion output\nlet rohData = null;\ntry { rohData = $('Roh-Extraktion1').item.json; } catch(e) {}\n\nreturn {\n  _raw:       rohData || {},\n  _raw_facts: (rohData && rohData.raw_facts) || {},\n  _llm:       $json,\n};"},"id":"822129bf-dac6-4479-aa1a-89cd4c7011e7","name":"Merge Roh + LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-368]},{"id":"webhook-agent2","name":"Webhook: agent2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent2-start","responseMode":"onReceived","options":{}},"webhookId":"dcb1a929-1fb5-4e34-99e1-acbb3f60debc"},{"id":"webhook-resp-agent2","name":"Webhook Response: agent2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent2', started_at: new Date().toISOString()}) }}"}}},{"id":"0dbb9c98-b542-42e5-85bb-3f28ade0faca","name":"Trigger Agent 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent3-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}}}],"connections":{"Prep Startseite":{"main":[[{"node":"Linkfinder","type":"main","index":0}]]},"Linkfinder":{"main":[[{"node":"Oxylabs: Seite scrapen","type":"main","index":0}]]},"Oxylabs: Seite scrapen":{"main":[[{"node":"HTML sammeln","type":"main","index":0}]]},"HTML sammeln":{"main":[[{"node":"Roh-Extraktion1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Map Sheet -> Lead1","type":"main","index":0}]]},"Map Sheet -> Lead1":{"main":[[{"node":"Filter: Score >= ","type":"main","index":0}]]},"Filter: Score >= ":{"main":[[{"node":"Loop je Lead1","type":"main","index":0}]]},"Loop je Lead1":{"main":[[],[{"node":"Oxylabs: Startseite holen1","type":"main","index":0}]]},"Oxylabs: Startseite holen1":{"main":[[{"node":"Prep Startseite","type":"main","index":0}]]},"Roh-Extraktion1":{"main":[[{"node":"Build Prompt1","type":"main","index":0}]]},"Build Prompt1":{"main":[[{"node":"LLM: Strukturieren (Poe Sonnet)1","type":"main","index":0}]]},"LLM: Strukturieren (Poe Sonnet)1":{"main":[[{"node":"Merge Roh + LLM","type":"main","index":0}]]},"Merge & Manifest1":{"main":[[{"node":"Sheet: E-Mail nachtragen1","type":"main","index":0},{"node":"Sheet: Content schreiben1","type":"main","index":0}]]},"Sheet: E-Mail nachtragen1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Merge Roh + LLM":{"main":[[{"node":"Merge & Manifest1","type":"main","index":0}]]},"Sheet: Content schreiben1":{"main":[[{"node":"Trigger Agent 3","type":"main","index":0}]]},"Webhook: agent2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","activeVersionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","versionCounter":154,"triggerCount":1,"shared":[{"updatedAt":"2026-06-06T18:02:26.231Z","createdAt":"2026-06-06T18:02:26.231Z","role":"workflow:owner","workflowId":"04XC92MJvaYKtjbi","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[{"updatedAt":"2026-06-06T10:35:23.364Z","createdAt":"2026-06-06T10:35:23.364Z","id":"WOLG6zr5SKTpLmpy","name":"MONEYLAN"}],"activeVersion":{"updatedAt":"2026-06-08T12:27:26.364Z","createdAt":"2026-06-08T12:27:26.364Z","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","workflowId":"04XC92MJvaYKtjbi","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6ed602cf-19a4-43f2-ae43-4f5d6f2338f4","name":"business","value":"={{ $('Loop je Lead1').item.json.business }}","type":"object"},{"id":"d12c9e78-755f-423b-ab36-ec2ee3ece93c","name":"score","value":"={{ $('Loop je Lead1').item.json.score }}","type":"number"},{"id":"b352f6f8-3737-4080-b297-c03c8d7aa2c4","name":"lead_id","value":"={{ $('Loop je Lead1').item.json.lead_id }}","type":"string"},{"id":"4dd226fa-1995-4a14-8d46-e8c415bdd13c","name":"html","value":"={{ $json.data || '' }}","type":"string"},{"id":"ea5cb290-6cbc-49ba-84b5-a2ca73b11b27","name":"final_url","value":"={{ $('Loop je Lead1').item.json.business.website }}","type":"string"}]},"options":{}},"id":"727ac3f3-2797-4b73-a168-3f61aae9268e","name":"Prep Startseite","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-368]},{"parameters":{"jsCode":"/**\n * MONEYLAN Agent 2 — Linkfinder\n * Läuft im n8n Code-Node (Run Once for Each Item), nach dem Startseiten-Scrape.\n *\n * Findet im Startseiten-HTML die wichtigsten internen Unterseiten (Impressum, Menü,\n * Über-uns, Kontakt) und gibt die Startseite + bis zu 4 Unterseiten als EINZELNE Items\n * zurück, jeweils mit lead_id versehen. Der nachfolgende Oxylabs-HTTP-Node scrapt alle.\n *\n * INPUT ($json): lead_id, business{website,...}, score, html (Startseite), final_url\n * OUTPUT: Array von Items, jedes { lead_id, score, business, url, is_start, page_type }\n */\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    return new URL(href, baseUrl).href.split('#')[0];\n  } catch (e) { return null; }\n}\n\nfunction sameDomain(url, baseUrl) {\n  try {\n    return new URL(url).hostname.replace(/^www\\./, '') === new URL(baseUrl).hostname.replace(/^www\\./, '');\n  } catch (e) { return false; }\n}\n\n// Schlüsselseiten nach Priorität. Jede Kategorie max. 1 Treffer.\nconst CATEGORIES = [\n  { type: 'impressum',  re: /impressum|imprint|kontakt|contact/i },\n  { type: 'menue',      re: /speisekarte|speisen|men[uü]|karte|gerichte|essen/i },\n  { type: 'ueber_uns',  re: /[uü]ber[\\s_-]?uns|about|philosophie|geschichte|team|wir[\\s_-]?[uü]ber/i },\n  { type: 'datenschutz',re: /datenschutz|privacy/i }\n];\n\nfunction findKeyPages(html, baseUrl) {\n  const links = [];\n  const re = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const href = m[1];\n    const anchorText = m[2].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    const abs = normalizeUrl(href, baseUrl);\n    if (!abs) continue;\n    if (!sameDomain(abs, baseUrl)) continue;\n    if (/\\.(jpg|jpeg|png|gif|webp|svg|pdf|zip|mp4|css|js|ico)$/i.test(abs)) continue;\n    links.push({ url: abs, text: anchorText, href });\n  }\n\n  const chosen = [];\n  const usedUrls = new Set([normalizeUrl(baseUrl, baseUrl)]);\n  for (const cat of CATEGORIES) {\n    // Treffer: Schlüsselwort im Anchor-Text ODER im href/URL-Pfad\n    const hit = links.find(l =>\n      !usedUrls.has(l.url) && (cat.re.test(l.text) || cat.re.test(l.href))\n    );\n    if (hit) {\n      chosen.push({ url: hit.url, page_type: cat.type });\n      usedUrls.add(hit.url);\n    }\n    if (chosen.length >= 4) break;\n  }\n  return chosen;\n}\n\nfunction buildItems(input) {\n  const baseUrl = input.final_url || input.business?.website;\n  const html = String(input.html || '');\n  const keyPages = baseUrl ? findKeyPages(html, baseUrl) : [];\n\n  const common = { lead_id: input.lead_id, score: input.score, business: input.business };\n\n  const items = [\n    { ...common, url: baseUrl, is_start: true, page_type: 'startseite' }\n  ];\n  for (const p of keyPages) {\n    items.push({ ...common, url: p.url, is_start: false, page_type: p.page_type });\n  }\n  // n8n erwartet [{json:...}, ...] bei runOnceForEachItem mit Mehrfach-Output:\n  return items;\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { buildItems, findKeyPages, normalizeUrl, sameDomain };\n}\n\n// In n8n (Run Once for Each Item, return array): return buildItems($json).map(i => ({ json: i }));\n\n\nreturn buildItems($json).map(i => ({ json: i }));\n"},"id":"1e89b385-39f7-40d7-9b56-691e5820cac7","name":"Linkfinder","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-368]},{"parameters":{"url":"={{ $json.url }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}},"id":"5f40ad4e-a49d-4338-82c0-651f5ff8750f","name":"Oxylabs: Seite scrapen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-368],"continueOnFail":true},{"parameters":{"jsCode":"\n// Alle Seiten-Items dieses Loop-Durchlaufs gehoeren zum selben Lead.\nconst items = $input.all();\nif (!items.length) return [];\n\n// Lead-Stammdaten: aus erstem Item ODER aus Prep Startseite (Fallback, da Oxylabs die Metadaten nicht durchreicht)\nconst first = items[0].json;\nconst lead_id = first.lead_id || $('Prep Startseite').first().json.lead_id || null;\nconst business = first.business || $('Prep Startseite').first().json.business || {};\nconst score = (first.score !== undefined) ? first.score : ($('Prep Startseite').first().json.score || 0);\n\n// Startseiten-URL als final_url bevorzugen\nlet final_url = business?.website || '';\nlet combined = '';\nfor (const it of items) {\n  const j = it.json;\n  const content = j.data || j.results?.[0]?.content || '';\n  const ptype = j.page_type || 'seite';\n  if (j.is_start) final_url = j.url || business?.website || final_url;\n  if (content) {\n    combined += `\\n<!-- ==== SEITE: ${ptype} (${j.url || final_url}) ==== -->\\n` + content;\n  }\n}\n\nreturn [{ json: { lead_id, score, business, final_url, html: combined } }];\n"},"id":"58e86662-82cd-448b-88df-4ab09186d11c","name":"HTML sammeln","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-368]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":"LEADS","mode":"name"},"options":{},"limit":1},"id":"04204d44-0050-4f5e-826a-47dd90aafef5","name":"Get row(s) in sheet1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1392,-320],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function cleanUrl(value) {\n  let url = String(value || '').trim();\n\n  // unsichtbare Zeichen und Leerzeichen entfernen\n  url = url.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  url = url.replace(/\\s+/g, '');\n\n  if (!url) return null;\n\n  // falls nur domain.de drinsteht\n  if (!/^https?:\\/\\//i.test(url)) {\n    url = 'https://' + url;\n  }\n\n  return url;\n}\n\nconst r = $json;\n\nreturn {\n  lead_id: String(r.lead_id || '').trim(),\n  score: Number(r.score || 0),\n  business: {\n    name: r.name ? String(r.name).trim() : null,\n    website: cleanUrl(r.website),\n    place_id: r.place_id ? String(r.place_id).trim() : null,\n    phone: r.phone ? String(r.phone).trim() : null,\n    address: r.address ? String(r.address).trim() : null,\n    google_rating: r.google_rating ? Number(r.google_rating) : null,\n    google_reviews_count: r.google_reviews ? Number(r.google_reviews) : null\n  }\n};"},"id":"db7a9eed-bab7-4e07-8987-2e7b52237b6e","name":"Map Sheet -> Lead1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47b15457-e215-4b01-bd92-fef5ef45e2f9","leftValue":"={{ $json.score }}","rightValue":20,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"532be85a-b37c-42e0-89f1-6e62c19cfc6f","name":"Filter: Score >= ","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-944,-320]},{"parameters":{"options":{}},"id":"88818a54-3fb2-4cf8-89eb-27ce76d34ac6","name":"Loop je Lead1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,-320]},{"parameters":{"url":"={{ $('Loop je Lead1').item.json.business.website }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}},"id":"9d11c7f4-44ea-4f3b-a4b8-9395a453f7f3","name":"Oxylabs: Startseite holen1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-368],"continueOnFail":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/**\n * MONEYLAN Agent 2 — Roh-Text-Extraktion\n * Läuft im n8n Code-Node (Run Once for Each Item), VOR dem LLM-Node.\n *\n * ERWARTETER INPUT pro Item ($json):\n *   business: { name, website, place_id, phone, address, ... }   (aus Agent 1)\n *   score:    number                                             (aus Agent 1)\n *   lead_id:  string\n *   html:     string  (Startseiten-HTML, frisch über Oxylabs geholt)\n *   final_url:string\n *\n * OUTPUT pro Item: Roh-Felder + bereinigter Volltext, die der LLM-Node dann strukturiert.\n *\n * Deterministisch, kein LLM. JSON-LD zuerst, Fließtext als Fallback.\n */\n\n// ---------- Hilfsfunktionen ----------\n\nfunction stripTags(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<!--[\\s\\S]*?-->/g, ' ');\n}\n\nfunction decodeEntities(s) {\n  return String(s || '')\n    .replace(/&nbsp;/gi, ' ').replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"').replace(/&#0?39;|&apos;/gi, \"'\")\n    .replace(/&lt;/gi, '<').replace(/&gt;/gi, '>')\n    .replace(/&auml;/gi, 'ä').replace(/&ouml;/gi, 'ö').replace(/&uuml;/gi, 'ü')\n    .replace(/&Auml;/gi, 'Ä').replace(/&Ouml;/gi, 'Ö').replace(/&Uuml;/gi, 'Ü')\n    .replace(/&szlig;/gi, 'ß').replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(+n));\n}\n\nfunction collapse(s) {\n  return decodeEntities(String(s || '')).replace(/\\s+/g, ' ').trim();\n}\n\n// ---------- JSON-LD (schema.org) ----------\n\nfunction extractJsonLd(html) {\n  const blocks = [];\n  const re = /<script[^>]+type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    try {\n      const parsed = JSON.parse(m[1].trim());\n      if (Array.isArray(parsed)) blocks.push(...parsed);\n      else if (parsed['@graph']) blocks.push(...parsed['@graph']);\n      else blocks.push(parsed);\n    } catch (e) { /* defektes JSON-LD ignorieren */ }\n  }\n  return blocks;\n}\n\nfunction pickBusinessNode(blocks) {\n  // Bevorzugt Restaurant/FoodEstablishment/LocalBusiness/Organization\n  const prio = ['Restaurant', 'FoodEstablishment', 'CafeOrCoffeeShop', 'BarOrPub',\n                'LocalBusiness', 'Organization'];\n  for (const t of prio) {\n    const hit = blocks.find(b => {\n      const type = b['@type'];\n      return type === t || (Array.isArray(type) && type.includes(t));\n    });\n    if (hit) return hit;\n  }\n  return blocks[0] || null;\n}\n\nfunction formatOpeningHours(node) {\n  // schema.org: openingHours (string|array) oder openingHoursSpecification (array of obj)\n  if (node.openingHours) {\n    return Array.isArray(node.openingHours) ? node.openingHours.join('; ') : String(node.openingHours);\n  }\n  const spec = node.openingHoursSpecification;\n  if (Array.isArray(spec)) {\n    return spec.map(s => {\n      const d = Array.isArray(s.dayOfWeek) ? s.dayOfWeek.join(',') : (s.dayOfWeek || '');\n      const day = String(d).replace(/https?:\\/\\/schema\\.org\\//g, '');\n      return `${day} ${s.opens || ''}-${s.closes || ''}`.trim();\n    }).join('; ');\n  }\n  return null;\n}\n\nfunction addrToString(addr) {\n  if (!addr) return null;\n  if (typeof addr === 'string') return collapse(addr);\n  const p = [addr.streetAddress, addr.postalCode, addr.addressLocality, addr.addressRegion]\n    .filter(Boolean).join(', ');\n  return p || null;\n}\n\nfunction extractMenuFromJsonLd(blocks, node) {\n  const items = [];\n  const collect = (menu) => {\n    const sections = menu.hasMenuSection\n      ? (Array.isArray(menu.hasMenuSection) ? menu.hasMenuSection : [menu.hasMenuSection])\n      : [];\n    for (const sec of sections) {\n      const its = sec.hasMenuItem\n        ? (Array.isArray(sec.hasMenuItem) ? sec.hasMenuItem : [sec.hasMenuItem])\n        : [];\n      for (const it of its) {\n        const price = it.offers && (it.offers.price || (Array.isArray(it.offers) && it.offers[0]?.price));\n        items.push(collapse([it.name, it.description, price ? `(${price})` : ''].filter(Boolean).join(' — ')));\n      }\n    }\n  };\n  const menuBlocks = blocks.filter(b => {\n    const t = b['@type'];\n    return t === 'Menu' || (Array.isArray(t) && t.includes('Menu'));\n  });\n  menuBlocks.forEach(collect);\n  if (node && node.hasMenu && typeof node.hasMenu === 'object') collect(node.hasMenu);\n  return items;\n}\n\n// ---------- Meta-Tags ----------\n\nfunction metaContent(html, key, attr) {\n  // attr = 'property' (og:) oder 'name'\n  const re = new RegExp(`<meta[^>]+${attr}=[\"']${key}[\"'][^>]*content=[\"']([^\"']*)[\"']`, 'i');\n  const m = html.match(re);\n  if (m) return collapse(m[1]);\n  // andere Attribut-Reihenfolge\n  const re2 = new RegExp(`<meta[^>]+content=[\"']([^\"']*)[\"'][^>]*${attr}=[\"']${key}[\"']`, 'i');\n  const m2 = html.match(re2);\n  return m2 ? collapse(m2[1]) : null;\n}\n\n// ---------- E-Mail + Social ----------\n\nfunction extractEmail(html) {\n  // mailto zuerst (verlässlichster), dann Text-Regex\n  const mailto = html.match(/mailto:([^\"'?>\\s]+)/i);\n  if (mailto) return mailto[1].toLowerCase();\n  const txt = stripTags(html);\n  const m = txt.match(/[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}/i);\n  if (m) {\n    const e = m[0].toLowerCase();\n    // offensichtliche Platzhalter/Bilddateien aussortieren\n    if (!/\\.(png|jpg|jpeg|gif|webp|svg)$/i.test(e) && !/example\\.(com|org)/.test(e)) return e;\n  }\n  return null;\n}\n\nfunction extractSocial(html) {\n  const patterns = {\n    facebook: /https?:\\/\\/(?:www\\.)?facebook\\.com\\/[A-Za-z0-9._%-]+/i,\n    instagram: /https?:\\/\\/(?:www\\.)?instagram\\.com\\/[A-Za-z0-9._%-]+/i,\n    twitter: /https?:\\/\\/(?:www\\.)?(?:twitter|x)\\.com\\/[A-Za-z0-9._%-]+/i,\n    tiktok: /https?:\\/\\/(?:www\\.)?tiktok\\.com\\/@[A-Za-z0-9._%-]+/i,\n    youtube: /https?:\\/\\/(?:www\\.)?youtube\\.com\\/[A-Za-z0-9@._%/-]+/i,\n    linkedin: /https?:\\/\\/(?:www\\.)?linkedin\\.com\\/[A-Za-z0-9._%/-]+/i\n  };\n  const out = [];\n  for (const [name, re] of Object.entries(patterns)) {\n    const m = html.match(re);\n    if (m) out.push({ platform: name, url: m[0] });\n  }\n  return out;\n}\n\n// ---------- Telefon ----------\n\nfunction extractPhone(html, fallback) {\n  const tel = html.match(/tel:([+0-9()\\/\\s-]{6,})/i);\n  if (tel) return collapse(tel[1]);\n  return fallback || null;\n}\n\n// ---------- Sichtbarer Fließtext + Überschriften ----------\n\nfunction extractHeadings(html) {\n  const out = [];\n  const re = /<h([1-3])[^>]*>([\\s\\S]*?)<\\/h\\1>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const txt = collapse(stripTags(m[2]).replace(/<[^>]+>/g, ' '));\n    if (txt && txt.length > 1 && txt.length < 200) out.push({ level: +m[1], text: txt });\n  }\n  return out.slice(0, 40);\n}\n\nfunction extractVisibleText(html) {\n  // Boilerplate-Container grob entfernen, dann Tags strippen\n  let h = stripTags(html);\n  h = h.replace(/<(nav|footer|header)[\\s\\S]*?<\\/\\1>/gi, ' ');\n  // Block-Elemente in Zeilenumbrüche wandeln, damit Wörter nicht verkleben\n  h = h.replace(/<\\/(p|div|li|h[1-6]|br|tr|section)[^>]*>/gi, '\\n').replace(/<br[^>]*>/gi, '\\n');\n  h = h.replace(/<[^>]+>/g, ' ');\n  h = decodeEntities(h);\n  // Zeilen säubern, sehr kurze/Menü-artige Fragmente bündeln\n  const lines = h.split(/\\n+/).map(l => l.replace(/\\s+/g, ' ').trim()).filter(l => l.length > 1);\n  // Duplikate raus, Reihenfolge erhalten\n  const seen = new Set();\n  const uniq = [];\n  for (const l of lines) {\n    const k = l.toLowerCase();\n    if (!seen.has(k)) { seen.add(k); uniq.push(l); }\n  }\n  const full = uniq.join('\\n');\n  // auf vernünftige Länge für LLM begrenzen (Anfang ist am wichtigsten)\n  return full.length > 12000 ? full.slice(0, 12000) + '\\n…[gekürzt]' : full;\n}\n\n// ---------- Hauptfunktion ----------\n\nfunction extractRaw(input) {\n  const business = input.business || {};\n  const html = String(input.html || '');\n\n  const blocks = extractJsonLd(html);\n  const node = pickBusinessNode(blocks);\n\n  const jsonld = {\n    name: node ? collapse(node.name) : null,\n    description: node ? collapse(node.description) : null,\n    address: node ? addrToString(node.address) : null,\n    opening_hours: node ? formatOpeningHours(node) : null,\n    cuisine: node && node.servesCuisine\n      ? (Array.isArray(node.servesCuisine) ? node.servesCuisine : [node.servesCuisine]).map(collapse)\n      : [],\n    price_range: node ? (node.priceRange || null) : null,\n    telephone: node ? (node.telephone || null) : null,\n    menu: extractMenuFromJsonLd(blocks, node)\n  };\n\n  const og = {\n    title: metaContent(html, 'og:title', 'property'),\n    description: metaContent(html, 'og:description', 'property'),\n    site_name: metaContent(html, 'og:site_name', 'property')\n  };\n  const metaDesc = metaContent(html, 'description', 'name');\n  const titleTag = (html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i) || [])[1];\n\n  const email = extractEmail(html);\n  const social = extractSocial(html);\n  const phone = jsonld.telephone || extractPhone(html, business.phone);\n\n  return {\n    // Pass-through für spätere Nodes\n    lead_id: input.lead_id || null,\n    score: input.score != null ? input.score : null,\n    source_url: input.final_url || business.website || null,\n    business_name_hint: business.name || null,\n    address_hint: business.address || null,\n\n    // verlässliche Roh-Fakten (für Merge nach dem LLM)\n    raw_facts: {\n      name: jsonld.name || og.site_name || og.title || collapse(titleTag) || business.name || null,\n      address: jsonld.address || business.address || null,\n      opening_hours: jsonld.opening_hours || null,\n      telephone: phone || null,\n      email: email || null,\n      social: social,\n      cuisine: jsonld.cuisine,\n      price_range: jsonld.price_range,\n      menu_jsonld: jsonld.menu\n    },\n\n    // Quellen-Material für den LLM\n    meta: { title_tag: collapse(titleTag), meta_description: metaDesc, og },\n    jsonld_description: jsonld.description,\n    headings: extractHeadings(html),\n    visible_text: extractVisibleText(html),\n\n    extraktion_quellen: {\n      json_ld: blocks.length > 0,\n      json_ld_business: !!node,\n      fliesstext: true\n    }\n  };\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { extractRaw, extractJsonLd, extractEmail, extractSocial, extractVisibleText };\n}\n\n// In n8n: return extractRaw($json);\n\n\nreturn extractRaw($json);\n"},"id":"308cf99a-eb9e-4446-8193-aa6e22c60d90","name":"Roh-Extraktion1","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-368]},{"parameters":{"assignments":{"assignments":[{"id":"55136c13-c807-446f-95e5-fde072c34007","name":"raw_material","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"e433a319-0d4b-4422-972f-75b5d0cc1c38","name":"lead_id","value":"={{ $json.lead_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"e794fe85-6458-4555-ba2e-57301f79c2e7","name":"Build Prompt1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-368]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'Claude-Sonnet-4.6',\n  temperature: 0,\n  max_tokens: 2000,\n  messages: [\n    { role: 'system', content: \"Du bist ein pr\\u00e4ziser Daten-Extraktor f\\u00fcr Website-Texte lokaler Restaurants/Caf\\u00e9s/KMU. Du bekommst Roh-Material (JSON-LD-Fakten, Meta-Tags, \\u00dcberschriften, sichtbarer Flie\\u00dftext). Aufgabe: Inhalte in sauberes JSON \\u00fcberf\\u00fchren, das als Grundlage einer neuen Website dient. Antworte AUSSCHLIESSLICH mit einem g\\u00fcltigen JSON-Objekt, ohne Markdown, ohne Backticks, ohne Vor-/Nachtext. Erfinde KEINE Fakten: was nicht im Material steht, bleibt leer (\\\\\\\"\\\\\\\" oder []). Unter 'fakten' NUR was eindeutig im Text steht (nicht umformulieren). Unter 'interpretation' darfst du formulieren und ableiten. Schema (genau diese Schl\\u00fcssel):\\\\n{\\\\n  \\\\\\\"fakten\\\\\\\": {\\\\n    \\\\\\\"name\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"adresse\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"telefon\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"email\\\\\\\": \\\\\\\"\\\\\\\",\\\\n    \\\\\\\"oeffnungszeiten\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"speisekarte\\\\\\\": [], \\\\\\\"preise_erkannt\\\\\\\": false,\\\\n    \\\\\\\"reservierung_url\\\\\\\": null, \\\\\\\"lieferdienste\\\\\\\": [], \\\\\\\"socials\\\\\\\": []\\\\n  },\\\\n  \\\\\\\"interpretation\\\\\\\": {\\\\n    \\\\\\\"claim_slogan\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"ueber_uns\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"angebot\\\\\\\": [],\\\\n    \\\\\\\"spezialitaeten\\\\\\\": [], \\\\\\\"kueche\\\\\\\": [], \\\\\\\"events\\\\\\\": [], \\\\\\\"catering\\\\\\\": null,\\\\n    \\\\\\\"atmosphaere\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"zielgruppe\\\\\\\": \\\\\\\"\\\\\\\", \\\\\\\"positionierung\\\\\\\": \\\\\\\"\\\\\\\",\\\\n    \\\\\\\"tonalitaet\\\\\\\": {\\\\\\\"ton\\\\\\\": [], \\\\\\\"beschreibung\\\\\\\": \\\\\\\"\\\\\\\"}\\\\n  }\\\\n}\" },\n    { role: 'user', content: 'Roh-Material:\\n' + $json.raw_material }\n  ]\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":90000}},"id":"40f346ca-d1e8-49f6-bbd2-5cb9017970dd","name":"LLM: Strukturieren (Poe Sonnet)1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-368],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\n// $json = kombinierte Daten aus \"Merge Roh + LLM\" Set-Node\n//   $json._raw = Roh-Extraktion output\n//   $json._llm = LLM choices response\n\nconst rf  = ($json._raw_facts) || {};\nconst rawFull = $json._raw || {};\nconst llmResp = $json._llm || {};\nconst warnings = [];\n\nfunction parseLLM(resp) {\n  try {\n    let c = resp?.choices?.[0]?.message?.content || '';\n    c = String(c).trim().replace(/^```(?:json)?[\\r\\n]*/i,'').replace(/[\\r\\n]*```\\s*$/,'').trim();\n    const m = c.match(/\\{[\\s\\S]*\\}/);\n    if (m) return JSON.parse(m[0]);\n    return JSON.parse(c);\n  } catch(e) { return null; }\n}\n\nlet llm = parseLLM(llmResp);\nif (!llm) { warnings.push('llm_json_failed'); llm = {}; }\n\nconst fakten = {\n  name:            rf.name          || llm.fakten?.name          || rawFull.business_name_hint || '',\n  adresse:         rf.address       || llm.fakten?.adresse        || '',\n  telefon:         rf.telephone     || llm.fakten?.telefon        || '',\n  email:           rf.email         || llm.fakten?.email          || '',\n  oeffnungszeiten: rf.opening_hours || llm.fakten?.oeffnungszeiten || '',\n  speisekarte:     (rf.menu_jsonld?.length ? rf.menu_jsonld : (llm.fakten?.speisekarte || [])),\n  preise_erkannt:  !!(llm.fakten?.preise_erkannt),\n  reservierung_url: llm.fakten?.reservierung_url || null,\n  lieferdienste:   llm.fakten?.lieferdienste || [],\n  socials:         (rf.social?.length ? rf.social.map(s=>({platform:s.platform||'social',url:s.url}))\n                    : (llm.fakten?.socials || [])),\n};\nconst interpretation = {\n  claim_slogan:  llm.interpretation?.claim_slogan  || llm.identitaet?.claim_slogan  || '',\n  ueber_uns:     llm.interpretation?.ueber_uns     || llm.identitaet?.ueber_uns     || '',\n  angebot:       llm.interpretation?.angebot       || llm.angebot?.leistungen       || [],\n  spezialitaeten: llm.interpretation?.spezialitaeten || llm.angebot?.spezialitaeten || (rf.cuisine||[]),\n  kueche:        llm.interpretation?.kueche        || llm.angebot?.kueche           || (rf.cuisine||[]),\n  events:        llm.interpretation?.events        || [],\n  catering:      llm.interpretation?.catering      || null,\n  atmosphaere:   llm.interpretation?.atmosphaere   || '',\n  zielgruppe:    llm.interpretation?.zielgruppe    || '',\n  positionierung: llm.interpretation?.positionierung || '',\n  tonalitaet: {\n    ton:          llm.interpretation?.tonalitaet?.ton || llm.tonalitaet?.ton || [],\n    beschreibung: llm.interpretation?.tonalitaet?.beschreibung || llm.tonalitaet?.beschreibung || '',\n  },\n};\nconst missing_fields = [];\nif (!fakten.oeffnungszeiten)            missing_fields.push('keine_oeffnungszeiten');\nif (!fakten.speisekarte?.length)        missing_fields.push('keine_speisekarte');\nif (!fakten.email)                      missing_fields.push('keine_email');\nif (!interpretation.ueber_uns)          missing_fields.push('kein_ueber_uns');\nif (!fakten.adresse)                    missing_fields.push('keine_adresse');\nif (!fakten.telefon)                    missing_fields.push('kein_telefon');\nif (!fakten.socials?.length)            missing_fields.push('keine_socials');\nif (!interpretation.angebot?.length)    missing_fields.push('kein_angebot');\n\nlet conf = 1.0;\nif (warnings.includes('llm_json_failed')) conf -= 0.35;\nif (rawFull.scrape_failed)              conf -= 0.30;\nif (missing_fields.length >= 4)         conf -= 0.20;\nelse if (missing_fields.length >= 2)    conf -= 0.10;\nconf = Math.round(Math.max(0.1, Math.min(1.0, conf)) * 100) / 100;\n\nconst content = {\n  schema_version: '2.0', agent: 'text_extractor',\n  lead_id:        rawFull.lead_id || '',\n  source_url:     rawFull.source_url || '',\n  crawled_urls:   rawFull.crawled_urls || [],\n  generated_at:   new Date().toISOString(),\n  fakten, interpretation,\n  roh_reserve:    (rawFull.visible_text || '').slice(0, 5000),\n  quellen: { json_ld: !!rf.json_ld_found, json_ld_business: !!rf.json_ld_business, fliesstext: true, pdf_menu: false },\n  missing_fields, confidence: conf, warnings,\n  logs: [{ ts: new Date().toISOString(), step: 'merge_complete', status: 'ok', missing_count: missing_fields.length }],\n};\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${rawFull.lead_id}`;\n  if (rawFull.lead_id) { fs.mkdirSync(dir,{recursive:true}); fs.writeFileSync(`${dir}/content.json`,JSON.stringify(content,null,2),'utf8'); }\n} catch(e) { content.warnings.push('file_write_failed'); }\nreturn content;\n"},"id":"f2313544-f9ab-4774-8db0-f58c5910aebc","name":"Merge & Manifest1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-368],"continueOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","email":"={{ $json.fakten?.email }}","text_extrahiert":"={{ 'ja' }}","confidence":"={{ $json.confidence }}"},"matchingColumns":["lead_id"]},"options":{},"authentication":"serviceAccount"},"id":"4ef3d720-7ab0-4334-a533-81dd08890056","name":"Sheet: E-Mail nachtragen1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,-368],"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"CONTENT"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","name":"={{ $json.fakten?.name }}","claim_slogan":"={{ $json.interpretation?.claim_slogan }}","ueber_uns":"={{ $json.interpretation?.ueber_uns }}","speisekarte":"={{ ($json.fakten?.speisekarte || []).map(s => typeof s === 'string' ? s : s.name || JSON.stringify(s)).join(' | ') }}","spezialitaeten":"={{ ($json.interpretation?.spezialitaeten || []).join(' | ') }}","kueche":"={{ ($json.interpretation?.kueche || []).join(' | ') }}","adresse":"={{ $json.fakten?.adresse }}","oeffnungszeiten":"={{ $json.fakten?.oeffnungszeiten }}","telefon":"={{ $json.fakten?.telefon }}","email":"={{ $json.fakten?.email }}","atmosphaere":"={{ $json.interpretation?.atmosphaere }}","zielgruppe":"={{ $json.interpretation?.zielgruppe }}","ton":"={{ ($json.interpretation?.tonalitaet?.ton || []).join(', ') }}","ton_beschreibung":"={{ $json.interpretation?.tonalitaet?.beschreibung }}","missing_fields":"={{ ($json.missing_fields || []).join(', ') }}","confidence":"={{ $json.confidence }}","warnings":"={{ ($json.warnings || []).join(', ') }}","roh_text":"={{ ($json.roh_reserve || '').slice(0, 1000) }}","generated_at":"={{ $json.generated_at }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"claim_slogan","displayName":"claim_slogan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ueber_uns","displayName":"ueber_uns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leistungen","displayName":"leistungen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"speisekarte","displayName":"speisekarte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"spezialitaeten","displayName":"spezialitaeten","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kueche","displayName":"kueche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adresse","displayName":"adresse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"oeffnungszeiten","displayName":"oeffnungszeiten","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefon","displayName":"telefon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"social","displayName":"social","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ton","displayName":"ton","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ton_beschreibung","displayName":"ton_beschreibung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"roh_text","displayName":"roh_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_fields","displayName":"missing_fields","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"atmosphaere","displayName":"atmosphaere","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zielgruppe","displayName":"zielgruppe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"48477c18-a3cc-4471-8565-634ed399b0a6","name":"Sheet: Content schreiben1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,-176],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1616,-320],"id":"cba05387-b1ee-4fcc-b8e8-deaeed40361a","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// $json = LLM chatcmpl response\n// $('Roh-Extraktion1').item.json = Roh-Extraktion output\nlet rohData = null;\ntry { rohData = $('Roh-Extraktion1').item.json; } catch(e) {}\n\nreturn {\n  _raw:       rohData || {},\n  _raw_facts: (rohData && rohData.raw_facts) || {},\n  _llm:       $json,\n};"},"id":"822129bf-dac6-4479-aa1a-89cd4c7011e7","name":"Merge Roh + LLM","type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-368]},{"id":"webhook-agent2","name":"Webhook: agent2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent2-start","responseMode":"onReceived","options":{}},"webhookId":"dcb1a929-1fb5-4e34-99e1-acbb3f60debc"},{"id":"webhook-resp-agent2","name":"Webhook Response: agent2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent2', started_at: new Date().toISOString()}) }}"}}},{"id":"0dbb9c98-b542-42e5-85bb-3f28ade0faca","name":"Trigger Agent 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent3-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}}}],"connections":{"Prep Startseite":{"main":[[{"node":"Linkfinder","type":"main","index":0}]]},"Linkfinder":{"main":[[{"node":"Oxylabs: Seite scrapen","type":"main","index":0}]]},"Oxylabs: Seite scrapen":{"main":[[{"node":"HTML sammeln","type":"main","index":0}]]},"HTML sammeln":{"main":[[{"node":"Roh-Extraktion1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Map Sheet -> Lead1","type":"main","index":0}]]},"Map Sheet -> Lead1":{"main":[[{"node":"Filter: Score >= ","type":"main","index":0}]]},"Filter: Score >= ":{"main":[[{"node":"Loop je Lead1","type":"main","index":0}]]},"Loop je Lead1":{"main":[[],[{"node":"Oxylabs: Startseite holen1","type":"main","index":0}]]},"Oxylabs: Startseite holen1":{"main":[[{"node":"Prep Startseite","type":"main","index":0}]]},"Roh-Extraktion1":{"main":[[{"node":"Build Prompt1","type":"main","index":0}]]},"Build Prompt1":{"main":[[{"node":"LLM: Strukturieren (Poe Sonnet)1","type":"main","index":0}]]},"LLM: Strukturieren (Poe Sonnet)1":{"main":[[{"node":"Merge Roh + LLM","type":"main","index":0}]]},"Merge & Manifest1":{"main":[[{"node":"Sheet: E-Mail nachtragen1","type":"main","index":0},{"node":"Sheet: Content schreiben1","type":"main","index":0}]]},"Sheet: E-Mail nachtragen1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Merge Roh + LLM":{"main":[[{"node":"Merge & Manifest1","type":"main","index":0}]]},"Sheet: Content schreiben1":{"main":[[{"node":"Trigger Agent 3","type":"main","index":0}]]},"Webhook: agent2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-08T12:28:28.520Z","id":116,"workflowId":"04XC92MJvaYKtjbi","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T12:31:11.773Z","id":122,"workflowId":"04XC92MJvaYKtjbi","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T12:38:09.516Z","id":138,"workflowId":"04XC92MJvaYKtjbi","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T12:31:11.060Z","id":121,"workflowId":"04XC92MJvaYKtjbi","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T12:38:08.826Z","id":137,"workflowId":"04XC92MJvaYKtjbi","versionId":"ace4d13e-de85-4c32-be7f-ac7c958564f7","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}