moneylan/workflows/agent4/workflow_agent4_live.json
{"updatedAt":"2026-06-08T12:59:50.256Z","createdAt":"2026-06-07T14:11:32.374Z","id":"4E80rzbb97rCGx66","name":"MONEYLAN Agent 4 — Data Validator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"38073468-e3cd-4d11-8436-042cfa58dbd9","name":"Start Agent 4","type":"n8n-nodes-base.manualTrigger","position":[-2400,-928]},{"parameters":{"assignments":{"assignments":[{"id":"cd0196a6-23b0-4a51-b344-5a1839d66f2a","name":"score_threshold","value":20,"type":"number"},{"id":"efcbfa3c-2b98-40dc-bbce-182c70f8408e","name":"gate_threshold","value":0,"type":"number"}]},"options":{}},"id":"8a6da5d7-0b82-4d24-93c4-89845e01911c","name":"Suchparameter","type":"n8n-nodes-base.set","position":[-2208,-928]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{},"limit":1},"id":"b8e8dda5-952f-470f-bd84-b04a4f91392d","name":"LEADS holen","type":"n8n-nodes-base.googleSheets","position":[-2000,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"\nconst threshold = $('Suchparameter').first().json.score_threshold || 75;\nconst items = $input.all();\nreturn items\n  .filter(it => Number(it.json.score || 0) >= threshold)\n  .map(it => {\n    const r = it.json;\n    return { json: {\n      lead_id: r.lead_id,\n      score:   Number(r.score || 0),\n      name:    r.name    || null,\n      website: r.website || null,\n      phone:   r.phone   || null,\n      address: r.address || null,\n      google_rating:  r.google_rating  ? Number(r.google_rating)  : null,\n      google_reviews: r.google_reviews ? Number(r.google_reviews) : null,\n      confidence:     r.confidence     ? Number(r.confidence)     : null,\n    }};\n  });\n"},"id":"37ed03d4-30b1-40c6-a12c-9b11c9fd4168","name":"Map & Filter Leads","type":"n8n-nodes-base.code","position":[-1808,-928],"typeVersion":2},{"parameters":{"options":{}},"id":"8c73af0c-a54f-461a-8e04-32bdec3438d9","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","position":[-1600,-928]},{"parameters":{"jsCode":"/**\n * Validierung — alle Regeln (Vollständigkeit + Konsistenz + Validität + Build-Risiko)\n * Lädt die drei Quell-Manifeste aus /files/runs/{lead_id}/ (fs) oder Sheet-Row-Daten.\n * Gibt komplettes Validierungsobjekt zurück (ohne Gate-Entscheidung).\n *\n * Input:\n *   $json = { lead_id, score, business: {...} }  (aus LEADS-Sheet-Row gemapped)\n */\n\nconst leadId    = $json.lead_id;\nconst sheetLead = $json;          // Sheets-Daten als Fallback\nconst checks    = [];\nconst conflicts = [];\nconst warnings  = [];\nconst logs      = [];\nlet   a1 = null, a2 = null, a3 = null;\n\n// ---- Quellen laden ----\nfunction loadJson(path) {\n  const fs = require('fs');\n  return JSON.parse(fs.readFileSync(path, 'utf8'));\n}\n\ntry {\n  a1 = loadJson(`/files/runs/${leadId}/lead.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a1', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_lead');\n  // Fallback: Sheets-Daten\n  a1 = {\n    business: {\n      name:                 sheetLead.name    || null,\n      website:              sheetLead.website || null,\n      phone:                sheetLead.phone   || null,\n      address:              sheetLead.address || null,\n      email_guess:          null,\n      google_rating:        sheetLead.google_rating  ? Number(sheetLead.google_rating)  : null,\n      google_reviews_count: sheetLead.google_reviews ? Number(sheetLead.google_reviews) : null,\n      maps_url: null,\n    },\n    audit_technical: { https: null, has_phone_link: false, psi_performance_mobile: null },\n    score:      Number(sheetLead.score || 0),\n    confidence: Number(sheetLead.confidence || 0),\n  };\n}\n\ntry {\n  a2 = loadJson(`/files/runs/${leadId}/content.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a2', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_content');\n  // Fallback: leere Struktur (alle Checks werden failen)\n  a2 = { fakten: {}, interpretation: {}, missing_fields: ['alle_fehlend'], confidence: 0 };\n}\n\ntry {\n  a3 = loadJson(`/files/runs/${leadId}/images.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a3', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_images');\n  a3 = { logo: { qualitaet: 'keins' }, hero: {}, assets: [], fehlende_assets: [], confidence: 0 };\n}\n\n// ---- Helferfunktionen ----\nfunction check(id, dim, field, passed, severity, detail) {\n  checks.push({ id, dimension: dim, field, passed, severity, detail: detail || '' });\n  return passed;\n}\n\nfunction normAddr(s) {\n  return String(s || '').toLowerCase()\n    .replace(/straße/g,'str.').replace(/strasse/g,'str.')\n    .replace(/\\s+/g,' ').trim();\n}\n\nconst b  = a1.business || {};\nconst at = a1.audit_technical || {};\nconst f  = a2.fakten          || {};\nconst it = a2.interpretation  || {};\n\nconst usableAssets = (a3.assets || []).filter(a => a.usage_recommendation !== 'nicht_verwenden');\n\n// ================================================================\n// 5a. VOLLSTÄNDIGKEIT\n// ================================================================\n\n// c_name\ncheck('c_name', 'completeness', 'name',\n  !!(b.name || f.name),\n  'blocker', !b.name && !f.name ? 'Name fehlt in A1 und A2' : '');\n\n// c_website\nconst websiteUrl = b.website || '';\nconst websiteOk  = /^https?:\\/\\/.+\\..+/.test(websiteUrl);\ncheck('c_website', 'completeness', 'website', websiteOk, 'blocker',\n  !websiteOk ? `Kein valides Website-URL: \"${websiteUrl}\"` : '');\n\n// c_address\ncheck('c_address', 'completeness', 'adresse',\n  !!(b.address || f.adresse),\n  'blocker', !b.address && !f.adresse ? 'Adresse fehlt in A1 und A2' : '');\n\n// c_contact\nconst hasContact = !!(f.telefon || b.phone || f.email || f.reservierung_url);\ncheck('c_contact', 'completeness', 'telefon_email_reservierung', hasContact, 'blocker',\n  !hasContact ? 'Kein Kontakt: weder Telefon, E-Mail noch Reservierungs-URL' : '');\n\n// c_hours\ncheck('c_hours', 'completeness', 'oeffnungszeiten',\n  !!f.oeffnungszeiten,\n  'major', !f.oeffnungszeiten ? 'Öffnungszeiten fehlen in A2' : '');\n\n// c_offer\nconst speisekarte = Array.isArray(f.speisekarte) ? f.speisekarte : [];\nconst angebot     = Array.isArray(it.angebot)    ? it.angebot    : [];\nconst offerCount  = speisekarte.length + angebot.length;\ncheck('c_offer', 'completeness', 'angebot_speisekarte',\n  offerCount >= 2,\n  'blocker', offerCount < 2 ? `Zu wenig Angebot: nur ${offerCount} Einträge` : '');\n\n// c_logo\nconst hasUsableLogo = a3.logo?.qualitaet && a3.logo.qualitaet !== 'keins';\ncheck('c_logo', 'completeness', 'logo',\n  hasUsableLogo,\n  'major', !hasUsableLogo ? 'Kein nutzbares Logo — Ersatzstrategie erforderlich' : '');\n\n// c_hero\nconst hasHero = !!(a3.hero?.url);\ncheck('c_hero', 'completeness', 'hero',\n  hasHero,\n  'major', !hasHero ? 'Kein Hero-Bild — Ersatzstrategie erforderlich' : '');\n\n// c_usable_assets\ncheck('c_usable_assets', 'completeness', 'assets_verwendbar',\n  usableAssets.length >= 2,\n  'major', usableAssets.length < 2 ? `Nur ${usableAssets.length} verwendbare Bilder` : '');\n\n// c_about\ncheck('c_about', 'completeness', 'ueber_uns',\n  !!it.ueber_uns,\n  'minor', !it.ueber_uns ? 'Kein Über-uns-Text in A2' : '');\n\n// ================================================================\n// 5b. KONSISTENZ (Cross-Source)\n// ================================================================\n\nfunction addrConflict(a, b2) {\n  if (!a || !b2) return false;\n  const na = normAddr(a), nb = normAddr(b2);\n  if (!na || !nb) return false;\n  // PLZ vergleichen — sicherste Methode\n  const plzA = (na.match(/\\b\\d{5}\\b/) || [])[0];\n  const plzB = (nb.match(/\\b\\d{5}\\b/) || [])[0];\n  if (plzA && plzB && plzA !== plzB) return true;\n  return false;\n}\n\n// k_address\nconst addrConfl = addrConflict(b.address, f.adresse);\nif (addrConfl) {\n  conflicts.push({ field: 'adresse', source_a: 'google_a1', value_a: b.address,\n    source_b: 'website_a2', value_b: f.adresse,\n    resolution: 'Website-Adresse bevorzugt (aktueller)', severity: 'major' });\n}\ncheck('k_address', 'consistency', 'adresse', !addrConfl, 'major',\n  addrConfl ? `PLZ-Konflikt: Google=\"${b.address}\" vs Website=\"${f.adresse}\"` : '');\n\n// k_phone\nconst phone_a1 = String(b.phone  || '').replace(/\\D/g,'');\nconst phone_a2 = String(f.telefon|| '').replace(/\\D/g,'');\nconst phoneConfl = phone_a1 && phone_a2 && phone_a1 !== phone_a2\n  && phone_a1.slice(-6) !== phone_a2.slice(-6); // letzte 6 Ziffern als Fingerprint\nif (phoneConfl) conflicts.push({ field: 'telefon', source_a: 'google_a1', value_a: b.phone,\n  source_b: 'website_a2', value_b: f.telefon,\n  resolution: 'Beide vermerkt, Website hat Vorrang', severity: 'minor' });\ncheck('k_phone', 'consistency', 'telefon', !phoneConfl, 'minor',\n  phoneConfl ? `Telefon-Konflikt: A1=\"${b.phone}\" vs A2=\"${f.telefon}\"` : '');\n\n// k_name\nconst nameConfl = b.name && f.name\n  && b.name.toLowerCase().trim() !== f.name.toLowerCase().trim()\n  && !b.name.toLowerCase().includes(f.name.toLowerCase().replace(/[^a-zäöüß]/g,'').slice(0,6));\nif (nameConfl) conflicts.push({ field: 'name', source_a: 'google_a1', value_a: b.name,\n  source_b: 'website_a2', value_b: f.name,\n  resolution: 'Google-Name bevorzugt (registrierter Markenname)', severity: 'minor' });\ncheck('k_name', 'consistency', 'name', !nameConfl, 'minor',\n  nameConfl ? `Name-Konflikt: A1=\"${b.name}\" vs A2=\"${f.name}\"` : '');\n\n// ================================================================\n// 5c. VALIDITÄT\n// ================================================================\n\n// v_url\nconst urlValid = /^https?:\\/\\/[^\\s/$.?#].[^\\s]*$/i.test(websiteUrl);\ncheck('v_url', 'validity', 'website_url', urlValid, 'blocker',\n  !urlValid ? `URL nicht wohlgeformt: \"${websiteUrl}\"` : '');\n\n// v_email\nconst emailVal = !f.email || /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(f.email);\ncheck('v_email', 'validity', 'email', emailVal, 'minor',\n  !emailVal ? `E-Mail-Format ungültig: \"${f.email}\"` : '');\n\n// v_phone\nconst phone    = f.telefon || b.phone || '';\nconst phoneVal = !phone || /[\\d]{6,}/.test(String(phone).replace(/[\\s\\-\\/\\(\\)\\+]/g,''));\ncheck('v_phone', 'validity', 'telefon', phoneVal, 'minor',\n  !phoneVal ? `Telefonnummer unplausibel: \"${phone}\"` : '');\n\n// v_score\nconst scoreVal = typeof a1.score === 'number' && a1.score >= 0 && a1.score <= 100;\ncheck('v_score', 'validity', 'a1_score', scoreVal, 'minor',\n  !scoreVal ? `A1-Score außerhalb 0–100: ${a1.score}` : '');\n\n// ================================================================\n// Dimensionen-Scores (gewichtet)\n// ================================================================\nfunction dimScore(dim) {\n  const dimChecks = checks.filter(c => c.dimension === dim);\n  if (!dimChecks.length) return 100;\n  const weights = { blocker: 3, major: 2, minor: 1 };\n  const total  = dimChecks.reduce((s,c) => s + (weights[c.severity] || 1), 0);\n  const passed = dimChecks.filter(c => c.passed).reduce((s,c) => s + (weights[c.severity] || 1), 0);\n  return Math.round(passed / total * 100);\n}\n\nconst dimensions = {\n  completeness: dimScore('completeness'),\n  consistency:  dimScore('consistency'),\n  validity:     dimScore('validity'),\n};\nconst dataQualityScore = Math.round(\n  dimensions.completeness * 0.5 + dimensions.consistency * 0.25 + dimensions.validity * 0.25\n);\n\n// ================================================================\n// 6. Build-Risiko\n// ================================================================\nconst riskReasons = [];\nlet   riskLevel   = 'low';\n\nif (!hasHero)               riskReasons.push('Kein Hero-Bild vorhanden');\nif (usableAssets.length < 3)riskReasons.push(`Nur ${usableAssets.length} verwendbare Bilder (< 3)`);\nif (!it.ueber_uns)          riskReasons.push('Kein Über-uns-Text');\nif (speisekarte.length === 0 && angebot.length < 2) riskReasons.push('Kein Angebot/Speisekarte');\nif (!f.oeffnungszeiten)     riskReasons.push('Keine Öffnungszeiten');\nif ((it.spezialitaeten || []).length === 0 && (it.kueche || []).length === 0)\n  riskReasons.push('Keine Spezialitäten/Küche erkannt');\n\nif (riskReasons.length >= 4)      riskLevel = 'high';\nelse if (riskReasons.length >= 2) riskLevel = 'medium';\n\nconst buildRisk = {\n  level:           riskLevel,\n  would_be_generic: riskLevel === 'high',\n  reasons:         riskReasons,\n};\n\n// ================================================================\n// Missing (kritisch vs. optional)\n// ================================================================\nconst missingCritical = [];\nconst missingOptional = [];\n\nchecks.filter(c => !c.passed).forEach(c => {\n  const entry = `${c.id}: ${c.detail}`;\n  if (c.severity === 'blocker') missingCritical.push(entry);\n  else missingOptional.push(entry);\n});\n\n// ================================================================\n// Ersatzstrategie-Katalog\n// ================================================================\nconst ersatzstrategie = [];\nif (!hasUsableLogo) ersatzstrategie.push('Kein Logo → Wortmarke aus Betriebsname (Typografie), oder Favicon hochskaliert');\nif (!hasHero)       ersatzstrategie.push('Kein Hero → Vollflächen-Farbverlauf in Markenfarben + Logo + Claim-Text');\nif (usableAssets.length < 2) ersatzstrategie.push('Zu wenig Bilder → Farbblöcke + Icon-Stil + Textschwerpunkt');\nif (!f.oeffnungszeiten)      ersatzstrategie.push('Keine Öffnungszeiten → Demo zeigt Platzhalter + Hinweis im Übergabegespräch');\n\n// ================================================================\n// Confidence\n// ================================================================\nlet conf = 1.0;\nif (warnings.includes('source_missing_lead'))    conf -= 0.40;\nif (warnings.includes('source_missing_content')) conf -= 0.30;\nif (warnings.includes('source_missing_images'))  conf -= 0.20;\nconf = Math.round(Math.max(0.1, Math.min(1.0, conf)) * 100) / 100;\n\nreturn [{\n  json: {\n    lead_id:         leadId,\n    dimensions,\n    data_quality_score: dataQualityScore,\n    checks,\n    conflicts,\n    missing_critical: missingCritical,\n    missing_optional: missingOptional,\n    build_risk:      buildRisk,\n    ersatzstrategie,\n    confidence:      conf,\n    warnings,\n    logs,\n    // Quell-Daten für Gate-Node durchreichen\n    _sources: { a1, a2, a3 },\n  }\n}];\n"},"id":"57da4f86-5716-48a0-83e3-ea5aeae4a075","name":"Validierung","type":"n8n-nodes-base.code","position":[-1408,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"jsCode":"/**\n * Gate-Entscheidung — Agent 4\n * Wendet Gate-Logik an, baut rückgabe_an[], schreibt validation.json.\n *\n * Input: $json = output von validate_all.js\n */\n\nconst GATE_THRESHOLD = 0;\n\nconst v = $json;\nconst checks = v.checks || [];\n\n// ---- Gate-Logik (Abschnitt 7, deterministisch) ----\nconst blockerFailed = GATE_THRESHOLD > 0 && checks.some(c => !c.passed && c.severity === 'blocker');\nconst scoreFailed   = v.data_quality_score < GATE_THRESHOLD;\nconst riskHigh      = v.build_risk?.level === 'high';\n\n// Ersatzstrategien zählen als Blocker-Entschärfung für major-Mängel\nconst hasErsatz  = (v.ersatzstrategie || []).length > 0;\n// Blocker bleiben Blocker (keine Ersatzstrategie für harte Fakten-Mängel)\n// riskHigh blockiert nicht wenn source_missing (keine Dateien auf Disk)\nconst sourceMissing = (v.warnings||[]).some(w => w.startsWith('source_missing'));\nconst readyForConcept = !blockerFailed && !scoreFailed && (!riskHigh || sourceMissing);\n\n// ---- rückgabe_an aufbauen ----\nconst rueckgabeAn = [];\nfor (const c of checks) {\n  if (c.passed) continue;\n  let agent = null;\n  const id = c.id;\n  if (['c_logo','c_hero','c_usable_assets'].includes(id)) agent = 'agent3';\n  else if (['c_hours','c_offer','c_about','k_address','k_phone','k_name','v_email','v_phone'].includes(id)) agent = 'agent2';\n  else if (['c_website','c_address','c_contact','c_name','v_url','v_score'].includes(id)) agent = 'agent1';\n  if (agent) {\n    rueckgabeAn.push({ agent, grund: c.detail || c.id, feld: c.field });\n  }\n}\n// Deduplizieren (gleicher Agent + Feld)\nconst dedupKey = r => `${r.agent}|${r.feld}`;\nconst seen = new Set();\nconst dedupRueckgabe = rueckgabeAn.filter(r => {\n  const k = dedupKey(r);\n  if (seen.has(k)) return false;\n  seen.add(k); return true;\n});\n\n// ---- Schema v2.0 Validierungsobjekt ----\nconst validation = {\n  schema_version:    '2.0',\n  agent:             'data_validator',\n  lead_id:           v.lead_id,\n  generated_at:      new Date().toISOString(),\n  ready_for_concept: readyForConcept,\n  data_quality_score: v.data_quality_score,\n  dimensions:        v.dimensions,\n  checks:            v.checks,\n  conflicts:         v.conflicts || [],\n  missing_critical:  v.missing_critical || [],\n  missing_optional:  v.missing_optional || [],\n  build_risk:        v.build_risk,\n  rückgabe_an:       dedupRueckgabe,\n  ersatzstrategie:   v.ersatzstrategie || [],\n  confidence:        v.confidence,\n  warnings:          v.warnings || [],\n  logs: [\n    ...(v.logs || []),\n    {\n      ts:     new Date().toISOString(),\n      step:   'gate_decision',\n      status: 'ok',\n      ready:  readyForConcept,\n      reason: blockerFailed ? 'blocker_failed'\n              : scoreFailed ? `score_${v.data_quality_score}<${GATE_THRESHOLD}`\n              : riskHigh    ? 'build_risk_high'\n              : 'passed',\n    }\n  ],\n};\n\n// ---- validation.json schreiben ----\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${v.lead_id}`;\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(`${dir}/validation.json`, JSON.stringify(validation, null, 2), 'utf8');\n} catch (e) {\n  validation.warnings.push('file_write_failed');\n}\n\n// _sources nicht in Output (zu groß)\ndelete validation._sources;\nreturn [{ json: validation }];\n"},"id":"3dafe9e4-4189-451b-9fd5-1c2acad66b0f","name":"Gate & Write","type":"n8n-nodes-base.code","position":[-1200,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{}},"id":"0ff40c27-fda4-4e45-a430-2b209dddae41","name":"LEADS: Status setzen","type":"n8n-nodes-base.googleSheets","position":[-800,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}},"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":935311884,"mode":"list","cachedResultName":"VALIDATION","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc/edit#gid=935311884"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","ready_for_concept":"={{ $json.ready_for_concept ? \"ja\" : \"nein\" }}","data_quality_score":"={{ $json.data_quality_score }}","completeness":"={{ $json.dimensions?.completeness }}","consistency":"={{ $json.dimensions?.consistency }}","validity":"={{ $json.dimensions?.validity }}","build_risk_level":"={{ $json.build_risk?.level }}","missing_critical":"={{ ($json.missing_critical || []).join(\" | \") }}","missing_optional":"={{ ($json.missing_optional || []).join(\" | \") }}","rueckabe_an":"={{ ($json[\"rückgabe_an\"] || []).map(r => `${r.agent}: ${r.feld} - ${r.grund}`).join(\" | \") }}","ersatzstrategie":"={{ ($json.ersatzstrategie || []).join(\" | \") }}","confidence":"={{ $json.confidence }}","warnings":"={{ ($json.warnings || []).join(\", \") }}","generated_at":"={{ $json.generated_at }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ready_for_concept","displayName":"ready_for_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_quality_score","displayName":"data_quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"completeness","displayName":"completeness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"consistency","displayName":"consistency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"validity","displayName":"validity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_risk_level","displayName":"build_risk_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_critical","displayName":"missing_critical","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_optional","displayName":"missing_optional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rueckabe_an","displayName":"rueckabe_an","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ersatzstrategie","displayName":"ersatzstrategie","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1024,-944],"id":"3e91d6d7-b90e-44c8-b05e-02c6713c6d9c","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"webhook-agent4","name":"Webhook: agent4","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent4-start","responseMode":"onReceived","options":{}},"webhookId":"6ce1b12b-a384-4a48-b6f7-f0aa76c89783"},{"id":"webhook-resp-agent4","name":"Webhook Response: agent4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent4', started_at: new Date().toISOString()}) }}"}}},{"name":"Trigger Agent 5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent5-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"45198de8-d222-423a-bf5f-8806f9ee0196"}],"connections":{"Start Agent 4":{"main":[[{"node":"Suchparameter","type":"main","index":0}],[]]},"Suchparameter":{"main":[[{"node":"LEADS holen","type":"main","index":0}],[]]},"LEADS holen":{"main":[[{"node":"Map & Filter Leads","type":"main","index":0}],[]]},"Map & Filter Leads":{"main":[[{"node":"Loop je Lead","type":"main","index":0}],[]]},"Loop je Lead":{"main":[[{"node":"Validierung","type":"main","index":0}],[{"node":"Validierung","type":"main","index":0}]]},"Validierung":{"main":[[{"node":"Gate & Write","type":"main","index":0}],[]]},"Gate & Write":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[]]},"LEADS: Status setzen":{"main":[[{"node":"Trigger Agent 5","type":"main","index":0}],[]]},"Append or update row in sheet":{"main":[[{"node":"LEADS: Status setzen","type":"main","index":0}]]},"Webhook: agent4":{"main":[[{"node":"Suchparameter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"e9d79dc2-612f-4a41-bcde-c57c12948a48","activeVersionId":"e9d79dc2-612f-4a41-bcde-c57c12948a48","versionCounter":73,"triggerCount":1,"shared":[{"updatedAt":"2026-06-07T14:11:32.425Z","createdAt":"2026-06-07T14:11:32.425Z","role":"workflow:owner","workflowId":"4E80rzbb97rCGx66","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[{"updatedAt":"2026-06-06T10:35:23.364Z","createdAt":"2026-06-06T10:35:23.364Z","id":"WOLG6zr5SKTpLmpy","name":"MONEYLAN"}],"activeVersion":{"updatedAt":"2026-06-08T12:59:50.258Z","createdAt":"2026-06-08T12:59:50.258Z","versionId":"e9d79dc2-612f-4a41-bcde-c57c12948a48","workflowId":"4E80rzbb97rCGx66","nodes":[{"parameters":{},"id":"38073468-e3cd-4d11-8436-042cfa58dbd9","name":"Start Agent 4","type":"n8n-nodes-base.manualTrigger","position":[-2400,-928]},{"parameters":{"assignments":{"assignments":[{"id":"cd0196a6-23b0-4a51-b344-5a1839d66f2a","name":"score_threshold","value":20,"type":"number"},{"id":"efcbfa3c-2b98-40dc-bbce-182c70f8408e","name":"gate_threshold","value":0,"type":"number"}]},"options":{}},"id":"8a6da5d7-0b82-4d24-93c4-89845e01911c","name":"Suchparameter","type":"n8n-nodes-base.set","position":[-2208,-928]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{},"limit":1},"id":"b8e8dda5-952f-470f-bd84-b04a4f91392d","name":"LEADS holen","type":"n8n-nodes-base.googleSheets","position":[-2000,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"\nconst threshold = $('Suchparameter').first().json.score_threshold || 75;\nconst items = $input.all();\nreturn items\n  .filter(it => Number(it.json.score || 0) >= threshold)\n  .map(it => {\n    const r = it.json;\n    return { json: {\n      lead_id: r.lead_id,\n      score:   Number(r.score || 0),\n      name:    r.name    || null,\n      website: r.website || null,\n      phone:   r.phone   || null,\n      address: r.address || null,\n      google_rating:  r.google_rating  ? Number(r.google_rating)  : null,\n      google_reviews: r.google_reviews ? Number(r.google_reviews) : null,\n      confidence:     r.confidence     ? Number(r.confidence)     : null,\n    }};\n  });\n"},"id":"37ed03d4-30b1-40c6-a12c-9b11c9fd4168","name":"Map & Filter Leads","type":"n8n-nodes-base.code","position":[-1808,-928],"typeVersion":2},{"parameters":{"options":{}},"id":"8c73af0c-a54f-461a-8e04-32bdec3438d9","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","position":[-1600,-928]},{"parameters":{"jsCode":"/**\n * Validierung — alle Regeln (Vollständigkeit + Konsistenz + Validität + Build-Risiko)\n * Lädt die drei Quell-Manifeste aus /files/runs/{lead_id}/ (fs) oder Sheet-Row-Daten.\n * Gibt komplettes Validierungsobjekt zurück (ohne Gate-Entscheidung).\n *\n * Input:\n *   $json = { lead_id, score, business: {...} }  (aus LEADS-Sheet-Row gemapped)\n */\n\nconst leadId    = $json.lead_id;\nconst sheetLead = $json;          // Sheets-Daten als Fallback\nconst checks    = [];\nconst conflicts = [];\nconst warnings  = [];\nconst logs      = [];\nlet   a1 = null, a2 = null, a3 = null;\n\n// ---- Quellen laden ----\nfunction loadJson(path) {\n  const fs = require('fs');\n  return JSON.parse(fs.readFileSync(path, 'utf8'));\n}\n\ntry {\n  a1 = loadJson(`/files/runs/${leadId}/lead.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a1', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_lead');\n  // Fallback: Sheets-Daten\n  a1 = {\n    business: {\n      name:                 sheetLead.name    || null,\n      website:              sheetLead.website || null,\n      phone:                sheetLead.phone   || null,\n      address:              sheetLead.address || null,\n      email_guess:          null,\n      google_rating:        sheetLead.google_rating  ? Number(sheetLead.google_rating)  : null,\n      google_reviews_count: sheetLead.google_reviews ? Number(sheetLead.google_reviews) : null,\n      maps_url: null,\n    },\n    audit_technical: { https: null, has_phone_link: false, psi_performance_mobile: null },\n    score:      Number(sheetLead.score || 0),\n    confidence: Number(sheetLead.confidence || 0),\n  };\n}\n\ntry {\n  a2 = loadJson(`/files/runs/${leadId}/content.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a2', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_content');\n  // Fallback: leere Struktur (alle Checks werden failen)\n  a2 = { fakten: {}, interpretation: {}, missing_fields: ['alle_fehlend'], confidence: 0 };\n}\n\ntry {\n  a3 = loadJson(`/files/runs/${leadId}/images.json`);\n  logs.push({ ts: new Date().toISOString(), step: 'load_a3', status: 'ok' });\n} catch (e) {\n  warnings.push('source_missing_images');\n  a3 = { logo: { qualitaet: 'keins' }, hero: {}, assets: [], fehlende_assets: [], confidence: 0 };\n}\n\n// ---- Helferfunktionen ----\nfunction check(id, dim, field, passed, severity, detail) {\n  checks.push({ id, dimension: dim, field, passed, severity, detail: detail || '' });\n  return passed;\n}\n\nfunction normAddr(s) {\n  return String(s || '').toLowerCase()\n    .replace(/straße/g,'str.').replace(/strasse/g,'str.')\n    .replace(/\\s+/g,' ').trim();\n}\n\nconst b  = a1.business || {};\nconst at = a1.audit_technical || {};\nconst f  = a2.fakten          || {};\nconst it = a2.interpretation  || {};\n\nconst usableAssets = (a3.assets || []).filter(a => a.usage_recommendation !== 'nicht_verwenden');\n\n// ================================================================\n// 5a. VOLLSTÄNDIGKEIT\n// ================================================================\n\n// c_name\ncheck('c_name', 'completeness', 'name',\n  !!(b.name || f.name),\n  'blocker', !b.name && !f.name ? 'Name fehlt in A1 und A2' : '');\n\n// c_website\nconst websiteUrl = b.website || '';\nconst websiteOk  = /^https?:\\/\\/.+\\..+/.test(websiteUrl);\ncheck('c_website', 'completeness', 'website', websiteOk, 'blocker',\n  !websiteOk ? `Kein valides Website-URL: \"${websiteUrl}\"` : '');\n\n// c_address\ncheck('c_address', 'completeness', 'adresse',\n  !!(b.address || f.adresse),\n  'blocker', !b.address && !f.adresse ? 'Adresse fehlt in A1 und A2' : '');\n\n// c_contact\nconst hasContact = !!(f.telefon || b.phone || f.email || f.reservierung_url);\ncheck('c_contact', 'completeness', 'telefon_email_reservierung', hasContact, 'blocker',\n  !hasContact ? 'Kein Kontakt: weder Telefon, E-Mail noch Reservierungs-URL' : '');\n\n// c_hours\ncheck('c_hours', 'completeness', 'oeffnungszeiten',\n  !!f.oeffnungszeiten,\n  'major', !f.oeffnungszeiten ? 'Öffnungszeiten fehlen in A2' : '');\n\n// c_offer\nconst speisekarte = Array.isArray(f.speisekarte) ? f.speisekarte : [];\nconst angebot     = Array.isArray(it.angebot)    ? it.angebot    : [];\nconst offerCount  = speisekarte.length + angebot.length;\ncheck('c_offer', 'completeness', 'angebot_speisekarte',\n  offerCount >= 2,\n  'blocker', offerCount < 2 ? `Zu wenig Angebot: nur ${offerCount} Einträge` : '');\n\n// c_logo\nconst hasUsableLogo = a3.logo?.qualitaet && a3.logo.qualitaet !== 'keins';\ncheck('c_logo', 'completeness', 'logo',\n  hasUsableLogo,\n  'major', !hasUsableLogo ? 'Kein nutzbares Logo — Ersatzstrategie erforderlich' : '');\n\n// c_hero\nconst hasHero = !!(a3.hero?.url);\ncheck('c_hero', 'completeness', 'hero',\n  hasHero,\n  'major', !hasHero ? 'Kein Hero-Bild — Ersatzstrategie erforderlich' : '');\n\n// c_usable_assets\ncheck('c_usable_assets', 'completeness', 'assets_verwendbar',\n  usableAssets.length >= 2,\n  'major', usableAssets.length < 2 ? `Nur ${usableAssets.length} verwendbare Bilder` : '');\n\n// c_about\ncheck('c_about', 'completeness', 'ueber_uns',\n  !!it.ueber_uns,\n  'minor', !it.ueber_uns ? 'Kein Über-uns-Text in A2' : '');\n\n// ================================================================\n// 5b. KONSISTENZ (Cross-Source)\n// ================================================================\n\nfunction addrConflict(a, b2) {\n  if (!a || !b2) return false;\n  const na = normAddr(a), nb = normAddr(b2);\n  if (!na || !nb) return false;\n  // PLZ vergleichen — sicherste Methode\n  const plzA = (na.match(/\\b\\d{5}\\b/) || [])[0];\n  const plzB = (nb.match(/\\b\\d{5}\\b/) || [])[0];\n  if (plzA && plzB && plzA !== plzB) return true;\n  return false;\n}\n\n// k_address\nconst addrConfl = addrConflict(b.address, f.adresse);\nif (addrConfl) {\n  conflicts.push({ field: 'adresse', source_a: 'google_a1', value_a: b.address,\n    source_b: 'website_a2', value_b: f.adresse,\n    resolution: 'Website-Adresse bevorzugt (aktueller)', severity: 'major' });\n}\ncheck('k_address', 'consistency', 'adresse', !addrConfl, 'major',\n  addrConfl ? `PLZ-Konflikt: Google=\"${b.address}\" vs Website=\"${f.adresse}\"` : '');\n\n// k_phone\nconst phone_a1 = String(b.phone  || '').replace(/\\D/g,'');\nconst phone_a2 = String(f.telefon|| '').replace(/\\D/g,'');\nconst phoneConfl = phone_a1 && phone_a2 && phone_a1 !== phone_a2\n  && phone_a1.slice(-6) !== phone_a2.slice(-6); // letzte 6 Ziffern als Fingerprint\nif (phoneConfl) conflicts.push({ field: 'telefon', source_a: 'google_a1', value_a: b.phone,\n  source_b: 'website_a2', value_b: f.telefon,\n  resolution: 'Beide vermerkt, Website hat Vorrang', severity: 'minor' });\ncheck('k_phone', 'consistency', 'telefon', !phoneConfl, 'minor',\n  phoneConfl ? `Telefon-Konflikt: A1=\"${b.phone}\" vs A2=\"${f.telefon}\"` : '');\n\n// k_name\nconst nameConfl = b.name && f.name\n  && b.name.toLowerCase().trim() !== f.name.toLowerCase().trim()\n  && !b.name.toLowerCase().includes(f.name.toLowerCase().replace(/[^a-zäöüß]/g,'').slice(0,6));\nif (nameConfl) conflicts.push({ field: 'name', source_a: 'google_a1', value_a: b.name,\n  source_b: 'website_a2', value_b: f.name,\n  resolution: 'Google-Name bevorzugt (registrierter Markenname)', severity: 'minor' });\ncheck('k_name', 'consistency', 'name', !nameConfl, 'minor',\n  nameConfl ? `Name-Konflikt: A1=\"${b.name}\" vs A2=\"${f.name}\"` : '');\n\n// ================================================================\n// 5c. VALIDITÄT\n// ================================================================\n\n// v_url\nconst urlValid = /^https?:\\/\\/[^\\s/$.?#].[^\\s]*$/i.test(websiteUrl);\ncheck('v_url', 'validity', 'website_url', urlValid, 'blocker',\n  !urlValid ? `URL nicht wohlgeformt: \"${websiteUrl}\"` : '');\n\n// v_email\nconst emailVal = !f.email || /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(f.email);\ncheck('v_email', 'validity', 'email', emailVal, 'minor',\n  !emailVal ? `E-Mail-Format ungültig: \"${f.email}\"` : '');\n\n// v_phone\nconst phone    = f.telefon || b.phone || '';\nconst phoneVal = !phone || /[\\d]{6,}/.test(String(phone).replace(/[\\s\\-\\/\\(\\)\\+]/g,''));\ncheck('v_phone', 'validity', 'telefon', phoneVal, 'minor',\n  !phoneVal ? `Telefonnummer unplausibel: \"${phone}\"` : '');\n\n// v_score\nconst scoreVal = typeof a1.score === 'number' && a1.score >= 0 && a1.score <= 100;\ncheck('v_score', 'validity', 'a1_score', scoreVal, 'minor',\n  !scoreVal ? `A1-Score außerhalb 0–100: ${a1.score}` : '');\n\n// ================================================================\n// Dimensionen-Scores (gewichtet)\n// ================================================================\nfunction dimScore(dim) {\n  const dimChecks = checks.filter(c => c.dimension === dim);\n  if (!dimChecks.length) return 100;\n  const weights = { blocker: 3, major: 2, minor: 1 };\n  const total  = dimChecks.reduce((s,c) => s + (weights[c.severity] || 1), 0);\n  const passed = dimChecks.filter(c => c.passed).reduce((s,c) => s + (weights[c.severity] || 1), 0);\n  return Math.round(passed / total * 100);\n}\n\nconst dimensions = {\n  completeness: dimScore('completeness'),\n  consistency:  dimScore('consistency'),\n  validity:     dimScore('validity'),\n};\nconst dataQualityScore = Math.round(\n  dimensions.completeness * 0.5 + dimensions.consistency * 0.25 + dimensions.validity * 0.25\n);\n\n// ================================================================\n// 6. Build-Risiko\n// ================================================================\nconst riskReasons = [];\nlet   riskLevel   = 'low';\n\nif (!hasHero)               riskReasons.push('Kein Hero-Bild vorhanden');\nif (usableAssets.length < 3)riskReasons.push(`Nur ${usableAssets.length} verwendbare Bilder (< 3)`);\nif (!it.ueber_uns)          riskReasons.push('Kein Über-uns-Text');\nif (speisekarte.length === 0 && angebot.length < 2) riskReasons.push('Kein Angebot/Speisekarte');\nif (!f.oeffnungszeiten)     riskReasons.push('Keine Öffnungszeiten');\nif ((it.spezialitaeten || []).length === 0 && (it.kueche || []).length === 0)\n  riskReasons.push('Keine Spezialitäten/Küche erkannt');\n\nif (riskReasons.length >= 4)      riskLevel = 'high';\nelse if (riskReasons.length >= 2) riskLevel = 'medium';\n\nconst buildRisk = {\n  level:           riskLevel,\n  would_be_generic: riskLevel === 'high',\n  reasons:         riskReasons,\n};\n\n// ================================================================\n// Missing (kritisch vs. optional)\n// ================================================================\nconst missingCritical = [];\nconst missingOptional = [];\n\nchecks.filter(c => !c.passed).forEach(c => {\n  const entry = `${c.id}: ${c.detail}`;\n  if (c.severity === 'blocker') missingCritical.push(entry);\n  else missingOptional.push(entry);\n});\n\n// ================================================================\n// Ersatzstrategie-Katalog\n// ================================================================\nconst ersatzstrategie = [];\nif (!hasUsableLogo) ersatzstrategie.push('Kein Logo → Wortmarke aus Betriebsname (Typografie), oder Favicon hochskaliert');\nif (!hasHero)       ersatzstrategie.push('Kein Hero → Vollflächen-Farbverlauf in Markenfarben + Logo + Claim-Text');\nif (usableAssets.length < 2) ersatzstrategie.push('Zu wenig Bilder → Farbblöcke + Icon-Stil + Textschwerpunkt');\nif (!f.oeffnungszeiten)      ersatzstrategie.push('Keine Öffnungszeiten → Demo zeigt Platzhalter + Hinweis im Übergabegespräch');\n\n// ================================================================\n// Confidence\n// ================================================================\nlet conf = 1.0;\nif (warnings.includes('source_missing_lead'))    conf -= 0.40;\nif (warnings.includes('source_missing_content')) conf -= 0.30;\nif (warnings.includes('source_missing_images'))  conf -= 0.20;\nconf = Math.round(Math.max(0.1, Math.min(1.0, conf)) * 100) / 100;\n\nreturn [{\n  json: {\n    lead_id:         leadId,\n    dimensions,\n    data_quality_score: dataQualityScore,\n    checks,\n    conflicts,\n    missing_critical: missingCritical,\n    missing_optional: missingOptional,\n    build_risk:      buildRisk,\n    ersatzstrategie,\n    confidence:      conf,\n    warnings,\n    logs,\n    // Quell-Daten für Gate-Node durchreichen\n    _sources: { a1, a2, a3 },\n  }\n}];\n"},"id":"57da4f86-5716-48a0-83e3-ea5aeae4a075","name":"Validierung","type":"n8n-nodes-base.code","position":[-1408,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"jsCode":"/**\n * Gate-Entscheidung — Agent 4\n * Wendet Gate-Logik an, baut rückgabe_an[], schreibt validation.json.\n *\n * Input: $json = output von validate_all.js\n */\n\nconst GATE_THRESHOLD = 0;\n\nconst v = $json;\nconst checks = v.checks || [];\n\n// ---- Gate-Logik (Abschnitt 7, deterministisch) ----\nconst blockerFailed = GATE_THRESHOLD > 0 && checks.some(c => !c.passed && c.severity === 'blocker');\nconst scoreFailed   = v.data_quality_score < GATE_THRESHOLD;\nconst riskHigh      = v.build_risk?.level === 'high';\n\n// Ersatzstrategien zählen als Blocker-Entschärfung für major-Mängel\nconst hasErsatz  = (v.ersatzstrategie || []).length > 0;\n// Blocker bleiben Blocker (keine Ersatzstrategie für harte Fakten-Mängel)\n// riskHigh blockiert nicht wenn source_missing (keine Dateien auf Disk)\nconst sourceMissing = (v.warnings||[]).some(w => w.startsWith('source_missing'));\nconst readyForConcept = !blockerFailed && !scoreFailed && (!riskHigh || sourceMissing);\n\n// ---- rückgabe_an aufbauen ----\nconst rueckgabeAn = [];\nfor (const c of checks) {\n  if (c.passed) continue;\n  let agent = null;\n  const id = c.id;\n  if (['c_logo','c_hero','c_usable_assets'].includes(id)) agent = 'agent3';\n  else if (['c_hours','c_offer','c_about','k_address','k_phone','k_name','v_email','v_phone'].includes(id)) agent = 'agent2';\n  else if (['c_website','c_address','c_contact','c_name','v_url','v_score'].includes(id)) agent = 'agent1';\n  if (agent) {\n    rueckgabeAn.push({ agent, grund: c.detail || c.id, feld: c.field });\n  }\n}\n// Deduplizieren (gleicher Agent + Feld)\nconst dedupKey = r => `${r.agent}|${r.feld}`;\nconst seen = new Set();\nconst dedupRueckgabe = rueckgabeAn.filter(r => {\n  const k = dedupKey(r);\n  if (seen.has(k)) return false;\n  seen.add(k); return true;\n});\n\n// ---- Schema v2.0 Validierungsobjekt ----\nconst validation = {\n  schema_version:    '2.0',\n  agent:             'data_validator',\n  lead_id:           v.lead_id,\n  generated_at:      new Date().toISOString(),\n  ready_for_concept: readyForConcept,\n  data_quality_score: v.data_quality_score,\n  dimensions:        v.dimensions,\n  checks:            v.checks,\n  conflicts:         v.conflicts || [],\n  missing_critical:  v.missing_critical || [],\n  missing_optional:  v.missing_optional || [],\n  build_risk:        v.build_risk,\n  rückgabe_an:       dedupRueckgabe,\n  ersatzstrategie:   v.ersatzstrategie || [],\n  confidence:        v.confidence,\n  warnings:          v.warnings || [],\n  logs: [\n    ...(v.logs || []),\n    {\n      ts:     new Date().toISOString(),\n      step:   'gate_decision',\n      status: 'ok',\n      ready:  readyForConcept,\n      reason: blockerFailed ? 'blocker_failed'\n              : scoreFailed ? `score_${v.data_quality_score}<${GATE_THRESHOLD}`\n              : riskHigh    ? 'build_risk_high'\n              : 'passed',\n    }\n  ],\n};\n\n// ---- validation.json schreiben ----\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${v.lead_id}`;\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(`${dir}/validation.json`, JSON.stringify(validation, null, 2), 'utf8');\n} catch (e) {\n  validation.warnings.push('file_write_failed');\n}\n\n// _sources nicht in Output (zu groß)\ndelete validation._sources;\nreturn [{ json: validation }];\n"},"id":"3dafe9e4-4189-451b-9fd5-1c2acad66b0f","name":"Gate & Write","type":"n8n-nodes-base.code","position":[-1200,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{}},"id":"0ff40c27-fda4-4e45-a430-2b209dddae41","name":"LEADS: Status setzen","type":"n8n-nodes-base.googleSheets","position":[-800,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}},"continueOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":935311884,"mode":"list","cachedResultName":"VALIDATION","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc/edit#gid=935311884"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","ready_for_concept":"={{ $json.ready_for_concept ? \"ja\" : \"nein\" }}","data_quality_score":"={{ $json.data_quality_score }}","completeness":"={{ $json.dimensions?.completeness }}","consistency":"={{ $json.dimensions?.consistency }}","validity":"={{ $json.dimensions?.validity }}","build_risk_level":"={{ $json.build_risk?.level }}","missing_critical":"={{ ($json.missing_critical || []).join(\" | \") }}","missing_optional":"={{ ($json.missing_optional || []).join(\" | \") }}","rueckabe_an":"={{ ($json[\"rückgabe_an\"] || []).map(r => `${r.agent}: ${r.feld} - ${r.grund}`).join(\" | \") }}","ersatzstrategie":"={{ ($json.ersatzstrategie || []).join(\" | \") }}","confidence":"={{ $json.confidence }}","warnings":"={{ ($json.warnings || []).join(\", \") }}","generated_at":"={{ $json.generated_at }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ready_for_concept","displayName":"ready_for_concept","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data_quality_score","displayName":"data_quality_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"completeness","displayName":"completeness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"consistency","displayName":"consistency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"validity","displayName":"validity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_risk_level","displayName":"build_risk_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_critical","displayName":"missing_critical","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"missing_optional","displayName":"missing_optional","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rueckabe_an","displayName":"rueckabe_an","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ersatzstrategie","displayName":"ersatzstrategie","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1024,-944],"id":"3e91d6d7-b90e-44c8-b05e-02c6713c6d9c","name":"Append or update row in sheet","credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"webhook-agent4","name":"Webhook: agent4","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent4-start","responseMode":"onReceived","options":{}},"webhookId":"6ce1b12b-a384-4a48-b6f7-f0aa76c89783"},{"id":"webhook-resp-agent4","name":"Webhook Response: agent4","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent4', started_at: new Date().toISOString()}) }}"}}},{"name":"Trigger Agent 5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent5-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"45198de8-d222-423a-bf5f-8806f9ee0196"}],"connections":{"Start Agent 4":{"main":[[{"node":"Suchparameter","type":"main","index":0}],[]]},"Suchparameter":{"main":[[{"node":"LEADS holen","type":"main","index":0}],[]]},"LEADS holen":{"main":[[{"node":"Map & Filter Leads","type":"main","index":0}],[]]},"Map & Filter Leads":{"main":[[{"node":"Loop je Lead","type":"main","index":0}],[]]},"Loop je Lead":{"main":[[{"node":"Validierung","type":"main","index":0}],[{"node":"Validierung","type":"main","index":0}]]},"Validierung":{"main":[[{"node":"Gate & Write","type":"main","index":0}],[]]},"Gate & Write":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[]]},"LEADS: Status setzen":{"main":[[{"node":"Trigger Agent 5","type":"main","index":0}],[]]},"Append or update row in sheet":{"main":[[{"node":"LEADS: Status setzen","type":"main","index":0}]]},"Webhook: agent4":{"main":[[{"node":"Suchparameter","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-08T12:59:50.310Z","id":148,"workflowId":"4E80rzbb97rCGx66","versionId":"e9d79dc2-612f-4a41-bcde-c57c12948a48","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T12:59:50.300Z","id":147,"workflowId":"4E80rzbb97rCGx66","versionId":"e9d79dc2-612f-4a41-bcde-c57c12948a48","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}