moneylan/workflows/agent7/workflow_agent7_live.json
{"updatedAt":"2026-06-09T10:22:13.912Z","createdAt":"2026-06-08T18:59:17.952Z","id":"nTVZLymUEYRt1W86","name":"Agent 7 — Website Builder","description":"Empfängt lead_id via Webhook, lädt alle Pipeline-Daten, ruft Claude via Poe API auf um eine vollständige React+Vite Demo-Website zu generieren, schreibt Dateien nach /files und deployt auf Vercel.","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agent7-start","options":{}},"id":"03af332e-b631-4410-827b-36b7b669613e","name":"Webhook: agent7","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"7e8c4a81-64d7-4e34-97fa-10d78eb59c6e"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{}},"id":"e724231e-1b8a-4625-92b5-08b3a05aa9cd","name":"LEADS holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const wh = $('Webhook: agent7').first();\nconst body = wh.json.body || wh.json;\nconst leadId = String(body.lead_id || '').trim();\nif (!leadId) return [{ json: { error: 'no_lead_id', lead_id: '' } }];\nconst leadsRows = $input.all().map(i => i.json);\nconst leadRow = leadsRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json:{ lead_id: leadId, lead: leadRow, website_url: leadRow.website || leadRow.url || '' }}];\n"},"id":"1bc77043-ba7e-4d70-be53-bda13803cb77","name":"Daten laden","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"url":"={{ $json.website_url || 'https://example.com' }}","options":{"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":10000}},"id":"7a3e7fa1-e423-4a66-b78f-827a99452a93","name":"Original-URL fetchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,0]},{"parameters":{"jsCode":"// Agent 7 — Node: \"Website-Prompt bauen\"\n// TASTE-SKILL: Homepage = Verkaufsprodukt. Restaurantinhaber muss denken \"das will ich\".\n// Input: 1 item with full lead data (+ optional original site HTML from prev node)\n// Output: 1 item with llm_payload\n\nconst data       = $input.first().json;\nconst leadId     = data.lead_id;\nconst lead       = data.lead       || {};\nconst content    = data.content    || {};\nconst images     = data.images     || {};\nconst concept    = data.concept    || {};\nconst promptData = data.prompt_data || {};\n\n// Get original site HTML (continueOnFail)\nlet originalHtml = '';\ntry {\n  const htmlNode = $('Original-URL fetchen').first();\n  originalHtml = htmlNode.json.body || htmlNode.json.data || '';\n  if (typeof originalHtml !== 'string') originalHtml = '';\n  originalHtml = originalHtml.slice(0, 2000);\n} catch(e) {}\n\n// Resolve design data — prefer concept.json, fallback to prompt_data\nconst pos    = concept.positionierung   || {};\nconst tokens = concept.design_tokens    || {};\nconst copy   = concept.copy             || {};\nconst secs   = concept.sections         || [];\nconst ap     = concept.asset_plan       || {};\nconst constr = concept.constraints      || {};\nconst conv   = concept.conversion_logic || {};\n\nconst colors = tokens.colors     || promptData.design_system?.colors || {};\nconst typo   = tokens.typography || promptData.design_system?.typography || {};\n\nconst direction    = pos.design_direction    || promptData.design_system?.typography?.design_direction || 'elegant_modern';\nconst fontHeading  = typo.font_heading       || 'Playfair Display';\nconst fontBody     = typo.font_body          || 'Lato';\nconst heroHeadline = copy.hero_headline      || promptData.copy_blocks?.hero_headline  || lead.name || '';\nconst heroSub      = copy.hero_subheadline   || promptData.copy_blocks?.hero_subheadline || '';\nconst ctaPrimary   = copy.cta_primary        || 'Tisch reservieren';\nconst improvements = (concept.improvements_vs_original || promptData.design_system?.improvements || []).slice(0, 5).join('; ');\nconst posStatement = pos.statement || pos.claim || '';\nconst mood         = pos.mood || pos.atmosphaere || '';\n\n// Fakten aus content.json\nconst f   = content.fakten         || {};\nconst it  = content.interpretation || {};\nconst name       = f.name          || lead.name  || '';\nconst adresse    = f.adresse       || lead.address || '';\nconst telefon    = f.telefon       || lead.phone  || '';\nconst email      = f.email         || '';\nconst oeffnung   = f.oeffnungszeiten || '';\nconst ueber_uns  = it.ueber_uns    || content.ueber_uns || '';\nconst spezis     = (it.spezialitaeten || content.spezialitaeten || []).slice(0, 8).join(', ');\nconst kueche     = (it.kueche      || content.kueche || []).join(', ');\nconst reservUrl  = f.reservierung_url || '';\n\nconst doNotInvent = constr.do_not_invent || promptData.do_not_invent || [];\nconst demoText    = `Diese Website ist eine Demo-Präsentation von MONEYLAN für ${name || 'diesen Betrieb'}.`;\n\n// Design direction specific guidance\nconst directionGuide = {\n  traditional_german: `\nDIRECTION: Traditional German — Warm, erdverbunden, Holz + Cremeweiß + tiefes Grün oder Kastanienbraun.\nTypography: Serif für Headlines (Playfair Display oder Libre Baskerville), Großzügige Abstände.\nLayout: Asymmetrisch — große linke Text-Kolumne + rechts Bild, kein Grid-Template.\nHero: Dunkles Overlay auf Hintergrundbild (gradient bottom-to-top), Headline links, großgeschrieben.\nAtmosphere: Gemütlich, historisch, vertrauenswürdig. Holztextur-Feeling durch Farbe, nicht durch echte Bilder.`,\n\n  modern_bistro: `\nDIRECTION: Modern Bistro — Schwarz + Weiß + 1 starker Akzent (Terrakotta, Senfgelb oder Mintgrün).\nTypography: Editorial — Extra-Large Sans (Inter oder DM Sans, 900 weight), Kontrast klein/groß.\nLayout: Bold split-screen Hero. Bento-Grid für Highlights. Viel Weißraum.\nHero: Links volle Höhe Bild, rechts Headline extrem groß (clamp(3rem,8vw,7rem)), minimal.\nAtmosphere: Urban, curated, Instagram-worthy. Wenig Text, viel Raum.`,\n\n  italian_traditional: `\nDIRECTION: Italian Traditional — Off-white + Dunkelgrün + Gold-Akzent. Mediterrane Wärme.\nTypography: Serif Italic für Hero (Cormorant Garamond oder EB Garamond), Body humanist sans.\nLayout: Centered für den Hero ausnahmsweise erlaubt (einzige Ausnahme), dann Links-Rechts wechseln.\nHero: Voll-Bild mit Vignette, zentrierte Headline in Kursiv, elegant.\nAtmosphere: La dolce vita, Familie, Handwerk.`,\n\n  elegant_modern: `\nDIRECTION: Elegant Modern — Dunkel (fast Schwarz) + Creme/Ivory + Gold oder Kupfer-Akzent.\nTypography: Kontrast — Thin für Labels, Bold für Headlines. Mix Serif + Sans.\nLayout: Luxury editorial. Breite Sections, Sticky Nav.\nHero: Volle Bildschirmhöhe. Headline unten-links (position absolute), Gradient Overlay.\nAtmosphere: Fine Dining, exklusiv, leise Qualität.`,\n\n  casual_friendly: `\nDIRECTION: Casual Friendly — Lebendige Farben, rund, einladend. 2-3 Farben harmonisch.\nTypography: Runde Sans-Serif (Nunito, Poppins), große Buttons.\nLayout: Card-basiert aber NICHT generisch — Cards leicht rotiert, Schatten interessant.\nHero: Große Illustration oder Flat-Color-Block, Headline fett und nah.\nAtmosphere: Herzlich, lokal, für alle.`\n};\n\nconst dirGuide = directionGuide[direction] || directionGuide['elegant_modern'];\n\n// Sections plan\nconst sectionsList = secs.length > 0\n  ? secs.map(s => s.id || s.order).join(', ')\n  : 'hero, highlights, about, contact, footer';\n\nfunction safeColor(c) { return (c && typeof c === 'string') ? c : '#888'; }\nconst colorBlock = `primary: ${safeColor(colors.primary)}, secondary: ${safeColor(colors.secondary)}, accent: ${safeColor(colors.accent)}, bg: ${safeColor(colors.background)}, text: ${safeColor(colors.text)}`;\n\n// ---- System prompt — TASTE-SKILL Edition ----\nconst systemPrompt = `You are an elite frontend engineer building a SALES DEMO website for a German restaurant.\n\nMISSION: This demo is a sales tool. A restaurant owner will see it and decide whether to hire MONEYLAN.\nThe site must be visually STUNNING on first impression. It must feel better than their current website.\nThis is not a generic template. This is a premium, custom, restaurant-specific work of art.\n\nOUTPUT FORMAT: Return ONLY valid JSON — no markdown, no explanation, no code fences:\n{\"files\":[{\"name\":\"path/to/file\",\"content\":\"raw file content\"}]}\n\n═══ TASTE-SKILL: ABSOLUTE DESIGN RULES ═══\n\nANTI-PATTERNS — NEVER DO THESE:\n× No centered hero text (except Italian Traditional direction)\n× No generic teal/blue color schemes unless in design tokens\n× No placeholder \"Lorem ipsum\" or generic text\n× No stock-photo-style card grids (3 equal cards in a row)\n× No rounded buttons with gradient backgrounds\n× No clip art icons — use unicode symbols or SVG only\n× No \"Welcome to [Name]\" hero headline\n× No top-heavy layouts where everything is in the first 200px\n\nPREMIUM PATTERNS — ALWAYS DO:\n✓ Left-aligned or split-screen heroes (position: absolute text over image)\n✓ Editorial typography: clamp() for responsive font-size, line-height 1.1–1.2 for display text\n✓ CSS custom properties for ALL design tokens (--color-primary, --font-heading, etc.)\n✓ Sticky demo banner at absolute top, non-dismissable, subtle\n✓ Smooth scroll-triggered entry animations (IntersectionObserver, not framer-motion)\n✓ One strong accent color used consistently — not sprinkled everywhere\n✓ Real content hierarchy: 1 big thing per section, not 6 equal things\n✓ Mobile-first: hamburger nav, hero height 100dvh on mobile\n\n═══ HARD RULES ═══\n1. No em-dashes (—). Use comma or nothing.\n2. ALL Nav links → onClick={() => setModalOpen(true)} — opens InterestedModal\n3. DemoNotice: sticky top-0 z-50 banner, non-dismissable\n4. index.html: <meta name=\"robots\" content=\"noindex,nofollow\"> in <head>\n5. Hero max 4 elements. Fits in 100dvh without scroll.\n6. All CSS transitions: cubic-bezier(.23,1,.32,1), max 300ms\n7. Missing data → \"Auf Anfrage\". NEVER invent: hours, prices, menu, address, phone\n8. border-radius max 16px on cards\n9. Button tap: scale(0.97) + 100ms ease-out\n10. Google Fonts via @import in CSS (not link tag)\n\nREQUIRED PACKAGES: react, react-dom, framer-motion\ndevDeps: vite, @vitejs/plugin-react, tailwindcss, autoprefixer, postcss`;\n\n// ---- User prompt — TASTE-SKILL Edition ----\nconst userPrompt = `Build a premium sales demo for: ${name || leadId}\nLead ID: ${leadId}\n\n═══ DESIGN DIRECTION: ${direction.toUpperCase()} ═══\n${dirGuide}\n\nDESIGN TOKENS (use as CSS custom properties):\nColors: ${colorBlock}\nFont heading: ${fontHeading}\nFont body: ${fontBody}\n\nBRAND POSITIONING:\n${posStatement ? `Claim: \"${posStatement}\"` : ''}\n${mood ? `Atmosphere: ${mood}` : ''}\nHero headline: \"${heroHeadline}\"\nHero subheadline: \"${heroSub}\"\nCTA primary: \"${ctaPrimary}\"\n${improvements ? `Improvements vs. original: ${improvements}` : ''}\n\nFACTS (use exactly — do not change):\nName: ${name || 'Auf Anfrage'}\nAddress: ${adresse || 'Auf Anfrage'}\nPhone: ${telefon || 'Auf Anfrage'}\nEmail: ${email || 'Auf Anfrage'}\nHours: ${oeffnung || 'Auf Anfrage'}\nReservations: ${reservUrl || telefon || 'Auf Anfrage'}\n\nCONTENT:\nAbout: ${ueber_uns ? ueber_uns.slice(0, 500) : 'Auf Anfrage'}\nSpecialties: ${spezis || 'Auf Anfrage'}\nCuisine type: ${kueche || 'Auf Anfrage'}\n\nDO NOT INVENT: ${doNotInvent.join(', ') || 'öffnungszeiten, preise, menü, adresse, telefon'}\nDemo notice text: \"${demoText}\"\nSections to include: ${sectionsList}\n\nHOMEPAGE = SALES PRODUCT:\nThe restaurant owner is the user. Make them think: \"I want this for my real website.\"\nThe hero must be the MOST impressive thing they've ever seen for their restaurant.\nEvery section headline should be compelling, not informational.\n\nREQUIRED FILES (generate ALL, no exceptions):\npackage.json\nvite.config.js\ntailwind.config.js\npostcss.config.js\nindex.html\nsrc/main.jsx\nsrc/App.jsx\nsrc/styles/tokens.css\nsrc/data/site.js\nsrc/components/Nav.jsx\nsrc/components/DemoNotice.jsx\nsrc/components/Hero.jsx\nsrc/components/Highlights.jsx\nsrc/components/About.jsx\nsrc/components/Contact.jsx\nsrc/components/Footer.jsx\nsrc/components/InterestedModal.jsx\n\nsite.js = single source of truth for ALL data. App.jsx manages modalOpen state.\ntokens.css defines ALL CSS custom properties. Main CSS imports tokens.css first.`;\n\nconst llmPayload = {\n  model: 'Claude-Sonnet-4.6',\n  messages: [\n    { role: 'user', content: userPrompt },\n  ],\n  max_tokens: 12000,\n  temperature: 0.3,\n  system: systemPrompt,\n};\n\nreturn [{json: {\n  lead_id:      leadId,\n  lead:         lead,\n  content:      content,\n  images:       images,\n  concept:      concept,\n  llm_payload:  llmPayload,\n  name:         name,\n  demo_text:    demoText,\n  do_not_invent: doNotInvent,\n}}];\n"},"id":"789c67b2-1780-4045-bd87-fdaaba1a78a0","name":"Website-Prompt bauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.llm_payload }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":120000}},"id":"3eb3c99f-213f-4cc5-9f7a-3076cd703ea5","name":"LLM: Website bauen","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,0],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}}},{"parameters":{"jsCode":"var data=$('Website-Prompt bauen').first().json;\nvar response=$input.first().json;\nvar rawContent=(response.choices&&response.choices[0]&&response.choices[0].message&&response.choices[0].message.content)||response.content||'';\nvar files=[],parseError=null,seen={};\n\n// Normalize file name: strip leading 'N. ' prefix, trim whitespace\nfunction normName(n){\n  return String(n||'').replace(/^\\d+\\.\\s+/,'').trim();\n}\n\nfunction addFile(name,content){\n  name=normName(name);\n  if(!name||seen[name])return;\n  seen[name]=true;\n  files.push({name:name,content:content});\n}\n\n// Strategy 1: XML <file name=\"...\">...</file>\nvar xmlRe=/<file\\s+name=\"([^\"]+)\">\\n?((?:[\\s\\S])*?)<\\/file>/g,m;\nwhile((m=xmlRe.exec(rawContent))!==null) addFile(m[1],m[2]);\n\n// Strategy 2: Markdown code blocks - ALL heading/bold formats\nif(files.length===0){\n  var parts=rawContent.split(/\\n```/);\n  for(var i=1;i<parts.length;i+=2){\n    var before=parts[i-1];\n    var block=parts[i];\n    var nl=block.indexOf('\\n');if(nl===-1)continue;\n    var content=block.slice(nl+1);\n    var rn=null;\n    // Format A: **filename**\n    var bm=before.match(/\\*\\*([^*\\n]+?)\\*\\*/g);\n    if(bm) rn=bm[bm.length-1].replace(/\\*\\*/g,'').trim();\n    // Format B: ### `filename`\n    if(!rn){var hb=before.match(/#{1,4}\\s+`([^`\\n]+)`/g);if(hb){var lh=hb[hb.length-1].match(/`([^`\\n]+)`/);if(lh)rn=lh[1].trim();}}\n    // Format C: ### filename.ext\n    if(!rn){var hp=before.match(/#{1,4}\\s+([\\w./\\-]+\\.[a-z]{1,5})/g);if(hp){var lp=hp[hp.length-1].match(/([\\w./\\-]+\\.[a-z]{1,5})$/);if(lp)rn=lp[1].trim();}}\n    // Format D: standalone filename line\n    if(!rn){var lines=before.split('\\n');for(var k=lines.length-1;k>=Math.max(0,lines.length-4);k--){var ln=lines[k].trim().replace(/^\\d+\\.\\s+/,'');var fm=ln.match(/^[`*_]?([\\w./\\-]+\\.(?:jsx?|tsx?|json|html|css|md))[`*_]?:?$/i);if(fm){rn=fm[1];break;}}}\n    if(rn) addFile(rn,content);\n  }\n}\n\n// Strategy 3: JSON {\"files\":[...]}\nif(files.length===0){\n  var cleaned=rawContent.replace(/```(?:json)?\\n?/gi,'').replace(/```\\n?/g,'').trim();\n  var idx=cleaned.indexOf('{\"files\"');if(idx>-1){try{var p=JSON.parse(cleaned.slice(idx));if(p&&Array.isArray(p.files))p.files.forEach(function(f){if(f.name&&typeof f.content==='string')addFile(f.name,f.content);});}catch(e){}}\n}\n\nif(files.length===0)parseError='parse_failed_all_strategies';\nelse if(files.length<7)parseError='partial_files_'+files.length;\n\nreturn [{json:Object.assign({},data,{files:files,parse_error:parseError,raw_length:rawContent.length,file_count_parsed:files.length})}];\n"},"id":"24559c5f-ad43-4c78-ae86-7078745144c1","name":"Files parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0]},{"parameters":{"jsCode":"var data=$input.first().json;\nvar leadId=data.lead_id;\nvar files=data.files||[];\nvar name=data.name||'Restaurant';\nvar demoText=data.demo_text||'Demo von MONEYLAN';\nvar telefon=(data.content&&data.content.telefon)||'';\nvar adresse=(data.content&&data.content.adresse)||'';\n\nvar STUBS={\n  'postcss.config.js': 'export default { plugins: { tailwindcss: {}, autoprefixer: {} } };',\n\n  // App.jsx passes ALL possible prop names so any generated component works\n  'src/App.jsx': 'import React, { useState } from \"react\"; import DemoNotice from \"./components/DemoNotice.jsx\"; import Nav from \"./components/Nav.jsx\"; import Hero from \"./components/Hero.jsx\"; import About from \"./components/About.jsx\"; import Contact from \"./components/Contact.jsx\"; import Footer from \"./components/Footer.jsx\"; import InterestedModal from \"./components/InterestedModal.jsx\"; export default function App() { const [m, setM] = useState(false); const open = () => setM(true); const close = () => setM(false); const h = { onNavClick: open, onCtaClick: open, onCTAClick: open, onCta: open, openModal: open }; return (<div className=\"min-h-screen bg-bg font-body text-text\"><DemoNotice /><Nav {...h} /><main><Hero {...h} /><About {...h} /><Contact {...h} /></main><Footer {...h} />{m && <InterestedModal onClose={close} isOpen={m} />}</div>); }',\n\n  // DemoNotice: works with both site.demoNotice and plain text\n  'src/components/DemoNotice.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function DemoNotice(){ return(<div className=\"sticky top-0 z-50 bg-primary text-secondary text-center text-xs sm:text-sm font-body py-2 px-4 tracking-wide shadow-md\"><span className=\"font-semibold\">{site.demoNotice||\"Demo-Praesentation von MONEYLAN\"}</span></div>);}',\n\n  // InterestedModal: works with both site.contact.phone and site.phone\n  'src/components/InterestedModal.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function InterestedModal({onClose,isOpen}){ var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; return(<div className=\"fixed inset-0 z-50 flex items-center justify-center bg-text/60 backdrop-blur-sm px-4\" onClick={onClose}><div className=\"bg-bg rounded-2xl shadow-2xl max-w-md w-full p-8 relative border border-primary/20\" onClick={function(e){e.stopPropagation();}}><div className=\"absolute top-0 left-0 right-0 h-1 rounded-t-2xl bg-primary\"/><button onClick={onClose} className=\"absolute top-4 right-4 text-primary/60 hover:text-primary text-2xl leading-none\" aria-label=\"Schliessen\">&times;</button><div className=\"flex justify-center mb-4\"><span className=\"text-5xl\">&#127869;</span></div><h2 className=\"font-heading text-2xl text-primary text-center mb-3\">{site.cta||\"Tisch reservieren\"}</h2><p className=\"font-body text-text/80 text-center leading-relaxed mb-6\">Wir freuen uns auf Ihren Besuch. Reservieren Sie direkt telefonisch.</p><div className=\"bg-secondary rounded-xl p-5 text-center mb-6 border border-primary/10\">{ph&&(<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-heading text-2xl text-primary hover:text-accent transition-colors block\">{ph}</a>)}<p className=\"font-body text-text/60 text-sm mt-2\">{addr}</p></div><button onClick={onClose} className=\"w-full py-3 rounded-xl bg-primary text-secondary font-heading text-sm tracking-widest uppercase hover:bg-primary/90 transition-colors\">Schliessen</button></div></div>);}',\n\n  // Footer: works with both site.contact.phone and site.phone\n  'src/components/Footer.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function Footer({ openModal, onNavClick }){ var open=openModal||onNavClick||function(){}; var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; return(<footer className=\"bg-text text-secondary py-12 px-6\"><div className=\"max-w-5xl mx-auto text-center\"><p className=\"font-heading text-xl mb-2\">{site.name}</p>{addr&&<p className=\"font-body text-secondary/60 text-sm mb-4\">{addr}</p>}{ph&&<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-body text-secondary/80 text-sm hover:text-secondary block\">{ph}</a>}<button onClick={open} className=\"mt-6 font-heading text-xs uppercase tracking-widest border border-secondary/30 text-secondary px-6 py-2 rounded-xl hover:bg-secondary/10 transition-all\">{site.cta||\"Tisch reservieren\"}</button><div className=\"border-t border-secondary/10 mt-8 pt-6\"><p className=\"font-body text-secondary/40 text-xs\">{site.demoNotice}</p></div></div></footer>);}',\n\n  // About stub (fallback if LLM version is truncated)\n  'src/components/About.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function About(props){ var open=props.onNavClick||props.onCtaClick||props.onCta||function(){}; return(<section id=\"about\" className=\"py-20 bg-secondary\"><div className=\"max-w-5xl mx-auto px-6\"><div className=\"text-center mb-12\"><p className=\"font-body text-primary text-xs uppercase tracking-widest mb-3\">Ueber uns</p><h2 className=\"font-heading text-3xl text-text mb-4\">{site.name}</h2></div><div className=\"grid lg:grid-cols-2 gap-12 items-start\"><div><p className=\"font-body text-text/80 text-lg leading-relaxed mb-8\">{site.about||site.tagline||site.claim||\"\"}</p><button onClick={open} className=\"font-heading text-xs uppercase tracking-widest bg-primary text-secondary px-8 py-3 rounded-xl hover:bg-primary/90\">{site.cta||\"Tisch reservieren\"}</button></div><div className=\"grid grid-cols-2 gap-4\">{(site.specialties||[]).map(function(s,i){return(<div key={i} className=\"bg-bg rounded-xl p-4 border border-primary/10 text-center\"><p className=\"font-body text-text text-sm\">{s}</p></div>);})}</div></div></div></section>);}',\n\n  // Contact stub (fallback)\n  'src/components/Contact.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function Contact(props){ var open=props.onNavClick||props.onCtaClick||props.onCta||function(){}; var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; var hours=site.hours||[]; return(<section id=\"contact\" className=\"py-20 bg-bg\"><div className=\"max-w-5xl mx-auto px-6\"><div className=\"text-center mb-12\"><p className=\"font-body text-primary text-xs uppercase tracking-widest mb-3\">Besuchen Sie uns</p><h2 className=\"font-heading text-3xl text-text mb-4\">Kontakt</h2></div><div className=\"grid sm:grid-cols-2 gap-8\"><div className=\"bg-secondary rounded-2xl p-8 border border-primary/10\"><h3 className=\"font-heading text-primary text-lg font-bold mb-5\">Kontakt</h3>{addr&&<p className=\"font-body text-text/70 text-sm mb-3\">{addr}</p>}{ph&&<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-heading text-2xl text-primary font-bold hover:text-accent block mb-4\">{ph}</a>}<button onClick={open} className=\"font-heading text-xs uppercase tracking-widest bg-primary text-secondary px-6 py-2.5 rounded-xl hover:bg-primary/90\">{site.cta||\"Tisch reservieren\"}</button></div><div className=\"bg-secondary rounded-2xl p-8 border border-primary/10\">{hours.map(function(h){var rows=h.rows||h.times||h.schedule||[];return(<div key={h.area||h.name} className=\"mb-6 last:mb-0\"><h3 className=\"font-heading text-primary text-base font-bold mb-3\">{h.area||h.name}</h3><ul className=\"space-y-2\">{rows.map(function(r){return(<li key={r.day} className=\"flex justify-between font-body text-sm text-text/70\"><span>{r.day}</span><span className=\"font-semibold\">{r.time}</span></li>);})}</ul></div>);})}</div></div></div></section>);}',\n};\n\n// Build file map\nvar fileMap={};\nfiles.forEach(function(f){fileMap[f.name]=f.content;});\n\n// Detect truncated files\nfunction isTruncated(c){\n  if(!c||c.length<20)return true;\n  return !/[\\};>)]\\s*$/.test(c.trimEnd());\n}\n\n// Apply stubs for missing or truncated files\nObject.keys(STUBS).forEach(function(req){\n  var existing=fileMap[req];\n  if(!existing||isTruncated(existing)){\n    fileMap[req]=STUBS[req];\n    var found=false;\n    for(var i=0;i<files.length;i++){if(files[i].name===req){files[i].content=STUBS[req];found=true;break;}}\n    if(!found) files.push({name:req,content:STUBS[req]});\n  }\n});\n\n// Add src/index.css if missing\nif(!fileMap['src/index.css']&&!fileMap['index.css']){\n  var css='@tailwind base;\\n@tailwind components;\\n@tailwind utilities;\\nbody{margin:0;}';\n  files.push({name:'src/index.css',content:css});\n}\n\n// Build Vercel payload\nvar filesForVercel=files.map(function(f){\n  return{file:f.name,data:Buffer.from(f.content,'utf8').toString('base64'),encoding:'base64'};\n});\nvar projName='ml-'+leadId.replace(/[^a-z0-9-]/gi,'').toLowerCase().slice(0,40);\nvar vercelBody={name:projName,files:filesForVercel,projectSettings:{buildCommand:'npm run build',outputDirectory:'dist',framework:'vite',installCommand:'npm install'},target:'production'};\n\nreturn [{json:Object.assign({},data,{vercel_body:vercelBody,file_count:files.length,site_dir:'vercel:'+projName,files_prepared:files.map(function(f){return f.name;})})}];\n"},"id":"2c658326-4554-46bf-a81f-ffc9147ec895","name":"Files schreiben","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0]},{"parameters":{"method":"POST","url":"https://api.vercel.com/v13/deployments","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.vercel_body }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":60000}},"id":"9d16a851-848b-41d6-8938-a06cee19a844","name":"Vercel Deploy","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1776,0],"credentials":{"httpBearerAuth":{"id":"z8urTXySVsX8YQXE","name":"VERCEL TOKEN"}}},{"parameters":{"jsCode":"const writtenData = $('Files schreiben').first().json;\nconst vercelResp = $input.first().json;\nconst leadId = writtenData.lead_id;\nvar demoUrl = '', buildStatus = 'built';\nif (vercelResp.url && !vercelResp.error) {\n  demoUrl = 'https://' + vercelResp.url;\n  buildStatus = 'deployed';\n} else if (vercelResp.readyState === 'READY') {\n  demoUrl = 'https://' + ((vercelResp.alias || [])[0] || vercelResp.id + '.vercel.app');\n  buildStatus = 'deployed';\n} else {\n  demoUrl = '/files/runs/' + leadId + '/site/index.html';\n  buildStatus = 'files_only';\n}\nreturn [{json:{ lead_id: leadId, demo_url: demoUrl, build_status: buildStatus, files_written: writtenData.files_written || [], site_dir: writtenData.site_dir, vercel_error: vercelResp.error || null, file_count: writtenData.file_count || 0 }}];\n"},"id":"3b1d435a-979f-4c56-8888-a21c4f9843ad","name":"Ergebnis auswerten","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,0]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"BUILD"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","demo_url":"={{ $json.demo_url }}","build_status":"={{ $json.build_status }}","website_built_at":"={{ new Date().toISOString() }}","file_count":"={{ $json.file_count }}","site_dir":"={{ $json.site_dir }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt_path","displayName":"prompt_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"json_path","displayName":"json_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ready_to_build","displayName":"ready_to_build","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"prompt_chars","displayName":"prompt_chars","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"asset_count","displayName":"asset_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"section_count","displayName":"section_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tech_stack","displayName":"tech_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"input_files","displayName":"input_files","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"build_commands","displayName":"build_commands","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_url","displayName":"demo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_status","displayName":"build_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website_built_at","displayName":"website_built_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"file_count","displayName":"file_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"site_dir","displayName":"site_dir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"157fb184-55ed-4c30-918a-ee4a2886ef07","name":"BUILD: demo_url schreiben","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2240,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"CONCEPT"},"options":{}},"id":"2542ffcf-d017-42cc-bb10-1c7bb13a3a88","name":"CONCEPT holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const leadData = $('Daten laden').first().json;\nconst leadId = leadData.lead_id;\nconst conceptRows = $input.all().map(i => i.json);\nconst concept = conceptRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json: Object.assign({}, leadData, { concept: concept })}];\n"},"id":"2df8accd-9fab-4491-b1d4-17bd4f46fea9","name":"Konzept mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"CONTENT"},"options":{}},"id":"27e77832-f403-416e-8087-591a8602bfa2","name":"CONTENT holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const konzept = $('Konzept mergen').first().json;\nconst leadId = konzept.lead_id;\nconst contentRows = $input.all().map(i => i.json);\nconst content = contentRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json: Object.assign({}, konzept, { content: content })}];\n"},"id":"f782a4c0-831a-41f5-ae2a-4f6379729c6a","name":"Content mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0]},{"id":"b67d247c-42ac-41e4-9914-fbb552e8a1f8","name":"IMAGES holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,220],"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"IMAGES"},"options":{}},"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"90c9a157-12cb-4268-9a6b-c0ab38981f44","name":"Images mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,220],"parameters":{"jsCode":"const prevData = $('Content mergen').first().json;\nconst leadId = prevData.lead_id;\nconst imagesRows = $input.all().map(i => i.json);\n\n// Use LAST matching row (newest data, since Agent 3 appends on each run)\nconst matching = imagesRows.filter(r => String(r.lead_id || '').trim() === leadId);\nconst images = matching.length > 0 ? matching[matching.length - 1] : {};\n\nreturn [{ json: Object.assign({}, prevData, { images: images }) }];"}}],"connections":{"Webhook: agent7":{"main":[[{"node":"LEADS holen","type":"main","index":0}]]},"LEADS holen":{"main":[[{"node":"Daten laden","type":"main","index":0}]]},"Original-URL fetchen":{"main":[[{"node":"Website-Prompt bauen","type":"main","index":0}]]},"Website-Prompt bauen":{"main":[[{"node":"LLM: Website bauen","type":"main","index":0}]]},"LLM: Website bauen":{"main":[[{"node":"Files parsen","type":"main","index":0}]]},"Files parsen":{"main":[[{"node":"Files schreiben","type":"main","index":0}]]},"Files schreiben":{"main":[[{"node":"Vercel Deploy","type":"main","index":0}]]},"Vercel Deploy":{"main":[[{"node":"Ergebnis auswerten","type":"main","index":0}]]},"Ergebnis auswerten":{"main":[[{"node":"BUILD: demo_url schreiben","type":"main","index":0}]]},"Daten laden":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]},"CONCEPT holen":{"main":[[{"node":"Konzept mergen","type":"main","index":0}]]},"Konzept mergen":{"main":[[{"node":"CONTENT holen","type":"main","index":0}]]},"CONTENT holen":{"main":[[{"node":"Content mergen","type":"main","index":0}]]},"Content mergen":{"main":[[{"node":"IMAGES holen","type":"main","index":0}]]},"IMAGES holen":{"main":[[{"node":"Images mergen","type":"main","index":0}]]},"Images mergen":{"main":[[{"node":"Original-URL fetchen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"builderVariant":"mcp"},"nodeGroups":[],"pinData":{},"versionId":"f73ca520-c712-429f-933a-aab255f764f1","activeVersionId":"f73ca520-c712-429f-933a-aab255f764f1","versionCounter":24,"triggerCount":1,"shared":[{"updatedAt":"2026-06-08T18:59:17.956Z","createdAt":"2026-06-08T18:59:17.956Z","role":"workflow:owner","workflowId":"nTVZLymUEYRt1W86","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-09T10:22:13.913Z","createdAt":"2026-06-09T10:22:13.913Z","versionId":"f73ca520-c712-429f-933a-aab255f764f1","workflowId":"nTVZLymUEYRt1W86","nodes":[{"parameters":{"httpMethod":"POST","path":"agent7-start","options":{}},"id":"03af332e-b631-4410-827b-36b7b669613e","name":"Webhook: agent7","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"7e8c4a81-64d7-4e34-97fa-10d78eb59c6e"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"LEADS"},"options":{}},"id":"e724231e-1b8a-4625-92b5-08b3a05aa9cd","name":"LEADS holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const wh = $('Webhook: agent7').first();\nconst body = wh.json.body || wh.json;\nconst leadId = String(body.lead_id || '').trim();\nif (!leadId) return [{ json: { error: 'no_lead_id', lead_id: '' } }];\nconst leadsRows = $input.all().map(i => i.json);\nconst leadRow = leadsRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json:{ lead_id: leadId, lead: leadRow, website_url: leadRow.website || leadRow.url || '' }}];\n"},"id":"1bc77043-ba7e-4d70-be53-bda13803cb77","name":"Daten laden","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"url":"={{ $json.website_url || 'https://example.com' }}","options":{"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":10000}},"id":"7a3e7fa1-e423-4a66-b78f-827a99452a93","name":"Original-URL fetchen","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,0]},{"parameters":{"jsCode":"// Agent 7 — Node: \"Website-Prompt bauen\"\n// TASTE-SKILL: Homepage = Verkaufsprodukt. Restaurantinhaber muss denken \"das will ich\".\n// Input: 1 item with full lead data (+ optional original site HTML from prev node)\n// Output: 1 item with llm_payload\n\nconst data       = $input.first().json;\nconst leadId     = data.lead_id;\nconst lead       = data.lead       || {};\nconst content    = data.content    || {};\nconst images     = data.images     || {};\nconst concept    = data.concept    || {};\nconst promptData = data.prompt_data || {};\n\n// Get original site HTML (continueOnFail)\nlet originalHtml = '';\ntry {\n  const htmlNode = $('Original-URL fetchen').first();\n  originalHtml = htmlNode.json.body || htmlNode.json.data || '';\n  if (typeof originalHtml !== 'string') originalHtml = '';\n  originalHtml = originalHtml.slice(0, 2000);\n} catch(e) {}\n\n// Resolve design data — prefer concept.json, fallback to prompt_data\nconst pos    = concept.positionierung   || {};\nconst tokens = concept.design_tokens    || {};\nconst copy   = concept.copy             || {};\nconst secs   = concept.sections         || [];\nconst ap     = concept.asset_plan       || {};\nconst constr = concept.constraints      || {};\nconst conv   = concept.conversion_logic || {};\n\nconst colors = tokens.colors     || promptData.design_system?.colors || {};\nconst typo   = tokens.typography || promptData.design_system?.typography || {};\n\nconst direction    = pos.design_direction    || promptData.design_system?.typography?.design_direction || 'elegant_modern';\nconst fontHeading  = typo.font_heading       || 'Playfair Display';\nconst fontBody     = typo.font_body          || 'Lato';\nconst heroHeadline = copy.hero_headline      || promptData.copy_blocks?.hero_headline  || lead.name || '';\nconst heroSub      = copy.hero_subheadline   || promptData.copy_blocks?.hero_subheadline || '';\nconst ctaPrimary   = copy.cta_primary        || 'Tisch reservieren';\nconst improvements = (concept.improvements_vs_original || promptData.design_system?.improvements || []).slice(0, 5).join('; ');\nconst posStatement = pos.statement || pos.claim || '';\nconst mood         = pos.mood || pos.atmosphaere || '';\n\n// Fakten aus content.json\nconst f   = content.fakten         || {};\nconst it  = content.interpretation || {};\nconst name       = f.name          || lead.name  || '';\nconst adresse    = f.adresse       || lead.address || '';\nconst telefon    = f.telefon       || lead.phone  || '';\nconst email      = f.email         || '';\nconst oeffnung   = f.oeffnungszeiten || '';\nconst ueber_uns  = it.ueber_uns    || content.ueber_uns || '';\nconst spezis     = (it.spezialitaeten || content.spezialitaeten || []).slice(0, 8).join(', ');\nconst kueche     = (it.kueche      || content.kueche || []).join(', ');\nconst reservUrl  = f.reservierung_url || '';\n\nconst doNotInvent = constr.do_not_invent || promptData.do_not_invent || [];\nconst demoText    = `Diese Website ist eine Demo-Präsentation von MONEYLAN für ${name || 'diesen Betrieb'}.`;\n\n// Design direction specific guidance\nconst directionGuide = {\n  traditional_german: `\nDIRECTION: Traditional German — Warm, erdverbunden, Holz + Cremeweiß + tiefes Grün oder Kastanienbraun.\nTypography: Serif für Headlines (Playfair Display oder Libre Baskerville), Großzügige Abstände.\nLayout: Asymmetrisch — große linke Text-Kolumne + rechts Bild, kein Grid-Template.\nHero: Dunkles Overlay auf Hintergrundbild (gradient bottom-to-top), Headline links, großgeschrieben.\nAtmosphere: Gemütlich, historisch, vertrauenswürdig. Holztextur-Feeling durch Farbe, nicht durch echte Bilder.`,\n\n  modern_bistro: `\nDIRECTION: Modern Bistro — Schwarz + Weiß + 1 starker Akzent (Terrakotta, Senfgelb oder Mintgrün).\nTypography: Editorial — Extra-Large Sans (Inter oder DM Sans, 900 weight), Kontrast klein/groß.\nLayout: Bold split-screen Hero. Bento-Grid für Highlights. Viel Weißraum.\nHero: Links volle Höhe Bild, rechts Headline extrem groß (clamp(3rem,8vw,7rem)), minimal.\nAtmosphere: Urban, curated, Instagram-worthy. Wenig Text, viel Raum.`,\n\n  italian_traditional: `\nDIRECTION: Italian Traditional — Off-white + Dunkelgrün + Gold-Akzent. Mediterrane Wärme.\nTypography: Serif Italic für Hero (Cormorant Garamond oder EB Garamond), Body humanist sans.\nLayout: Centered für den Hero ausnahmsweise erlaubt (einzige Ausnahme), dann Links-Rechts wechseln.\nHero: Voll-Bild mit Vignette, zentrierte Headline in Kursiv, elegant.\nAtmosphere: La dolce vita, Familie, Handwerk.`,\n\n  elegant_modern: `\nDIRECTION: Elegant Modern — Dunkel (fast Schwarz) + Creme/Ivory + Gold oder Kupfer-Akzent.\nTypography: Kontrast — Thin für Labels, Bold für Headlines. Mix Serif + Sans.\nLayout: Luxury editorial. Breite Sections, Sticky Nav.\nHero: Volle Bildschirmhöhe. Headline unten-links (position absolute), Gradient Overlay.\nAtmosphere: Fine Dining, exklusiv, leise Qualität.`,\n\n  casual_friendly: `\nDIRECTION: Casual Friendly — Lebendige Farben, rund, einladend. 2-3 Farben harmonisch.\nTypography: Runde Sans-Serif (Nunito, Poppins), große Buttons.\nLayout: Card-basiert aber NICHT generisch — Cards leicht rotiert, Schatten interessant.\nHero: Große Illustration oder Flat-Color-Block, Headline fett und nah.\nAtmosphere: Herzlich, lokal, für alle.`\n};\n\nconst dirGuide = directionGuide[direction] || directionGuide['elegant_modern'];\n\n// Sections plan\nconst sectionsList = secs.length > 0\n  ? secs.map(s => s.id || s.order).join(', ')\n  : 'hero, highlights, about, contact, footer';\n\nfunction safeColor(c) { return (c && typeof c === 'string') ? c : '#888'; }\nconst colorBlock = `primary: ${safeColor(colors.primary)}, secondary: ${safeColor(colors.secondary)}, accent: ${safeColor(colors.accent)}, bg: ${safeColor(colors.background)}, text: ${safeColor(colors.text)}`;\n\n// ---- System prompt — TASTE-SKILL Edition ----\nconst systemPrompt = `You are an elite frontend engineer building a SALES DEMO website for a German restaurant.\n\nMISSION: This demo is a sales tool. A restaurant owner will see it and decide whether to hire MONEYLAN.\nThe site must be visually STUNNING on first impression. It must feel better than their current website.\nThis is not a generic template. This is a premium, custom, restaurant-specific work of art.\n\nOUTPUT FORMAT: Return ONLY valid JSON — no markdown, no explanation, no code fences:\n{\"files\":[{\"name\":\"path/to/file\",\"content\":\"raw file content\"}]}\n\n═══ TASTE-SKILL: ABSOLUTE DESIGN RULES ═══\n\nANTI-PATTERNS — NEVER DO THESE:\n× No centered hero text (except Italian Traditional direction)\n× No generic teal/blue color schemes unless in design tokens\n× No placeholder \"Lorem ipsum\" or generic text\n× No stock-photo-style card grids (3 equal cards in a row)\n× No rounded buttons with gradient backgrounds\n× No clip art icons — use unicode symbols or SVG only\n× No \"Welcome to [Name]\" hero headline\n× No top-heavy layouts where everything is in the first 200px\n\nPREMIUM PATTERNS — ALWAYS DO:\n✓ Left-aligned or split-screen heroes (position: absolute text over image)\n✓ Editorial typography: clamp() for responsive font-size, line-height 1.1–1.2 for display text\n✓ CSS custom properties for ALL design tokens (--color-primary, --font-heading, etc.)\n✓ Sticky demo banner at absolute top, non-dismissable, subtle\n✓ Smooth scroll-triggered entry animations (IntersectionObserver, not framer-motion)\n✓ One strong accent color used consistently — not sprinkled everywhere\n✓ Real content hierarchy: 1 big thing per section, not 6 equal things\n✓ Mobile-first: hamburger nav, hero height 100dvh on mobile\n\n═══ HARD RULES ═══\n1. No em-dashes (—). Use comma or nothing.\n2. ALL Nav links → onClick={() => setModalOpen(true)} — opens InterestedModal\n3. DemoNotice: sticky top-0 z-50 banner, non-dismissable\n4. index.html: <meta name=\"robots\" content=\"noindex,nofollow\"> in <head>\n5. Hero max 4 elements. Fits in 100dvh without scroll.\n6. All CSS transitions: cubic-bezier(.23,1,.32,1), max 300ms\n7. Missing data → \"Auf Anfrage\". NEVER invent: hours, prices, menu, address, phone\n8. border-radius max 16px on cards\n9. Button tap: scale(0.97) + 100ms ease-out\n10. Google Fonts via @import in CSS (not link tag)\n\nREQUIRED PACKAGES: react, react-dom, framer-motion\ndevDeps: vite, @vitejs/plugin-react, tailwindcss, autoprefixer, postcss`;\n\n// ---- User prompt — TASTE-SKILL Edition ----\nconst userPrompt = `Build a premium sales demo for: ${name || leadId}\nLead ID: ${leadId}\n\n═══ DESIGN DIRECTION: ${direction.toUpperCase()} ═══\n${dirGuide}\n\nDESIGN TOKENS (use as CSS custom properties):\nColors: ${colorBlock}\nFont heading: ${fontHeading}\nFont body: ${fontBody}\n\nBRAND POSITIONING:\n${posStatement ? `Claim: \"${posStatement}\"` : ''}\n${mood ? `Atmosphere: ${mood}` : ''}\nHero headline: \"${heroHeadline}\"\nHero subheadline: \"${heroSub}\"\nCTA primary: \"${ctaPrimary}\"\n${improvements ? `Improvements vs. original: ${improvements}` : ''}\n\nFACTS (use exactly — do not change):\nName: ${name || 'Auf Anfrage'}\nAddress: ${adresse || 'Auf Anfrage'}\nPhone: ${telefon || 'Auf Anfrage'}\nEmail: ${email || 'Auf Anfrage'}\nHours: ${oeffnung || 'Auf Anfrage'}\nReservations: ${reservUrl || telefon || 'Auf Anfrage'}\n\nCONTENT:\nAbout: ${ueber_uns ? ueber_uns.slice(0, 500) : 'Auf Anfrage'}\nSpecialties: ${spezis || 'Auf Anfrage'}\nCuisine type: ${kueche || 'Auf Anfrage'}\n\nDO NOT INVENT: ${doNotInvent.join(', ') || 'öffnungszeiten, preise, menü, adresse, telefon'}\nDemo notice text: \"${demoText}\"\nSections to include: ${sectionsList}\n\nHOMEPAGE = SALES PRODUCT:\nThe restaurant owner is the user. Make them think: \"I want this for my real website.\"\nThe hero must be the MOST impressive thing they've ever seen for their restaurant.\nEvery section headline should be compelling, not informational.\n\nREQUIRED FILES (generate ALL, no exceptions):\npackage.json\nvite.config.js\ntailwind.config.js\npostcss.config.js\nindex.html\nsrc/main.jsx\nsrc/App.jsx\nsrc/styles/tokens.css\nsrc/data/site.js\nsrc/components/Nav.jsx\nsrc/components/DemoNotice.jsx\nsrc/components/Hero.jsx\nsrc/components/Highlights.jsx\nsrc/components/About.jsx\nsrc/components/Contact.jsx\nsrc/components/Footer.jsx\nsrc/components/InterestedModal.jsx\n\nsite.js = single source of truth for ALL data. App.jsx manages modalOpen state.\ntokens.css defines ALL CSS custom properties. Main CSS imports tokens.css first.`;\n\nconst llmPayload = {\n  model: 'Claude-Sonnet-4.6',\n  messages: [\n    { role: 'user', content: userPrompt },\n  ],\n  max_tokens: 12000,\n  temperature: 0.3,\n  system: systemPrompt,\n};\n\nreturn [{json: {\n  lead_id:      leadId,\n  lead:         lead,\n  content:      content,\n  images:       images,\n  concept:      concept,\n  llm_payload:  llmPayload,\n  name:         name,\n  demo_text:    demoText,\n  do_not_invent: doNotInvent,\n}}];\n"},"id":"789c67b2-1780-4045-bd87-fdaaba1a78a0","name":"Website-Prompt bauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.llm_payload }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":120000}},"id":"3eb3c99f-213f-4cc5-9f7a-3076cd703ea5","name":"LLM: Website bauen","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,0],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}}},{"parameters":{"jsCode":"var data=$('Website-Prompt bauen').first().json;\nvar response=$input.first().json;\nvar rawContent=(response.choices&&response.choices[0]&&response.choices[0].message&&response.choices[0].message.content)||response.content||'';\nvar files=[],parseError=null,seen={};\n\n// Normalize file name: strip leading 'N. ' prefix, trim whitespace\nfunction normName(n){\n  return String(n||'').replace(/^\\d+\\.\\s+/,'').trim();\n}\n\nfunction addFile(name,content){\n  name=normName(name);\n  if(!name||seen[name])return;\n  seen[name]=true;\n  files.push({name:name,content:content});\n}\n\n// Strategy 1: XML <file name=\"...\">...</file>\nvar xmlRe=/<file\\s+name=\"([^\"]+)\">\\n?((?:[\\s\\S])*?)<\\/file>/g,m;\nwhile((m=xmlRe.exec(rawContent))!==null) addFile(m[1],m[2]);\n\n// Strategy 2: Markdown code blocks - ALL heading/bold formats\nif(files.length===0){\n  var parts=rawContent.split(/\\n```/);\n  for(var i=1;i<parts.length;i+=2){\n    var before=parts[i-1];\n    var block=parts[i];\n    var nl=block.indexOf('\\n');if(nl===-1)continue;\n    var content=block.slice(nl+1);\n    var rn=null;\n    // Format A: **filename**\n    var bm=before.match(/\\*\\*([^*\\n]+?)\\*\\*/g);\n    if(bm) rn=bm[bm.length-1].replace(/\\*\\*/g,'').trim();\n    // Format B: ### `filename`\n    if(!rn){var hb=before.match(/#{1,4}\\s+`([^`\\n]+)`/g);if(hb){var lh=hb[hb.length-1].match(/`([^`\\n]+)`/);if(lh)rn=lh[1].trim();}}\n    // Format C: ### filename.ext\n    if(!rn){var hp=before.match(/#{1,4}\\s+([\\w./\\-]+\\.[a-z]{1,5})/g);if(hp){var lp=hp[hp.length-1].match(/([\\w./\\-]+\\.[a-z]{1,5})$/);if(lp)rn=lp[1].trim();}}\n    // Format D: standalone filename line\n    if(!rn){var lines=before.split('\\n');for(var k=lines.length-1;k>=Math.max(0,lines.length-4);k--){var ln=lines[k].trim().replace(/^\\d+\\.\\s+/,'');var fm=ln.match(/^[`*_]?([\\w./\\-]+\\.(?:jsx?|tsx?|json|html|css|md))[`*_]?:?$/i);if(fm){rn=fm[1];break;}}}\n    if(rn) addFile(rn,content);\n  }\n}\n\n// Strategy 3: JSON {\"files\":[...]}\nif(files.length===0){\n  var cleaned=rawContent.replace(/```(?:json)?\\n?/gi,'').replace(/```\\n?/g,'').trim();\n  var idx=cleaned.indexOf('{\"files\"');if(idx>-1){try{var p=JSON.parse(cleaned.slice(idx));if(p&&Array.isArray(p.files))p.files.forEach(function(f){if(f.name&&typeof f.content==='string')addFile(f.name,f.content);});}catch(e){}}\n}\n\nif(files.length===0)parseError='parse_failed_all_strategies';\nelse if(files.length<7)parseError='partial_files_'+files.length;\n\nreturn [{json:Object.assign({},data,{files:files,parse_error:parseError,raw_length:rawContent.length,file_count_parsed:files.length})}];\n"},"id":"24559c5f-ad43-4c78-ae86-7078745144c1","name":"Files parsen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0]},{"parameters":{"jsCode":"var data=$input.first().json;\nvar leadId=data.lead_id;\nvar files=data.files||[];\nvar name=data.name||'Restaurant';\nvar demoText=data.demo_text||'Demo von MONEYLAN';\nvar telefon=(data.content&&data.content.telefon)||'';\nvar adresse=(data.content&&data.content.adresse)||'';\n\nvar STUBS={\n  'postcss.config.js': 'export default { plugins: { tailwindcss: {}, autoprefixer: {} } };',\n\n  // App.jsx passes ALL possible prop names so any generated component works\n  'src/App.jsx': 'import React, { useState } from \"react\"; import DemoNotice from \"./components/DemoNotice.jsx\"; import Nav from \"./components/Nav.jsx\"; import Hero from \"./components/Hero.jsx\"; import About from \"./components/About.jsx\"; import Contact from \"./components/Contact.jsx\"; import Footer from \"./components/Footer.jsx\"; import InterestedModal from \"./components/InterestedModal.jsx\"; export default function App() { const [m, setM] = useState(false); const open = () => setM(true); const close = () => setM(false); const h = { onNavClick: open, onCtaClick: open, onCTAClick: open, onCta: open, openModal: open }; return (<div className=\"min-h-screen bg-bg font-body text-text\"><DemoNotice /><Nav {...h} /><main><Hero {...h} /><About {...h} /><Contact {...h} /></main><Footer {...h} />{m && <InterestedModal onClose={close} isOpen={m} />}</div>); }',\n\n  // DemoNotice: works with both site.demoNotice and plain text\n  'src/components/DemoNotice.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function DemoNotice(){ return(<div className=\"sticky top-0 z-50 bg-primary text-secondary text-center text-xs sm:text-sm font-body py-2 px-4 tracking-wide shadow-md\"><span className=\"font-semibold\">{site.demoNotice||\"Demo-Praesentation von MONEYLAN\"}</span></div>);}',\n\n  // InterestedModal: works with both site.contact.phone and site.phone\n  'src/components/InterestedModal.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function InterestedModal({onClose,isOpen}){ var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; return(<div className=\"fixed inset-0 z-50 flex items-center justify-center bg-text/60 backdrop-blur-sm px-4\" onClick={onClose}><div className=\"bg-bg rounded-2xl shadow-2xl max-w-md w-full p-8 relative border border-primary/20\" onClick={function(e){e.stopPropagation();}}><div className=\"absolute top-0 left-0 right-0 h-1 rounded-t-2xl bg-primary\"/><button onClick={onClose} className=\"absolute top-4 right-4 text-primary/60 hover:text-primary text-2xl leading-none\" aria-label=\"Schliessen\">&times;</button><div className=\"flex justify-center mb-4\"><span className=\"text-5xl\">&#127869;</span></div><h2 className=\"font-heading text-2xl text-primary text-center mb-3\">{site.cta||\"Tisch reservieren\"}</h2><p className=\"font-body text-text/80 text-center leading-relaxed mb-6\">Wir freuen uns auf Ihren Besuch. Reservieren Sie direkt telefonisch.</p><div className=\"bg-secondary rounded-xl p-5 text-center mb-6 border border-primary/10\">{ph&&(<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-heading text-2xl text-primary hover:text-accent transition-colors block\">{ph}</a>)}<p className=\"font-body text-text/60 text-sm mt-2\">{addr}</p></div><button onClick={onClose} className=\"w-full py-3 rounded-xl bg-primary text-secondary font-heading text-sm tracking-widest uppercase hover:bg-primary/90 transition-colors\">Schliessen</button></div></div>);}',\n\n  // Footer: works with both site.contact.phone and site.phone\n  'src/components/Footer.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function Footer({ openModal, onNavClick }){ var open=openModal||onNavClick||function(){}; var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; return(<footer className=\"bg-text text-secondary py-12 px-6\"><div className=\"max-w-5xl mx-auto text-center\"><p className=\"font-heading text-xl mb-2\">{site.name}</p>{addr&&<p className=\"font-body text-secondary/60 text-sm mb-4\">{addr}</p>}{ph&&<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-body text-secondary/80 text-sm hover:text-secondary block\">{ph}</a>}<button onClick={open} className=\"mt-6 font-heading text-xs uppercase tracking-widest border border-secondary/30 text-secondary px-6 py-2 rounded-xl hover:bg-secondary/10 transition-all\">{site.cta||\"Tisch reservieren\"}</button><div className=\"border-t border-secondary/10 mt-8 pt-6\"><p className=\"font-body text-secondary/40 text-xs\">{site.demoNotice}</p></div></div></footer>);}',\n\n  // About stub (fallback if LLM version is truncated)\n  'src/components/About.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function About(props){ var open=props.onNavClick||props.onCtaClick||props.onCta||function(){}; return(<section id=\"about\" className=\"py-20 bg-secondary\"><div className=\"max-w-5xl mx-auto px-6\"><div className=\"text-center mb-12\"><p className=\"font-body text-primary text-xs uppercase tracking-widest mb-3\">Ueber uns</p><h2 className=\"font-heading text-3xl text-text mb-4\">{site.name}</h2></div><div className=\"grid lg:grid-cols-2 gap-12 items-start\"><div><p className=\"font-body text-text/80 text-lg leading-relaxed mb-8\">{site.about||site.tagline||site.claim||\"\"}</p><button onClick={open} className=\"font-heading text-xs uppercase tracking-widest bg-primary text-secondary px-8 py-3 rounded-xl hover:bg-primary/90\">{site.cta||\"Tisch reservieren\"}</button></div><div className=\"grid grid-cols-2 gap-4\">{(site.specialties||[]).map(function(s,i){return(<div key={i} className=\"bg-bg rounded-xl p-4 border border-primary/10 text-center\"><p className=\"font-body text-text text-sm\">{s}</p></div>);})}</div></div></div></section>);}',\n\n  // Contact stub (fallback)\n  'src/components/Contact.jsx': 'import React from \"react\"; import { site } from \"../data/site\"; export default function Contact(props){ var open=props.onNavClick||props.onCtaClick||props.onCta||function(){}; var ph=(site.contact&&site.contact.phone)||site.phone||\"\"; var addr=(site.contact&&site.contact.address)||site.address||\"\"; var hours=site.hours||[]; return(<section id=\"contact\" className=\"py-20 bg-bg\"><div className=\"max-w-5xl mx-auto px-6\"><div className=\"text-center mb-12\"><p className=\"font-body text-primary text-xs uppercase tracking-widest mb-3\">Besuchen Sie uns</p><h2 className=\"font-heading text-3xl text-text mb-4\">Kontakt</h2></div><div className=\"grid sm:grid-cols-2 gap-8\"><div className=\"bg-secondary rounded-2xl p-8 border border-primary/10\"><h3 className=\"font-heading text-primary text-lg font-bold mb-5\">Kontakt</h3>{addr&&<p className=\"font-body text-text/70 text-sm mb-3\">{addr}</p>}{ph&&<a href={\"tel:\"+ph.replace(/\\\\s/g,\"\")} className=\"font-heading text-2xl text-primary font-bold hover:text-accent block mb-4\">{ph}</a>}<button onClick={open} className=\"font-heading text-xs uppercase tracking-widest bg-primary text-secondary px-6 py-2.5 rounded-xl hover:bg-primary/90\">{site.cta||\"Tisch reservieren\"}</button></div><div className=\"bg-secondary rounded-2xl p-8 border border-primary/10\">{hours.map(function(h){var rows=h.rows||h.times||h.schedule||[];return(<div key={h.area||h.name} className=\"mb-6 last:mb-0\"><h3 className=\"font-heading text-primary text-base font-bold mb-3\">{h.area||h.name}</h3><ul className=\"space-y-2\">{rows.map(function(r){return(<li key={r.day} className=\"flex justify-between font-body text-sm text-text/70\"><span>{r.day}</span><span className=\"font-semibold\">{r.time}</span></li>);})}</ul></div>);})}</div></div></div></section>);}',\n};\n\n// Build file map\nvar fileMap={};\nfiles.forEach(function(f){fileMap[f.name]=f.content;});\n\n// Detect truncated files\nfunction isTruncated(c){\n  if(!c||c.length<20)return true;\n  return !/[\\};>)]\\s*$/.test(c.trimEnd());\n}\n\n// Apply stubs for missing or truncated files\nObject.keys(STUBS).forEach(function(req){\n  var existing=fileMap[req];\n  if(!existing||isTruncated(existing)){\n    fileMap[req]=STUBS[req];\n    var found=false;\n    for(var i=0;i<files.length;i++){if(files[i].name===req){files[i].content=STUBS[req];found=true;break;}}\n    if(!found) files.push({name:req,content:STUBS[req]});\n  }\n});\n\n// Add src/index.css if missing\nif(!fileMap['src/index.css']&&!fileMap['index.css']){\n  var css='@tailwind base;\\n@tailwind components;\\n@tailwind utilities;\\nbody{margin:0;}';\n  files.push({name:'src/index.css',content:css});\n}\n\n// Build Vercel payload\nvar filesForVercel=files.map(function(f){\n  return{file:f.name,data:Buffer.from(f.content,'utf8').toString('base64'),encoding:'base64'};\n});\nvar projName='ml-'+leadId.replace(/[^a-z0-9-]/gi,'').toLowerCase().slice(0,40);\nvar vercelBody={name:projName,files:filesForVercel,projectSettings:{buildCommand:'npm run build',outputDirectory:'dist',framework:'vite',installCommand:'npm install'},target:'production'};\n\nreturn [{json:Object.assign({},data,{vercel_body:vercelBody,file_count:files.length,site_dir:'vercel:'+projName,files_prepared:files.map(function(f){return f.name;})})}];\n"},"id":"2c658326-4554-46bf-a81f-ffc9147ec895","name":"Files schreiben","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0]},{"parameters":{"method":"POST","url":"https://api.vercel.com/v13/deployments","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.vercel_body }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":60000}},"id":"9d16a851-848b-41d6-8938-a06cee19a844","name":"Vercel Deploy","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1776,0],"credentials":{"httpBearerAuth":{"id":"z8urTXySVsX8YQXE","name":"VERCEL TOKEN"}}},{"parameters":{"jsCode":"const writtenData = $('Files schreiben').first().json;\nconst vercelResp = $input.first().json;\nconst leadId = writtenData.lead_id;\nvar demoUrl = '', buildStatus = 'built';\nif (vercelResp.url && !vercelResp.error) {\n  demoUrl = 'https://' + vercelResp.url;\n  buildStatus = 'deployed';\n} else if (vercelResp.readyState === 'READY') {\n  demoUrl = 'https://' + ((vercelResp.alias || [])[0] || vercelResp.id + '.vercel.app');\n  buildStatus = 'deployed';\n} else {\n  demoUrl = '/files/runs/' + leadId + '/site/index.html';\n  buildStatus = 'files_only';\n}\nreturn [{json:{ lead_id: leadId, demo_url: demoUrl, build_status: buildStatus, files_written: writtenData.files_written || [], site_dir: writtenData.site_dir, vercel_error: vercelResp.error || null, file_count: writtenData.file_count || 0 }}];\n"},"id":"3b1d435a-979f-4c56-8888-a21c4f9843ad","name":"Ergebnis auswerten","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,0]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"BUILD"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","demo_url":"={{ $json.demo_url }}","build_status":"={{ $json.build_status }}","website_built_at":"={{ new Date().toISOString() }}","file_count":"={{ $json.file_count }}","site_dir":"={{ $json.site_dir }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt_path","displayName":"prompt_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"json_path","displayName":"json_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ready_to_build","displayName":"ready_to_build","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"prompt_chars","displayName":"prompt_chars","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"asset_count","displayName":"asset_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"section_count","displayName":"section_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tech_stack","displayName":"tech_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"input_files","displayName":"input_files","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"build_commands","displayName":"build_commands","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"demo_url","displayName":"demo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_status","displayName":"build_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website_built_at","displayName":"website_built_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"file_count","displayName":"file_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"site_dir","displayName":"site_dir","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"157fb184-55ed-4c30-918a-ee4a2886ef07","name":"BUILD: demo_url schreiben","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2240,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"CONCEPT"},"options":{}},"id":"2542ffcf-d017-42cc-bb10-1c7bb13a3a88","name":"CONCEPT holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const leadData = $('Daten laden').first().json;\nconst leadId = leadData.lead_id;\nconst conceptRows = $input.all().map(i => i.json);\nconst concept = conceptRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json: Object.assign({}, leadData, { concept: concept })}];\n"},"id":"2df8accd-9fab-4491-b1d4-17bd4f46fea9","name":"Konzept mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"CONTENT"},"options":{}},"id":"27e77832-f403-416e-8087-591a8602bfa2","name":"CONTENT holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const konzept = $('Konzept mergen').first().json;\nconst leadId = konzept.lead_id;\nconst contentRows = $input.all().map(i => i.json);\nconst content = contentRows.find(r => String(r.lead_id || '').trim() === leadId) || {};\nreturn [{json: Object.assign({}, konzept, { content: content })}];\n"},"id":"f782a4c0-831a-41f5-ae2a-4f6379729c6a","name":"Content mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0]},{"id":"b67d247c-42ac-41e4-9914-fbb552e8a1f8","name":"IMAGES holen","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,220],"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc"},"sheetName":{"__rl":true,"mode":"name","value":"IMAGES"},"options":{}},"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"90c9a157-12cb-4268-9a6b-c0ab38981f44","name":"Images mergen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,220],"parameters":{"jsCode":"const prevData = $('Content mergen').first().json;\nconst leadId = prevData.lead_id;\nconst imagesRows = $input.all().map(i => i.json);\n\n// Use LAST matching row (newest data, since Agent 3 appends on each run)\nconst matching = imagesRows.filter(r => String(r.lead_id || '').trim() === leadId);\nconst images = matching.length > 0 ? matching[matching.length - 1] : {};\n\nreturn [{ json: Object.assign({}, prevData, { images: images }) }];"}}],"connections":{"Webhook: agent7":{"main":[[{"node":"LEADS holen","type":"main","index":0}]]},"LEADS holen":{"main":[[{"node":"Daten laden","type":"main","index":0}]]},"Original-URL fetchen":{"main":[[{"node":"Website-Prompt bauen","type":"main","index":0}]]},"Website-Prompt bauen":{"main":[[{"node":"LLM: Website bauen","type":"main","index":0}]]},"LLM: Website bauen":{"main":[[{"node":"Files parsen","type":"main","index":0}]]},"Files parsen":{"main":[[{"node":"Files schreiben","type":"main","index":0}]]},"Files schreiben":{"main":[[{"node":"Vercel Deploy","type":"main","index":0}]]},"Vercel Deploy":{"main":[[{"node":"Ergebnis auswerten","type":"main","index":0}]]},"Ergebnis auswerten":{"main":[[{"node":"BUILD: demo_url schreiben","type":"main","index":0}]]},"Daten laden":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]},"CONCEPT holen":{"main":[[{"node":"Konzept mergen","type":"main","index":0}]]},"Konzept mergen":{"main":[[{"node":"CONTENT holen","type":"main","index":0}]]},"CONTENT holen":{"main":[[{"node":"Content mergen","type":"main","index":0}]]},"Content mergen":{"main":[[{"node":"IMAGES holen","type":"main","index":0}]]},"IMAGES holen":{"main":[[{"node":"Images mergen","type":"main","index":0}]]},"Images mergen":{"main":[[{"node":"Original-URL fetchen","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-09T10:22:13.970Z","id":228,"workflowId":"nTVZLymUEYRt1W86","versionId":"f73ca520-c712-429f-933a-aab255f764f1","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-09T10:22:13.956Z","id":227,"workflowId":"nTVZLymUEYRt1W86","versionId":"f73ca520-c712-429f-933a-aab255f764f1","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}