moneylan/workflows/agent6/workflow_agent6_live.json
{"updatedAt":"2026-06-08T17:45:34.486Z","createdAt":"2026-06-07T14:21:09.370Z","id":"4VMphtkSDdcpZTNU","name":"MONEYLAN Agent 6 — Claude Code Prompt Builder","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"3fd08259-bf43-4dbf-98db-0a6fe22f8078","name":"Start Agent 6","type":"n8n-nodes-base.manualTrigger","position":[-2400,-928]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"CONCEPT"},"options":{},"limit":1},"id":"a12f74c1-36ae-49ba-a0fd-2e013eda776b","name":"CONCEPT holen","type":"n8n-nodes-base.googleSheets","position":[-2208,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Filter + enrich: pass all CONCEPT sheet fields through\nreturn $input.all().map((it, index) => {\n  const r = it.json;\n  const leadId = String(r.lead_id ?? '').trim();\n  return { json: {\n    ...r,                           // all CONCEPT sheet fields\n    index,\n    lead_id_raw: leadId,\n    lead_id_string: leadId,\n  }};\n}).filter(it => it.json.lead_id_raw !== '');  // skip empty rows"},"id":"ce3dc2b1-7fd8-47db-9d7a-82e46eb8446b","name":"Filter: hat Konzept","type":"n8n-nodes-base.code","position":[-2000,-928],"typeVersion":2},{"parameters":{"options":{}},"id":"aa0c8bb0-b039-40ca-aa87-48db374a3402","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","position":[-1808,-928]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Prompt assemblieren — runOnceForAllItems mode\n// Processes ALL concept rows and returns one prompt per lead\n\nconst allItems = $input.all();\nconst results = [];\n\nfor (const __item of allItems) {\n  // Use item.json as the current row (replaces $json)\n  const $json = __item.json;\n  \n/**\n * Agent 6 — Prompt Assembler\n * Lädt alle 4 Quell-JSONs, löst Asset-Pfade auf, baut deterministisch:\n *   - CLAUDE_BUILD_PROMPT.md  (der Bauauftrag)\n *   - claude_prompt.json      (maschinenlesbares Begleitobjekt)\n * Schreibt beide Dateien nach /files/runs/{lead_id}/.\n *\n * Input: $json = { lead_id, ... } (aus CONCEPT-Sheet-Row)\n */\n\nconst leadId = String($json.lead_id || $json.lead_id_raw || '').trim() || null;\nconst warnings = [];\n\n// ---- Quellen laden ----\nfunction loadJson(path) {\n  const fs = require('fs');\n  return JSON.parse(fs.readFileSync(path, 'utf8'));\n}\n\nlet a2 = {}, a3 = {}, a4 = {}, a5 = {};\n// $json now has ALL CONCEPT sheet fields (Filter: hat Konzept passes them through)\nconst sheetRow = $json;\n\nfunction splitPipe(s) { return String(s||'').split('|').map(x=>x.trim()).filter(Boolean); }\nfunction tryParse(s) { try { return JSON.parse(s); } catch(e) { return null; } }\n\ntry { a5 = loadJson(`/files/runs/${leadId}/concept.json`); } catch(e) {\n  // Fallback: reconstruct concept from CONCEPT sheet row\n  warnings.push('no_concept_file');\n  a5 = {\n    schema_version: '2.0', agent: 'concept_architect',\n    lead_id: sheetRow.lead_id || leadId,\n    generated_at: sheetRow.generated_at || new Date().toISOString(),\n    positionierung: {\n      design_direction: sheetRow.design_direction || 'family_friendly_local',\n      design_direction_begruendung: sheetRow.design_direction_begruendung || '',\n      branche_typ: sheetRow.branche_typ || 'Restaurant',\n      stimmung: splitPipe(sheetRow.stimmung),\n      zielgruppe: sheetRow.zielgruppe || '',\n    },\n    design_tokens: {\n      colors: tryParse(sheetRow.colors) || {},\n      typography: { font_heading: sheetRow.font_heading || 'sans-serif', font_body: sheetRow.font_body || 'sans-serif' },\n    },\n    sections: splitPipe(sheetRow.sections).map((s, i) => {\n      const m = s.match(/^(\\d+)\\.\\s*(\\w+):\\s*(.*)$/);\n      return { id: m ? m[2] : `section_${i}`, order: m ? parseInt(m[1]) : i+1, purpose: m ? m[3].trim() : s, copy:{}, assets_used:[] };\n    }),\n    copy: {\n      hero_headline: sheetRow.hero_headline || '',\n      hero_subheadline: sheetRow.hero_subheadline || '',\n      cta_primary: sheetRow.cta_primary || 'Tisch reservieren',\n      cta_secondary: sheetRow.cta_secondary || 'Speisekarte',\n    },\n    asset_plan: {\n      logo: { source: sheetRow.logo_source || '', placement: 'top-left', fallback: 'Wortmarke' },\n      hero: { source: sheetRow.hero_source || '', treatment: 'dark_overlay', fallback: 'Farbverlauf+Logo' },\n      gallery: { sources: splitPipe(sheetRow.gallery_sources), layout: 'masonry', min_count: 2 },\n    },\n    improvements_vs_original: splitPipe(sheetRow.improvements_vs_original),\n    conversion_logic: {\n      primary_goal: sheetRow.primary_goal || 'reservation',\n      cta_placements: splitPipe(sheetRow.cta_placements),\n      trust_elements: splitPipe(sheetRow.trust_elements),\n      mobile_priorities: splitPipe(sheetRow.mobile_priorities),\n    },\n    constraints: {\n      do_not_invent: splitPipe(sheetRow.do_not_invent),\n      demo_notice_required: true, noindex_required: true, mobile_first: true,\n    },\n    confidence: Number(sheetRow.confidence || 0),\n    warnings: splitPipe(sheetRow.warnings),\n  };\n}\ntry { a2 = loadJson(`/files/runs/${leadId}/content.json`); } catch(e) { warnings.push('source_missing_content'); }\ntry { a3 = loadJson(`/files/runs/${leadId}/images.json`); } catch(e) { warnings.push('source_missing_images'); }\ntry { a4 = loadJson(`/files/runs/${leadId}/validation.json`); } catch(e) { warnings.push('source_missing_validation'); }\n\n// Only skip if sheet row also has no concept data\nif (!a5.lead_id) {\n  results.push({ json: { lead_id: leadId, skipped: true, warnings, logs: [] } }); continue;\n}\n\n// ---- Kurzreferenzen ----\nconst f  = a2.fakten         || {};\nconst it = a2.interpretation || {};\nconst concept = a5;\nconst tokens  = concept.design_tokens || {};\nconst colors  = tokens.colors        || {};\nconst typo    = tokens.typography    || {};\nconst spacing = tokens.spacing       || {};\nconst effects = tokens.effects       || {};\nconst pos     = concept.positionierung || {};\nconst copy    = concept.copy          || {};\nconst secs    = concept.sections      || [];\nconst ap      = concept.asset_plan    || {};\nconst conv    = concept.conversion_logic || {};\nconst constr  = concept.constraints   || {};\n\n// ---- do_not_invent zusammenführen ----\nconst doNotInvent = [\n  ...new Set([\n    ...(a4.rückgabe_an?.map(r=>r.feld)||[]),\n    ...(constr.do_not_invent||[]),\n    ...((a2.missing_fields||[]).map(m=>{\n      if(m==='keine_oeffnungszeiten') return 'Öffnungszeiten';\n      if(m==='keine_speisekarte')     return 'Menü-Preise';\n      if(m==='keine_email')           return 'E-Mail-Adresse';\n      if(m==='keine_adresse')         return 'Adresse';\n      if(m==='kein_telefon')          return 'Telefonnummer';\n      return m;\n    }))\n  ])\n].filter(Boolean);\n\n// ---- Asset-Pfade auflösen ----\nconst assetPaths = [];\nconst usableAssets = (a3.assets||[]).filter(a=>a.usage_recommendation!=='nicht_verwenden'&&a.local_path);\nfor(const a of usableAssets) assetPaths.push(a.local_path);\nif(a3.logo?.local_path) assetPaths.unshift(a3.logo.local_path);\nif(a3.hero?.local_path) assetPaths.splice(1,0,a3.hero.local_path);\nconst uniqueAssets = [...new Set(assetPaths)];\nif(uniqueAssets.length===0) warnings.push('asset_missing');\n\n// ---- CSS Custom Properties aus Design-Tokens ----\nconst cssTokens = `/* Design-Tokens — 1:1 in globals.css einsetzen */\n:root {\n  /* Farben */\n  --color-primary:    ${colors.primary    || '#C8956C'};\n  --color-secondary:  ${colors.secondary  || '#F5E6D3'};\n  --color-accent:     ${colors.accent     || '#8B5E3C'};\n  --color-bg:         ${colors.background || '#FFFDF8'};\n  --color-surface:    ${colors.surface    || '#FFF8F0'};\n  --color-text:       ${colors.text       || '#2C1810'};\n  --color-text-muted: ${colors.text_muted || '#8A7060'};\n\n  /* Typografie */\n  --font-heading: '${typo.font_heading || 'Playfair Display'}', Georgia, serif;\n  --font-body:    '${typo.font_body    || 'Lato'}', system-ui, sans-serif;\n  --fw-heading:    ${typo.weights?.heading || 700};\n  --fw-body:       ${typo.weights?.body    || 400};\n  --scale-h1:      ${typo.scale?.h1   || '3rem'};\n  --scale-h2:      ${typo.scale?.h2   || '2rem'};\n  --scale-h3:      ${typo.scale?.h3   || '1.375rem'};\n  --scale-body:    ${typo.scale?.body  || '1rem'};\n  --scale-small:   ${typo.scale?.small || '0.875rem'};\n\n  /* Spacing & Layout */\n  --section-y:       ${spacing.section_y    || '5rem'};\n  --container-max:   ${spacing.container_max || '1200px'};\n  --radius:          ${spacing.radius       || '0.5rem'};\n  --gap:             ${spacing.gap          || '1.5rem'};\n\n  /* Effects */\n  --shadow:          ${effects.shadow     || '0 4px 24px rgba(0,0,0,0.10)'};\n  --overlay:         ${effects.overlay    || 'rgba(0,0,0,0.45)'};\n  --transition:      ${effects.transition || 'all 0.25s ease'};\n}`;\n\n// ---- Sektionen aufbereiten ----\nconst secLines = secs.map(s => {\n  const assetRef = (s.assets_used||[]).length\n    ? `\\n   - Assets: ${(s.assets_used||[]).join(', ')}`\n    : '';\n  const copyNote = s.copy && Object.keys(s.copy).length\n    ? `\\n   - Copy: ${JSON.stringify(s.copy).slice(0,200)}`\n    : '';\n  return `### ${s.order||'?'}. ${s.id} — ${s.purpose||''}\n   Layout: ${s.layout||'standard'}${assetRef}${copyNote}\n   ${s.notes ? `Hinweis: ${s.notes}` : ''}`;\n}).join('\\n\\n');\n\n// ---- Fakten-Block (nur was vorhanden) ----\nconst factsBlock = [\n  f.name       && `Name:             ${f.name}`,\n  f.adresse    && `Adresse:          ${f.adresse}`,\n  f.telefon    && `Telefon:          ${f.telefon}`,\n  f.email      && `E-Mail:           ${f.email}`,\n  f.oeffnungszeiten && `Öffnungszeiten:   ${f.oeffnungszeiten}`,\n  f.reservierung_url && `Reservierung-URL: ${f.reservierung_url}`,\n].filter(Boolean).join('\\n');\n\n// ---- do_not_invent Warnungen (mehrfach im Prompt) ----\nconst doNotStr = doNotInvent.length\n  ? doNotInvent.map(d=>`  - ${d}`).join('\\n')\n  : '  - (keine kritischen Fehlenden — aber dennoch: keine erfundenen Fakten!)';\n\nconst doNotBlock = `### ⛔ DO NOT INVENT — KRITISCH (steht auch pro betroffener Sektion):\n${doNotStr}\nDiese Felder fehlen in den Quelldaten. Nutze Platzhalter-Texte wie \"Bitte erfragen\" oder \"demnächst\".\nNIEMALS erfinden: Öffnungszeiten, Preise, Menü-Items, Adresse, Telefon, E-Mail, Awards, Bewertungen.`;\n\n// ---- improvements_vs_original ----\nconst improvements = (concept.improvements_vs_original||[]).map(i=>`- ${i}`).join('\\n') || '- Modern, mobil, schnell, rechtssicher';\n\n// ---- Demo-Notice Text ----\nconst demoText = `Diese Website ist eine unverbindliche Demo-Präsentation, erstellt für ${f.name||'den Betrieb'}. Es handelt sich NICHT um die offizielle Website.`;\n\n// ================================================================\n// CLAUDE_BUILD_PROMPT.md aufbauen\n// ================================================================\nconst md = `# MONEYLAN Bauauftrag — ${f.name || leadId}\n**Design-Direction:** ${pos.design_direction || '—'} | **Zielgruppe:** ${pos.zielgruppe || '—'}\n**Lead-ID:** ${leadId} | **Generiert:** ${new Date().toISOString().slice(0,10)}\n\n---\n\n## 1. Projektziel & WARUM\n\nDu baust eine **moderne, markengerechte Demo-Website** für **${f.name || 'diesen Betrieb'}** — ein lokales Restaurant/Café in Leipzig.\n\n**Zweck:** Kaltakquise-Demonstration. Der Inhaber sieht eine fertige Website und erkennt, was möglich wäre.\n**Erfolgskriterium:** Besser als das Original — konkret:\n${improvements}\n\n**Design-Direction:** \\`${pos.design_direction}\\`\n${pos.design_direction_begruendung ? `Begründung: ${pos.design_direction_begruendung}` : ''}\nStimmung: ${(pos.stimmung||[]).join(', ') || '—'}\n\n**Wichtig:** Das ist KEINE generische Template-Website. Jede Designentscheidung muss zum Betrieb passen.\n\n---\n\n## 2. Tech-Stack (fix — nicht abweichen)\n\n\\`\\`\\`\nFramework:  React + Vite\nStyling:    Tailwind CSS (mit CSS Custom Properties für Design-Tokens)\nNode:       LTS (22+)\nOutput:     Statische One-Page-Site, deploybar auf Vercel (privat, noindex)\n\\`\\`\\`\n\n---\n\n## 3. Dateistruktur (exakt so anlegen)\n\n\\`\\`\\`\n/src\n  App.jsx\n  main.jsx\n  components/\n    Header.jsx       Hero.jsx        TrustBar.jsx\n    About.jsx        MenuHighlights.jsx  Gallery.jsx\n    Atmosphere.jsx   OpeningHours.jsx    Location.jsx\n    CTA.jsx          DemoNotice.jsx      Footer.jsx\n  data/\n    siteData.js      ← alle Fakten + Copy hier zentralisieren\n  styles/\n    globals.css      ← Design-Tokens als CSS Custom Properties\n/assets/             ← Bilder aus /runs/${leadId}/assets/ hierher kopieren\nindex.html           ← enthält noindex-Meta (PFLICHT)\nvite.config.js\npackage.json\ntailwind.config.js\n\\`\\`\\`\n\n---\n\n## 4. Input-Dateien & Asset-Pfade\n\nLies diese Dateien zu Beginn:\n- \\`/files/runs/${leadId}/concept.json\\`    ← Design-Konzept (Hauptquelle)\n- \\`/files/runs/${leadId}/content.json\\`   ← Fakten & Texte\n- \\`/files/runs/${leadId}/images.json\\`    ← Bilder + Metadaten\n\n**Verwendbare Assets (nur diese, keine Hotlinks):**\n${uniqueAssets.length ? uniqueAssets.map((p,i)=>`- \\`${p}\\``).join('\\n') : '- KEINE lokalen Assets → Ersatzstrategien nutzen (Farbverläufe, Typografie-Hero)'}\n\nHero-Fallback: ${ap.hero?.fallback || 'Vollflächen-Farbverlauf mit Logo + Claim-Text'}\nLogo-Fallback: ${ap.logo?.fallback || 'Wortmarke aus Betriebsname, fette Typografie'}\n\n---\n\n## 5. Design-System — CSS Custom Properties\n\n\\`\\`\\`css\n${cssTokens}\n\\`\\`\\`\n\n**Google Fonts einbinden:** \\`${typo.font_heading}\\` + \\`${typo.font_body}\\`\n\n---\n\n## 6. Sektionen (in dieser Reihenfolge, alle bauen)\n\n${secLines || `### 1. hero\\n### 2. about\\n### 3. menu_highlights\\n### 4. gallery\\n### 5. opening_hours\\n### 6. location_map\\n### 7. cta_reservation\\n### 8. demo_notice`}\n\n---\n\n## 7. Fakten (aus content.json — 1:1 übernehmen, NICHT umformulieren)\n\n\\`\\`\\`\n${factsBlock || '(Fakten direkt aus content.json lesen)'}\n\\`\\`\\`\n\nSpeisekarte/Angebot: ${JSON.stringify((f.speisekarte||[]).slice(0,8))}\nSpezialitäten: ${(it.spezialitaeten||[]).join(', ') || '(aus content.json lesen)'}\nKüche: ${(it.kueche||[]).join(', ') || '(aus content.json lesen)'}\n\n---\n\n## 8. Copy (aus Konzept — einsetzen, NICHT umformulieren)\n\n\\`\\`\\`json\n{\n  \"hero_headline\":    ${JSON.stringify(copy.hero_headline    || '')},\n  \"hero_subheadline\": ${JSON.stringify(copy.hero_subheadline || '')},\n  \"cta_primary\":      ${JSON.stringify(copy.cta_primary      || 'Tisch reservieren')},\n  \"cta_secondary\":    ${JSON.stringify(copy.cta_secondary    || 'Speisekarte')},\n  \"ueber_uns_neu\":    ${JSON.stringify((copy.ueber_uns_neu   || it.ueber_uns || '').slice(0,500))}\n}\n\\`\\`\\`\n\nMicro-Copy: ${JSON.stringify(copy.microcopy||{})}\n\n---\n\n## 9. ⛔ KRITISCHE REGELN — NIEMALS VERLETZEN\n\n${doNotBlock}\n\n### Weitere Pflicht-Regeln:\n- **NICHT generisch bauen.** Jede Sektion muss den konkreten Betrieb widerspiegeln.\n- **Nur lokale Assets** aus \\`/assets/\\` — keine externen Bild-URLs, keine Hotlinks.\n- **Alle CTAs** funktional: tel:, mailto:, Anker-Links. Kein echtes Backend.\n- **Mobile-first.** Prüfe bei 390px, 768px, 1280px.\n- **Ladezeit:** Bilder mit loading=\"lazy\", komprimiert ≤ 200KB pro Bild wenn möglich.\n- **NAP konsistent:** Name, Adresse, Telefon auf jeder relevanten Sektion sichtbar.\n\n---\n\n## 10. Rechtliches (ALLE PFLICHT)\n\n\\`\\`\\`html\n<!-- In index.html <head>: -->\n<meta name=\"robots\" content=\"noindex,nofollow\">\n<meta name=\"description\" content=\"Demo-Website — ${f.name||'Betrieb'} — nicht öffentlich\">\n\\`\\`\\`\n\n**Demo-Notice-Banner (sichtbar oben, nicht wegklickbar):**\n\\`\\`\\`\n${demoText}\n\\`\\`\\`\n\nKeine echten Buchungs-/Zahlungs-Backends. Reservierungen: \\`tel:\\` / \\`mailto:\\` / \\`${f.reservierung_url||'Platzhalter'}\\`.\n\n---\n\n## 11. Build-Befehle\n\n\\`\\`\\`bash\n# 1. Assets kopieren\ncp -r /files/runs/${leadId}/assets/* ./assets/\n\n# 2. Dependencies\nnpm install\n\n# 3. Build (muss grün sein, keine Fehler/Warnings)\nnpm run build\n\n# 4. Preview lokal\nnpm run preview\n\n# 5. Deploy (optional)\n# vercel deploy --prod  (privat, domain nicht indexiert)\n\\`\\`\\`\n\n---\n\n## 12. Qualitäts-Checkliste (vor Abgabe abhaken)\n\n${[\n  '[ ] `npm run build` läuft fehlerfrei durch',\n  '[ ] Mobile (390px): Layout korrekt, Text lesbar, CTAs klickbar',\n  '[ ] Tablet (768px): sauber',\n  '[ ] Desktop (1280px): volle Breite, keine Overflow-Fehler',\n  '[ ] `<meta name=\"robots\" content=\"noindex\">` in index.html vorhanden',\n  '[ ] Demo-Notice-Banner sichtbar (oben, nicht wegklickbar)',\n  `[ ] Keine erfundenen Fakten (insb.: ${doNotInvent.join(', ')||'Öffnungszeiten, Preise'})`,\n  '[ ] Alle CTAs funktional (tel:, mailto:, Anker)',\n  '[ ] Alle verwendeten Bilder aus /assets/ (keine externen URLs)',\n  '[ ] Design entspricht Direction-Tokens (Farben, Fonts korrekt)',\n  '[ ] NAP (Name/Adresse/Telefon) auf mindestens 2 Sektionen sichtbar',\n  '[ ] Hero hat CTA above-the-fold',\n  '[ ] Keine generischen Stock-Texte (Lorem ipsum, Placeholder benennen)',\n].join('\\n')}\n\n---\n\n## 13. Post-Build-Tests\n\n1. **Lighthouse Mobile** (Chrome DevTools): Ziel ≥ 90 Performance, ≥ 90 SEO, ≥ 90 Best Practices\n   (Das ist die NORMALE Qualitätsskala — nicht die inverse A1-Score-Skala)\n2. **noindex-Check:** 'curl -s <URL> | grep -i noindex' → muss treffen\n3. **CTA-Test:** jeden Link klicken — kein 404, kein totes Backend\n4. **Visual-Check:** Seite neben Konzept halten → Direction erkennbar?\n5. **Fakten-Check:** alle angezeigten Daten gegen content.json abgleichen\n\n---\n\n## 14. Erwarteter Output\n\nEin lauffähiges React+Vite Projekt mit:\n- Vollständiger Dateistruktur (siehe Abschnitt 3)\n- Alle Sektionen mit echten Inhalten (nicht \"Lorem ipsum\")\n- Design entspricht \\`${pos.design_direction}\\`\n- Alle rechtlichen Anforderungen erfüllt (noindex, demo_notice)\n- Bereit für \\`vercel deploy --prod\\` (privat, noindex)\n\n**Gib am Ende aus:**\n\\`\\`\\`\nBUILD COMPLETE\nFiles: [Anzahl]\nSektionen: [Liste der IDs]\nAssets verwendet: [Anzahl]\nLighthouse: Performance [X] | SEO [Y] | Best-Practices [Z]\n\\`\\`\\`\n`;\n\n// ---- claude_prompt.json aufbauen ----\nconst promptJson = {\n  schema_version: '2.0',\n  agent:          'prompt_builder',\n  lead_id:        leadId,\n  generated_at:   new Date().toISOString(),\n  build_prompt:   md,\n  tech_stack: {\n    framework:    'React + Vite',\n    build_tool:   'Vite',\n    styling:      'Tailwind CSS + CSS Custom Properties',\n    node_version: 'LTS (22+)',\n  },\n  file_structure: [\n    'src/App.jsx','src/main.jsx',\n    'src/components/Header.jsx','src/components/Hero.jsx','src/components/About.jsx',\n    'src/components/MenuHighlights.jsx','src/components/Gallery.jsx',\n    'src/components/OpeningHours.jsx','src/components/Location.jsx',\n    'src/components/CTA.jsx','src/components/DemoNotice.jsx','src/components/Footer.jsx',\n    'src/data/siteData.js','src/styles/globals.css',\n    'assets/','index.html','vite.config.js','package.json','tailwind.config.js',\n  ],\n  input_files: [\n    `/files/runs/${leadId}/concept.json`,\n    `/files/runs/${leadId}/content.json`,\n    `/files/runs/${leadId}/images.json`,\n  ],\n  asset_paths:   uniqueAssets,\n  sections_spec: secs.map(s=>({id:s.id, order:s.order, layout:s.layout, assets:s.assets_used||[]})),\n  design_system: { css_custom_properties: cssTokens, colors, typography: typo, spacing, effects },\n  copy_blocks:   copy,\n  rules: [\n    'DO NOT invent: ' + (doNotInvent.join(', ')||'Öffnungszeiten, Preise, Menü-Items'),\n    'Use ONLY provided local assets from /assets/',\n    'Build mobile-first (390px primary breakpoint)',\n    'All CTAs: tel:, mailto:, anchor-links only — no real backends',\n    'noindex meta required in index.html',\n    'Demo-notice banner required (visible, not dismissable)',\n    `Design direction: ${pos.design_direction} — NOT generic template`,\n  ],\n  do_not_invent: doNotInvent,\n  demo_notice: { required: true, text: demoText },\n  noindex_required: true,\n  build_commands: [\n    `cp -r /files/runs/${leadId}/assets/* ./assets/`,\n    'npm install',\n    'npm run build',\n  ],\n  quality_checklist: [\n    'npm run build exits 0',\n    'Mobile 390px: layout correct, CTAs clickable',\n    'noindex meta present in index.html',\n    'Demo-notice banner visible',\n    `No invented facts (${doNotInvent.join(', ')||'none'})`,\n    'All CTAs functional (tel/mailto/anchor)',\n    'All images from /assets/ (no hotlinks)',\n    'Design matches direction tokens',\n    'NAP visible on 2+ sections',\n  ],\n  post_build_tests: [\n    'Lighthouse Mobile: Performance ≥90, SEO ≥90, Best-Practices ≥90 (NORMAL quality scale)',\n    'noindex check: curl | grep noindex → match',\n    'CTA click test: no 404s, no dead backends',\n    'Visual check vs concept.json direction',\n    'Facts check: displayed data matches content.json',\n  ],\n  expected_output: 'Lauffähiges React+Vite Projekt, deploybar auf Vercel (privat/noindex), vollständige Sektionen, echte Inhalte, Direction-konformes Design',\n  confidence: Math.max(0.3, 1.0\n    - (warnings.includes('asset_missing') ? 0.15 : 0)\n    - (warnings.includes('source_missing_content') ? 0.20 : 0)\n    - (uniqueAssets.length === 0 ? 0.20 : 0)\n    - (secs.length < 4 ? 0.15 : 0)\n  ),\n  warnings,\n  logs: [\n    {ts:new Date().toISOString(), step:'assemble', status:'ok',\n     sections:secs.length, assets:uniqueAssets.length,\n     do_not_invent:doNotInvent.length, prompt_chars:md.length}\n  ],\n};\n\n// ---- Dateien schreiben ----\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${leadId}`;\n  fs.mkdirSync(dir, {recursive:true});\n  fs.writeFileSync(`${dir}/CLAUDE_BUILD_PROMPT.md`,  md, 'utf8');\n  fs.writeFileSync(`${dir}/claude_prompt.json`, JSON.stringify(promptJson, null, 2), 'utf8');\n  promptJson.logs.push({ts:new Date().toISOString(), step:'file_write', status:'ok'});\n} catch(e) {\n  promptJson.warnings.push('file_write_failed: ' + e.message);\n}\n\nresults.push({json: promptJson}); continue;\n\n}\n\nreturn results;"},"id":"5d9a40c8-d86d-4b67-a9d6-7d90a7aef51a","name":"Prompt assemblieren","type":"n8n-nodes-base.code","position":[-1600,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"964b8d3d-99f8-4ab6-8cc4-15f045d1d06e","leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"389dfb85-9f3c-4c8a-b539-73a6ad8960da","name":"Filter: nicht übersprungen","type":"n8n-nodes-base.filter","position":[-1408,-928]},{"parameters":{"assignments":{"assignments":[{"id":"0553dd34-9c66-45d4-a528-7732c2b2635f","name":"lead_id","value":"={{ $json.lead_id }}","type":"string"},{"id":"6c13c9df-9569-45ca-990d-045677317297","name":"prompt_path","value":"={{ '/files/runs/' + $json.lead_id + '/CLAUDE_BUILD_PROMPT.md' }}","type":"string"},{"id":"3d8bfe73-8c62-4075-9a0a-6fefe5c2d12e","name":"confidence","value":"={{ $json.confidence }}","type":"number"},{"id":"516e2e67-870f-40e3-ae89-ccc08bd0eb48","name":"warnings","value":"={{ Array.isArray($json.warnings) ? $json.warnings : ($json.warnings ? [String($json.warnings)] : []) }}","type":"array"},{"id":"77877e0b-a051-44e6-992a-c767f734b23c","name":"ready_to_build","value":true,"type":"boolean"}]},"options":{}},"id":"a2b9f0f0-5dec-4521-94f0-81acf383b7ab","name":"Pipeline-Zusammenfassung","type":"n8n-nodes-base.set","position":[-1008,-928]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":276143062,"mode":"list","cachedResultName":"BUILD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc/edit#gid=276143062"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ String($json[\"lead_id\"] || \"\").trim() }}","prompt_path":"={{ \"/files/runs/\" + $json.lead_id + \"/CLAUDE_BUILD_PROMPT.md\" }}","json_path":"={{ \"/files/runs/\" + $json.lead_id + \"/claude_prompt.json\" }}","ready_to_build":"={{ \"ja\" }}","confidence":"={{ Number($json[\"confidence\"] ?? 0) }}","warnings":"={{ ($json.warnings || []).join(\", \") }}","prompt_chars":"={{ ($json.build_prompt || \"\").length }}","asset_count":"={{ ($json.asset_paths || []).length }}","section_count":"={{ ($json.sections_spec || []).length }}","tech_stack":"={{ JSON.stringify($json.tech_stack || {}) }}","input_files":"={{ ($json.input_files || []).join(\" | \") }}","build_commands":"={{ ($json.build_commands || []).join(\" | \") }}","generated_at":"={{ $json[\"generated_at\"] || new Date().toISOString() }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"prompt_path","displayName":"prompt_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"json_path","displayName":"json_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ready_to_build","displayName":"ready_to_build","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt_chars","displayName":"prompt_chars","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asset_count","displayName":"asset_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"section_count","displayName":"section_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tech_stack","displayName":"tech_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"input_files","displayName":"input_files","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_commands","displayName":"build_commands","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1200,-1024],"id":"7d7900c2-dd19-4714-ad4f-c5e6e22522f5","name":"Append row in sheet","credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"webhook-agent6","name":"Webhook: agent6","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent6-start","responseMode":"onReceived","options":{}},"webhookId":"b32b58ef-81f1-4431-88e1-810da16b2ff2"},{"id":"webhook-resp-agent6","name":"Webhook Response: agent6","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent6', started_at: new Date().toISOString()}) }}"}}}],"connections":{"Start Agent 6":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]},"CONCEPT holen":{"main":[[{"node":"Filter: hat Konzept","type":"main","index":0}]]},"Filter: hat Konzept":{"main":[[{"node":"Loop je Lead","type":"main","index":0}]]},"Loop je Lead":{"main":[[],[{"node":"Prompt assemblieren","type":"main","index":0}]]},"Prompt assemblieren":{"main":[[{"node":"Filter: nicht übersprungen","type":"main","index":0}]]},"Filter: nicht übersprungen":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Pipeline-Zusammenfassung":{"main":[[]]},"Append row in sheet":{"main":[[{"node":"Pipeline-Zusammenfassung","type":"main","index":0}]]},"Webhook: agent6":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"f4e91408-bac2-4723-a00b-15a80ef4021b","activeVersionId":"f4e91408-bac2-4723-a00b-15a80ef4021b","versionCounter":56,"triggerCount":1,"shared":[{"updatedAt":"2026-06-07T14:21:09.372Z","createdAt":"2026-06-07T14:21:09.372Z","role":"workflow:owner","workflowId":"4VMphtkSDdcpZTNU","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-08T17:45:34.487Z","createdAt":"2026-06-08T17:45:34.487Z","versionId":"f4e91408-bac2-4723-a00b-15a80ef4021b","workflowId":"4VMphtkSDdcpZTNU","nodes":[{"parameters":{},"id":"3fd08259-bf43-4dbf-98db-0a6fe22f8078","name":"Start Agent 6","type":"n8n-nodes-base.manualTrigger","position":[-2400,-928]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"CONCEPT"},"options":{},"limit":1},"id":"a12f74c1-36ae-49ba-a0fd-2e013eda776b","name":"CONCEPT holen","type":"n8n-nodes-base.googleSheets","position":[-2208,-928],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Filter + enrich: pass all CONCEPT sheet fields through\nreturn $input.all().map((it, index) => {\n  const r = it.json;\n  const leadId = String(r.lead_id ?? '').trim();\n  return { json: {\n    ...r,                           // all CONCEPT sheet fields\n    index,\n    lead_id_raw: leadId,\n    lead_id_string: leadId,\n  }};\n}).filter(it => it.json.lead_id_raw !== '');  // skip empty rows"},"id":"ce3dc2b1-7fd8-47db-9d7a-82e46eb8446b","name":"Filter: hat Konzept","type":"n8n-nodes-base.code","position":[-2000,-928],"typeVersion":2},{"parameters":{"options":{}},"id":"aa0c8bb0-b039-40ca-aa87-48db374a3402","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","position":[-1808,-928]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Prompt assemblieren — runOnceForAllItems mode\n// Processes ALL concept rows and returns one prompt per lead\n\nconst allItems = $input.all();\nconst results = [];\n\nfor (const __item of allItems) {\n  // Use item.json as the current row (replaces $json)\n  const $json = __item.json;\n  \n/**\n * Agent 6 — Prompt Assembler\n * Lädt alle 4 Quell-JSONs, löst Asset-Pfade auf, baut deterministisch:\n *   - CLAUDE_BUILD_PROMPT.md  (der Bauauftrag)\n *   - claude_prompt.json      (maschinenlesbares Begleitobjekt)\n * Schreibt beide Dateien nach /files/runs/{lead_id}/.\n *\n * Input: $json = { lead_id, ... } (aus CONCEPT-Sheet-Row)\n */\n\nconst leadId = String($json.lead_id || $json.lead_id_raw || '').trim() || null;\nconst warnings = [];\n\n// ---- Quellen laden ----\nfunction loadJson(path) {\n  const fs = require('fs');\n  return JSON.parse(fs.readFileSync(path, 'utf8'));\n}\n\nlet a2 = {}, a3 = {}, a4 = {}, a5 = {};\n// $json now has ALL CONCEPT sheet fields (Filter: hat Konzept passes them through)\nconst sheetRow = $json;\n\nfunction splitPipe(s) { return String(s||'').split('|').map(x=>x.trim()).filter(Boolean); }\nfunction tryParse(s) { try { return JSON.parse(s); } catch(e) { return null; } }\n\ntry { a5 = loadJson(`/files/runs/${leadId}/concept.json`); } catch(e) {\n  // Fallback: reconstruct concept from CONCEPT sheet row\n  warnings.push('no_concept_file');\n  a5 = {\n    schema_version: '2.0', agent: 'concept_architect',\n    lead_id: sheetRow.lead_id || leadId,\n    generated_at: sheetRow.generated_at || new Date().toISOString(),\n    positionierung: {\n      design_direction: sheetRow.design_direction || 'family_friendly_local',\n      design_direction_begruendung: sheetRow.design_direction_begruendung || '',\n      branche_typ: sheetRow.branche_typ || 'Restaurant',\n      stimmung: splitPipe(sheetRow.stimmung),\n      zielgruppe: sheetRow.zielgruppe || '',\n    },\n    design_tokens: {\n      colors: tryParse(sheetRow.colors) || {},\n      typography: { font_heading: sheetRow.font_heading || 'sans-serif', font_body: sheetRow.font_body || 'sans-serif' },\n    },\n    sections: splitPipe(sheetRow.sections).map((s, i) => {\n      const m = s.match(/^(\\d+)\\.\\s*(\\w+):\\s*(.*)$/);\n      return { id: m ? m[2] : `section_${i}`, order: m ? parseInt(m[1]) : i+1, purpose: m ? m[3].trim() : s, copy:{}, assets_used:[] };\n    }),\n    copy: {\n      hero_headline: sheetRow.hero_headline || '',\n      hero_subheadline: sheetRow.hero_subheadline || '',\n      cta_primary: sheetRow.cta_primary || 'Tisch reservieren',\n      cta_secondary: sheetRow.cta_secondary || 'Speisekarte',\n    },\n    asset_plan: {\n      logo: { source: sheetRow.logo_source || '', placement: 'top-left', fallback: 'Wortmarke' },\n      hero: { source: sheetRow.hero_source || '', treatment: 'dark_overlay', fallback: 'Farbverlauf+Logo' },\n      gallery: { sources: splitPipe(sheetRow.gallery_sources), layout: 'masonry', min_count: 2 },\n    },\n    improvements_vs_original: splitPipe(sheetRow.improvements_vs_original),\n    conversion_logic: {\n      primary_goal: sheetRow.primary_goal || 'reservation',\n      cta_placements: splitPipe(sheetRow.cta_placements),\n      trust_elements: splitPipe(sheetRow.trust_elements),\n      mobile_priorities: splitPipe(sheetRow.mobile_priorities),\n    },\n    constraints: {\n      do_not_invent: splitPipe(sheetRow.do_not_invent),\n      demo_notice_required: true, noindex_required: true, mobile_first: true,\n    },\n    confidence: Number(sheetRow.confidence || 0),\n    warnings: splitPipe(sheetRow.warnings),\n  };\n}\ntry { a2 = loadJson(`/files/runs/${leadId}/content.json`); } catch(e) { warnings.push('source_missing_content'); }\ntry { a3 = loadJson(`/files/runs/${leadId}/images.json`); } catch(e) { warnings.push('source_missing_images'); }\ntry { a4 = loadJson(`/files/runs/${leadId}/validation.json`); } catch(e) { warnings.push('source_missing_validation'); }\n\n// Only skip if sheet row also has no concept data\nif (!a5.lead_id) {\n  results.push({ json: { lead_id: leadId, skipped: true, warnings, logs: [] } }); continue;\n}\n\n// ---- Kurzreferenzen ----\nconst f  = a2.fakten         || {};\nconst it = a2.interpretation || {};\nconst concept = a5;\nconst tokens  = concept.design_tokens || {};\nconst colors  = tokens.colors        || {};\nconst typo    = tokens.typography    || {};\nconst spacing = tokens.spacing       || {};\nconst effects = tokens.effects       || {};\nconst pos     = concept.positionierung || {};\nconst copy    = concept.copy          || {};\nconst secs    = concept.sections      || [];\nconst ap      = concept.asset_plan    || {};\nconst conv    = concept.conversion_logic || {};\nconst constr  = concept.constraints   || {};\n\n// ---- do_not_invent zusammenführen ----\nconst doNotInvent = [\n  ...new Set([\n    ...(a4.rückgabe_an?.map(r=>r.feld)||[]),\n    ...(constr.do_not_invent||[]),\n    ...((a2.missing_fields||[]).map(m=>{\n      if(m==='keine_oeffnungszeiten') return 'Öffnungszeiten';\n      if(m==='keine_speisekarte')     return 'Menü-Preise';\n      if(m==='keine_email')           return 'E-Mail-Adresse';\n      if(m==='keine_adresse')         return 'Adresse';\n      if(m==='kein_telefon')          return 'Telefonnummer';\n      return m;\n    }))\n  ])\n].filter(Boolean);\n\n// ---- Asset-Pfade auflösen ----\nconst assetPaths = [];\nconst usableAssets = (a3.assets||[]).filter(a=>a.usage_recommendation!=='nicht_verwenden'&&a.local_path);\nfor(const a of usableAssets) assetPaths.push(a.local_path);\nif(a3.logo?.local_path) assetPaths.unshift(a3.logo.local_path);\nif(a3.hero?.local_path) assetPaths.splice(1,0,a3.hero.local_path);\nconst uniqueAssets = [...new Set(assetPaths)];\nif(uniqueAssets.length===0) warnings.push('asset_missing');\n\n// ---- CSS Custom Properties aus Design-Tokens ----\nconst cssTokens = `/* Design-Tokens — 1:1 in globals.css einsetzen */\n:root {\n  /* Farben */\n  --color-primary:    ${colors.primary    || '#C8956C'};\n  --color-secondary:  ${colors.secondary  || '#F5E6D3'};\n  --color-accent:     ${colors.accent     || '#8B5E3C'};\n  --color-bg:         ${colors.background || '#FFFDF8'};\n  --color-surface:    ${colors.surface    || '#FFF8F0'};\n  --color-text:       ${colors.text       || '#2C1810'};\n  --color-text-muted: ${colors.text_muted || '#8A7060'};\n\n  /* Typografie */\n  --font-heading: '${typo.font_heading || 'Playfair Display'}', Georgia, serif;\n  --font-body:    '${typo.font_body    || 'Lato'}', system-ui, sans-serif;\n  --fw-heading:    ${typo.weights?.heading || 700};\n  --fw-body:       ${typo.weights?.body    || 400};\n  --scale-h1:      ${typo.scale?.h1   || '3rem'};\n  --scale-h2:      ${typo.scale?.h2   || '2rem'};\n  --scale-h3:      ${typo.scale?.h3   || '1.375rem'};\n  --scale-body:    ${typo.scale?.body  || '1rem'};\n  --scale-small:   ${typo.scale?.small || '0.875rem'};\n\n  /* Spacing & Layout */\n  --section-y:       ${spacing.section_y    || '5rem'};\n  --container-max:   ${spacing.container_max || '1200px'};\n  --radius:          ${spacing.radius       || '0.5rem'};\n  --gap:             ${spacing.gap          || '1.5rem'};\n\n  /* Effects */\n  --shadow:          ${effects.shadow     || '0 4px 24px rgba(0,0,0,0.10)'};\n  --overlay:         ${effects.overlay    || 'rgba(0,0,0,0.45)'};\n  --transition:      ${effects.transition || 'all 0.25s ease'};\n}`;\n\n// ---- Sektionen aufbereiten ----\nconst secLines = secs.map(s => {\n  const assetRef = (s.assets_used||[]).length\n    ? `\\n   - Assets: ${(s.assets_used||[]).join(', ')}`\n    : '';\n  const copyNote = s.copy && Object.keys(s.copy).length\n    ? `\\n   - Copy: ${JSON.stringify(s.copy).slice(0,200)}`\n    : '';\n  return `### ${s.order||'?'}. ${s.id} — ${s.purpose||''}\n   Layout: ${s.layout||'standard'}${assetRef}${copyNote}\n   ${s.notes ? `Hinweis: ${s.notes}` : ''}`;\n}).join('\\n\\n');\n\n// ---- Fakten-Block (nur was vorhanden) ----\nconst factsBlock = [\n  f.name       && `Name:             ${f.name}`,\n  f.adresse    && `Adresse:          ${f.adresse}`,\n  f.telefon    && `Telefon:          ${f.telefon}`,\n  f.email      && `E-Mail:           ${f.email}`,\n  f.oeffnungszeiten && `Öffnungszeiten:   ${f.oeffnungszeiten}`,\n  f.reservierung_url && `Reservierung-URL: ${f.reservierung_url}`,\n].filter(Boolean).join('\\n');\n\n// ---- do_not_invent Warnungen (mehrfach im Prompt) ----\nconst doNotStr = doNotInvent.length\n  ? doNotInvent.map(d=>`  - ${d}`).join('\\n')\n  : '  - (keine kritischen Fehlenden — aber dennoch: keine erfundenen Fakten!)';\n\nconst doNotBlock = `### ⛔ DO NOT INVENT — KRITISCH (steht auch pro betroffener Sektion):\n${doNotStr}\nDiese Felder fehlen in den Quelldaten. Nutze Platzhalter-Texte wie \"Bitte erfragen\" oder \"demnächst\".\nNIEMALS erfinden: Öffnungszeiten, Preise, Menü-Items, Adresse, Telefon, E-Mail, Awards, Bewertungen.`;\n\n// ---- improvements_vs_original ----\nconst improvements = (concept.improvements_vs_original||[]).map(i=>`- ${i}`).join('\\n') || '- Modern, mobil, schnell, rechtssicher';\n\n// ---- Demo-Notice Text ----\nconst demoText = `Diese Website ist eine unverbindliche Demo-Präsentation, erstellt für ${f.name||'den Betrieb'}. Es handelt sich NICHT um die offizielle Website.`;\n\n// ================================================================\n// CLAUDE_BUILD_PROMPT.md aufbauen\n// ================================================================\nconst md = `# MONEYLAN Bauauftrag — ${f.name || leadId}\n**Design-Direction:** ${pos.design_direction || '—'} | **Zielgruppe:** ${pos.zielgruppe || '—'}\n**Lead-ID:** ${leadId} | **Generiert:** ${new Date().toISOString().slice(0,10)}\n\n---\n\n## 1. Projektziel & WARUM\n\nDu baust eine **moderne, markengerechte Demo-Website** für **${f.name || 'diesen Betrieb'}** — ein lokales Restaurant/Café in Leipzig.\n\n**Zweck:** Kaltakquise-Demonstration. Der Inhaber sieht eine fertige Website und erkennt, was möglich wäre.\n**Erfolgskriterium:** Besser als das Original — konkret:\n${improvements}\n\n**Design-Direction:** \\`${pos.design_direction}\\`\n${pos.design_direction_begruendung ? `Begründung: ${pos.design_direction_begruendung}` : ''}\nStimmung: ${(pos.stimmung||[]).join(', ') || '—'}\n\n**Wichtig:** Das ist KEINE generische Template-Website. Jede Designentscheidung muss zum Betrieb passen.\n\n---\n\n## 2. Tech-Stack (fix — nicht abweichen)\n\n\\`\\`\\`\nFramework:  React + Vite\nStyling:    Tailwind CSS (mit CSS Custom Properties für Design-Tokens)\nNode:       LTS (22+)\nOutput:     Statische One-Page-Site, deploybar auf Vercel (privat, noindex)\n\\`\\`\\`\n\n---\n\n## 3. Dateistruktur (exakt so anlegen)\n\n\\`\\`\\`\n/src\n  App.jsx\n  main.jsx\n  components/\n    Header.jsx       Hero.jsx        TrustBar.jsx\n    About.jsx        MenuHighlights.jsx  Gallery.jsx\n    Atmosphere.jsx   OpeningHours.jsx    Location.jsx\n    CTA.jsx          DemoNotice.jsx      Footer.jsx\n  data/\n    siteData.js      ← alle Fakten + Copy hier zentralisieren\n  styles/\n    globals.css      ← Design-Tokens als CSS Custom Properties\n/assets/             ← Bilder aus /runs/${leadId}/assets/ hierher kopieren\nindex.html           ← enthält noindex-Meta (PFLICHT)\nvite.config.js\npackage.json\ntailwind.config.js\n\\`\\`\\`\n\n---\n\n## 4. Input-Dateien & Asset-Pfade\n\nLies diese Dateien zu Beginn:\n- \\`/files/runs/${leadId}/concept.json\\`    ← Design-Konzept (Hauptquelle)\n- \\`/files/runs/${leadId}/content.json\\`   ← Fakten & Texte\n- \\`/files/runs/${leadId}/images.json\\`    ← Bilder + Metadaten\n\n**Verwendbare Assets (nur diese, keine Hotlinks):**\n${uniqueAssets.length ? uniqueAssets.map((p,i)=>`- \\`${p}\\``).join('\\n') : '- KEINE lokalen Assets → Ersatzstrategien nutzen (Farbverläufe, Typografie-Hero)'}\n\nHero-Fallback: ${ap.hero?.fallback || 'Vollflächen-Farbverlauf mit Logo + Claim-Text'}\nLogo-Fallback: ${ap.logo?.fallback || 'Wortmarke aus Betriebsname, fette Typografie'}\n\n---\n\n## 5. Design-System — CSS Custom Properties\n\n\\`\\`\\`css\n${cssTokens}\n\\`\\`\\`\n\n**Google Fonts einbinden:** \\`${typo.font_heading}\\` + \\`${typo.font_body}\\`\n\n---\n\n## 6. Sektionen (in dieser Reihenfolge, alle bauen)\n\n${secLines || `### 1. hero\\n### 2. about\\n### 3. menu_highlights\\n### 4. gallery\\n### 5. opening_hours\\n### 6. location_map\\n### 7. cta_reservation\\n### 8. demo_notice`}\n\n---\n\n## 7. Fakten (aus content.json — 1:1 übernehmen, NICHT umformulieren)\n\n\\`\\`\\`\n${factsBlock || '(Fakten direkt aus content.json lesen)'}\n\\`\\`\\`\n\nSpeisekarte/Angebot: ${JSON.stringify((f.speisekarte||[]).slice(0,8))}\nSpezialitäten: ${(it.spezialitaeten||[]).join(', ') || '(aus content.json lesen)'}\nKüche: ${(it.kueche||[]).join(', ') || '(aus content.json lesen)'}\n\n---\n\n## 8. Copy (aus Konzept — einsetzen, NICHT umformulieren)\n\n\\`\\`\\`json\n{\n  \"hero_headline\":    ${JSON.stringify(copy.hero_headline    || '')},\n  \"hero_subheadline\": ${JSON.stringify(copy.hero_subheadline || '')},\n  \"cta_primary\":      ${JSON.stringify(copy.cta_primary      || 'Tisch reservieren')},\n  \"cta_secondary\":    ${JSON.stringify(copy.cta_secondary    || 'Speisekarte')},\n  \"ueber_uns_neu\":    ${JSON.stringify((copy.ueber_uns_neu   || it.ueber_uns || '').slice(0,500))}\n}\n\\`\\`\\`\n\nMicro-Copy: ${JSON.stringify(copy.microcopy||{})}\n\n---\n\n## 9. ⛔ KRITISCHE REGELN — NIEMALS VERLETZEN\n\n${doNotBlock}\n\n### Weitere Pflicht-Regeln:\n- **NICHT generisch bauen.** Jede Sektion muss den konkreten Betrieb widerspiegeln.\n- **Nur lokale Assets** aus \\`/assets/\\` — keine externen Bild-URLs, keine Hotlinks.\n- **Alle CTAs** funktional: tel:, mailto:, Anker-Links. Kein echtes Backend.\n- **Mobile-first.** Prüfe bei 390px, 768px, 1280px.\n- **Ladezeit:** Bilder mit loading=\"lazy\", komprimiert ≤ 200KB pro Bild wenn möglich.\n- **NAP konsistent:** Name, Adresse, Telefon auf jeder relevanten Sektion sichtbar.\n\n---\n\n## 10. Rechtliches (ALLE PFLICHT)\n\n\\`\\`\\`html\n<!-- In index.html <head>: -->\n<meta name=\"robots\" content=\"noindex,nofollow\">\n<meta name=\"description\" content=\"Demo-Website — ${f.name||'Betrieb'} — nicht öffentlich\">\n\\`\\`\\`\n\n**Demo-Notice-Banner (sichtbar oben, nicht wegklickbar):**\n\\`\\`\\`\n${demoText}\n\\`\\`\\`\n\nKeine echten Buchungs-/Zahlungs-Backends. Reservierungen: \\`tel:\\` / \\`mailto:\\` / \\`${f.reservierung_url||'Platzhalter'}\\`.\n\n---\n\n## 11. Build-Befehle\n\n\\`\\`\\`bash\n# 1. Assets kopieren\ncp -r /files/runs/${leadId}/assets/* ./assets/\n\n# 2. Dependencies\nnpm install\n\n# 3. Build (muss grün sein, keine Fehler/Warnings)\nnpm run build\n\n# 4. Preview lokal\nnpm run preview\n\n# 5. Deploy (optional)\n# vercel deploy --prod  (privat, domain nicht indexiert)\n\\`\\`\\`\n\n---\n\n## 12. Qualitäts-Checkliste (vor Abgabe abhaken)\n\n${[\n  '[ ] `npm run build` läuft fehlerfrei durch',\n  '[ ] Mobile (390px): Layout korrekt, Text lesbar, CTAs klickbar',\n  '[ ] Tablet (768px): sauber',\n  '[ ] Desktop (1280px): volle Breite, keine Overflow-Fehler',\n  '[ ] `<meta name=\"robots\" content=\"noindex\">` in index.html vorhanden',\n  '[ ] Demo-Notice-Banner sichtbar (oben, nicht wegklickbar)',\n  `[ ] Keine erfundenen Fakten (insb.: ${doNotInvent.join(', ')||'Öffnungszeiten, Preise'})`,\n  '[ ] Alle CTAs funktional (tel:, mailto:, Anker)',\n  '[ ] Alle verwendeten Bilder aus /assets/ (keine externen URLs)',\n  '[ ] Design entspricht Direction-Tokens (Farben, Fonts korrekt)',\n  '[ ] NAP (Name/Adresse/Telefon) auf mindestens 2 Sektionen sichtbar',\n  '[ ] Hero hat CTA above-the-fold',\n  '[ ] Keine generischen Stock-Texte (Lorem ipsum, Placeholder benennen)',\n].join('\\n')}\n\n---\n\n## 13. Post-Build-Tests\n\n1. **Lighthouse Mobile** (Chrome DevTools): Ziel ≥ 90 Performance, ≥ 90 SEO, ≥ 90 Best Practices\n   (Das ist die NORMALE Qualitätsskala — nicht die inverse A1-Score-Skala)\n2. **noindex-Check:** 'curl -s <URL> | grep -i noindex' → muss treffen\n3. **CTA-Test:** jeden Link klicken — kein 404, kein totes Backend\n4. **Visual-Check:** Seite neben Konzept halten → Direction erkennbar?\n5. **Fakten-Check:** alle angezeigten Daten gegen content.json abgleichen\n\n---\n\n## 14. Erwarteter Output\n\nEin lauffähiges React+Vite Projekt mit:\n- Vollständiger Dateistruktur (siehe Abschnitt 3)\n- Alle Sektionen mit echten Inhalten (nicht \"Lorem ipsum\")\n- Design entspricht \\`${pos.design_direction}\\`\n- Alle rechtlichen Anforderungen erfüllt (noindex, demo_notice)\n- Bereit für \\`vercel deploy --prod\\` (privat, noindex)\n\n**Gib am Ende aus:**\n\\`\\`\\`\nBUILD COMPLETE\nFiles: [Anzahl]\nSektionen: [Liste der IDs]\nAssets verwendet: [Anzahl]\nLighthouse: Performance [X] | SEO [Y] | Best-Practices [Z]\n\\`\\`\\`\n`;\n\n// ---- claude_prompt.json aufbauen ----\nconst promptJson = {\n  schema_version: '2.0',\n  agent:          'prompt_builder',\n  lead_id:        leadId,\n  generated_at:   new Date().toISOString(),\n  build_prompt:   md,\n  tech_stack: {\n    framework:    'React + Vite',\n    build_tool:   'Vite',\n    styling:      'Tailwind CSS + CSS Custom Properties',\n    node_version: 'LTS (22+)',\n  },\n  file_structure: [\n    'src/App.jsx','src/main.jsx',\n    'src/components/Header.jsx','src/components/Hero.jsx','src/components/About.jsx',\n    'src/components/MenuHighlights.jsx','src/components/Gallery.jsx',\n    'src/components/OpeningHours.jsx','src/components/Location.jsx',\n    'src/components/CTA.jsx','src/components/DemoNotice.jsx','src/components/Footer.jsx',\n    'src/data/siteData.js','src/styles/globals.css',\n    'assets/','index.html','vite.config.js','package.json','tailwind.config.js',\n  ],\n  input_files: [\n    `/files/runs/${leadId}/concept.json`,\n    `/files/runs/${leadId}/content.json`,\n    `/files/runs/${leadId}/images.json`,\n  ],\n  asset_paths:   uniqueAssets,\n  sections_spec: secs.map(s=>({id:s.id, order:s.order, layout:s.layout, assets:s.assets_used||[]})),\n  design_system: { css_custom_properties: cssTokens, colors, typography: typo, spacing, effects },\n  copy_blocks:   copy,\n  rules: [\n    'DO NOT invent: ' + (doNotInvent.join(', ')||'Öffnungszeiten, Preise, Menü-Items'),\n    'Use ONLY provided local assets from /assets/',\n    'Build mobile-first (390px primary breakpoint)',\n    'All CTAs: tel:, mailto:, anchor-links only — no real backends',\n    'noindex meta required in index.html',\n    'Demo-notice banner required (visible, not dismissable)',\n    `Design direction: ${pos.design_direction} — NOT generic template`,\n  ],\n  do_not_invent: doNotInvent,\n  demo_notice: { required: true, text: demoText },\n  noindex_required: true,\n  build_commands: [\n    `cp -r /files/runs/${leadId}/assets/* ./assets/`,\n    'npm install',\n    'npm run build',\n  ],\n  quality_checklist: [\n    'npm run build exits 0',\n    'Mobile 390px: layout correct, CTAs clickable',\n    'noindex meta present in index.html',\n    'Demo-notice banner visible',\n    `No invented facts (${doNotInvent.join(', ')||'none'})`,\n    'All CTAs functional (tel/mailto/anchor)',\n    'All images from /assets/ (no hotlinks)',\n    'Design matches direction tokens',\n    'NAP visible on 2+ sections',\n  ],\n  post_build_tests: [\n    'Lighthouse Mobile: Performance ≥90, SEO ≥90, Best-Practices ≥90 (NORMAL quality scale)',\n    'noindex check: curl | grep noindex → match',\n    'CTA click test: no 404s, no dead backends',\n    'Visual check vs concept.json direction',\n    'Facts check: displayed data matches content.json',\n  ],\n  expected_output: 'Lauffähiges React+Vite Projekt, deploybar auf Vercel (privat/noindex), vollständige Sektionen, echte Inhalte, Direction-konformes Design',\n  confidence: Math.max(0.3, 1.0\n    - (warnings.includes('asset_missing') ? 0.15 : 0)\n    - (warnings.includes('source_missing_content') ? 0.20 : 0)\n    - (uniqueAssets.length === 0 ? 0.20 : 0)\n    - (secs.length < 4 ? 0.15 : 0)\n  ),\n  warnings,\n  logs: [\n    {ts:new Date().toISOString(), step:'assemble', status:'ok',\n     sections:secs.length, assets:uniqueAssets.length,\n     do_not_invent:doNotInvent.length, prompt_chars:md.length}\n  ],\n};\n\n// ---- Dateien schreiben ----\ntry {\n  const fs = require('fs');\n  const dir = `/files/runs/${leadId}`;\n  fs.mkdirSync(dir, {recursive:true});\n  fs.writeFileSync(`${dir}/CLAUDE_BUILD_PROMPT.md`,  md, 'utf8');\n  fs.writeFileSync(`${dir}/claude_prompt.json`, JSON.stringify(promptJson, null, 2), 'utf8');\n  promptJson.logs.push({ts:new Date().toISOString(), step:'file_write', status:'ok'});\n} catch(e) {\n  promptJson.warnings.push('file_write_failed: ' + e.message);\n}\n\nresults.push({json: promptJson}); continue;\n\n}\n\nreturn results;"},"id":"5d9a40c8-d86d-4b67-a9d6-7d90a7aef51a","name":"Prompt assemblieren","type":"n8n-nodes-base.code","position":[-1600,-928],"typeVersion":2,"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"964b8d3d-99f8-4ab6-8cc4-15f045d1d06e","leftValue":"={{ $json.skipped }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"389dfb85-9f3c-4c8a-b539-73a6ad8960da","name":"Filter: nicht übersprungen","type":"n8n-nodes-base.filter","position":[-1408,-928]},{"parameters":{"assignments":{"assignments":[{"id":"0553dd34-9c66-45d4-a528-7732c2b2635f","name":"lead_id","value":"={{ $json.lead_id }}","type":"string"},{"id":"6c13c9df-9569-45ca-990d-045677317297","name":"prompt_path","value":"={{ '/files/runs/' + $json.lead_id + '/CLAUDE_BUILD_PROMPT.md' }}","type":"string"},{"id":"3d8bfe73-8c62-4075-9a0a-6fefe5c2d12e","name":"confidence","value":"={{ $json.confidence }}","type":"number"},{"id":"516e2e67-870f-40e3-ae89-ccc08bd0eb48","name":"warnings","value":"={{ Array.isArray($json.warnings) ? $json.warnings : ($json.warnings ? [String($json.warnings)] : []) }}","type":"array"},{"id":"77877e0b-a051-44e6-992a-c767f734b23c","name":"ready_to_build","value":true,"type":"boolean"}]},"options":{}},"id":"a2b9f0f0-5dec-4521-94f0-81acf383b7ab","name":"Pipeline-Zusammenfassung","type":"n8n-nodes-base.set","position":[-1008,-928]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":276143062,"mode":"list","cachedResultName":"BUILD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc/edit#gid=276143062"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ String($json[\"lead_id\"] || \"\").trim() }}","prompt_path":"={{ \"/files/runs/\" + $json.lead_id + \"/CLAUDE_BUILD_PROMPT.md\" }}","json_path":"={{ \"/files/runs/\" + $json.lead_id + \"/claude_prompt.json\" }}","ready_to_build":"={{ \"ja\" }}","confidence":"={{ Number($json[\"confidence\"] ?? 0) }}","warnings":"={{ ($json.warnings || []).join(\", \") }}","prompt_chars":"={{ ($json.build_prompt || \"\").length }}","asset_count":"={{ ($json.asset_paths || []).length }}","section_count":"={{ ($json.sections_spec || []).length }}","tech_stack":"={{ JSON.stringify($json.tech_stack || {}) }}","input_files":"={{ ($json.input_files || []).join(\" | \") }}","build_commands":"={{ ($json.build_commands || []).join(\" | \") }}","generated_at":"={{ $json[\"generated_at\"] || new Date().toISOString() }}"},"matchingColumns":["lead_id"],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"prompt_path","displayName":"prompt_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"json_path","displayName":"json_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ready_to_build","displayName":"ready_to_build","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"warnings","displayName":"warnings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prompt_chars","displayName":"prompt_chars","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asset_count","displayName":"asset_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"section_count","displayName":"section_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tech_stack","displayName":"tech_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"input_files","displayName":"input_files","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"build_commands","displayName":"build_commands","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"generated_at","displayName":"generated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1200,-1024],"id":"7d7900c2-dd19-4714-ad4f-c5e6e22522f5","name":"Append row in sheet","credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"id":"webhook-agent6","name":"Webhook: agent6","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent6-start","responseMode":"onReceived","options":{}},"webhookId":"b32b58ef-81f1-4431-88e1-810da16b2ff2"},{"id":"webhook-resp-agent6","name":"Webhook Response: agent6","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent6', started_at: new Date().toISOString()}) }}"}}}],"connections":{"Start Agent 6":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]},"CONCEPT holen":{"main":[[{"node":"Filter: hat Konzept","type":"main","index":0}]]},"Filter: hat Konzept":{"main":[[{"node":"Loop je Lead","type":"main","index":0}]]},"Loop je Lead":{"main":[[],[{"node":"Prompt assemblieren","type":"main","index":0}]]},"Prompt assemblieren":{"main":[[{"node":"Filter: nicht übersprungen","type":"main","index":0}]]},"Filter: nicht übersprungen":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Pipeline-Zusammenfassung":{"main":[[]]},"Append row in sheet":{"main":[[{"node":"Pipeline-Zusammenfassung","type":"main","index":0}]]},"Webhook: agent6":{"main":[[{"node":"CONCEPT holen","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-08T17:45:34.537Z","id":176,"workflowId":"4VMphtkSDdcpZTNU","versionId":"f4e91408-bac2-4723-a00b-15a80ef4021b","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-08T17:45:34.521Z","id":175,"workflowId":"4VMphtkSDdcpZTNU","versionId":"f4e91408-bac2-4723-a00b-15a80ef4021b","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}