moneylan/workflows/agent3/workflow_agent3.json
{"updatedAt":"2026-06-09T07:50:13.298Z","createdAt":"2026-06-06T21:38:38.651Z","id":"peVGxOTGY1v2D12B","name":"MONEYLAN Agent 3 — Image Extractor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"76abb97d-93bd-45ed-80e3-e66b27e2ed8c","name":"Start Agent 3","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":"LEADS","mode":"name"},"options":{},"limit":1},"id":"6a8ee3de-4c99-48f1-8cbe-b7428fbf36dc","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[160,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function cleanUrl(value) {\n  let url = String(value || '').trim();\n  url = url.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  url = url.replace(/\\s+/g, '');\n\n  if (!url) return null;\n\n  if (!/^https?:\\/\\//i.test(url)) {\n    url = 'https://' + url;\n  }\n\n  try {\n    return new URL(url).href;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst r = $json;\n\nreturn {\n  lead_id: String(r.lead_id || '').trim(),\n  score: Number(r.score || 0),\n  business: {\n    name: r.name ? String(r.name).trim() : null,\n    website: cleanUrl(r.website),\n    place_id: r.place_id ? String(r.place_id).trim() : null,\n    phone: r.phone ? String(r.phone).trim() : null,\n    address: r.address ? String(r.address).trim() : null\n  }\n};"},"id":"ad0fbf00-b098-4a2a-ad94-89b9d00c9c1b","name":"Map Sheet -> Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d794825f-ff4e-421e-bbcf-13b0344de3da","leftValue":"={{ $json.score }}","rightValue":20,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"2095fc49-afbd-45fa-9c4b-4ca1c88cc961","name":"Filter: Score >= 75","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,0]},{"parameters":{"options":{}},"id":"9ec2b3b7-8294-4e88-afc5-fe49d4d9b5ae","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,0]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items?timeout=120","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  searchStringsArray: [$json.business.name + ' Leipzig'],\n  maxCrawledPlacesPerSearch: 1,\n  maxImages: 15,\n  language: 'de',\n  maxReviews: 0\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":120000}},"id":"d99e0d3d-8676-4232-ab45-824432275858","name":"Apify: Google Maps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"credentials":{"httpHeaderAuth":{"id":"tm19u1AY1NRoecDz","name":"APIFY"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0b68c3cd-2808-4def-ba0d-88e0de25d618","name":"business","value":"={{ $('Loop je Lead').item.json.business }}","type":"object"},{"id":"8d119167-f40f-4fe0-815e-40d702355f50","name":"score","value":"={{ $('Loop je Lead').item.json.score }}","type":"number"},{"id":"33baf521-f03c-4da9-adee-705f51bd5950","name":"lead_id","value":"={{ $('Loop je Lead').item.json.lead_id }}","type":"string"},{"id":"514f87e5-fca3-447e-b69e-f7303e37ee73","name":"html","value":"={{ $json.results?.[0]?.content || '' }}","type":"string"},{"id":"b484c702-9e0a-49ee-aacc-7a0a37d0c82f","name":"final_url","value":"={{ $json.results?.[0]?.url || $('Loop je Lead').item.json.business.website }}","type":"string"}]},"options":{}},"id":"201338f0-00b6-49fd-b062-a2d89a769b52","name":"Prep Startseite","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,0]},{"parameters":{"jsCode":"/**\n * MONEYLAN Agent 2 — Linkfinder\n * Läuft im n8n Code-Node (Run Once for Each Item), nach dem Startseiten-Scrape.\n *\n * Findet im Startseiten-HTML die wichtigsten internen Unterseiten (Impressum, Menü,\n * Über-uns, Kontakt) und gibt die Startseite + bis zu 4 Unterseiten als EINZELNE Items\n * zurück, jeweils mit lead_id versehen. Der nachfolgende Oxylabs-HTTP-Node scrapt alle.\n *\n * INPUT ($json): lead_id, business{website,...}, score, html (Startseite), final_url\n * OUTPUT: Array von Items, jedes { lead_id, score, business, url, is_start, page_type }\n */\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    return new URL(href, baseUrl).href.split('#')[0];\n  } catch (e) { return null; }\n}\n\nfunction sameDomain(url, baseUrl) {\n  try {\n    return new URL(url).hostname.replace(/^www\\./, '') === new URL(baseUrl).hostname.replace(/^www\\./, '');\n  } catch (e) { return false; }\n}\n\n// Schlüsselseiten nach Priorität. Jede Kategorie max. 1 Treffer.\nconst CATEGORIES = [\n  { type: 'impressum',  re: /impressum|imprint|kontakt|contact/i },\n  { type: 'menue',      re: /speisekarte|speisen|men[uü]|karte|gerichte|essen/i },\n  { type: 'ueber_uns',  re: /[uü]ber[\\s_-]?uns|about|philosophie|geschichte|team|wir[\\s_-]?[uü]ber/i },\n  { type: 'datenschutz',re: /datenschutz|privacy/i }\n];\n\nfunction findKeyPages(html, baseUrl) {\n  const links = [];\n  const re = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const href = m[1];\n    const anchorText = m[2].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    const abs = normalizeUrl(href, baseUrl);\n    if (!abs) continue;\n    if (!sameDomain(abs, baseUrl)) continue;\n    if (/\\.(jpg|jpeg|png|gif|webp|svg|pdf|zip|mp4|css|js|ico)$/i.test(abs)) continue;\n    links.push({ url: abs, text: anchorText, href });\n  }\n\n  const chosen = [];\n  const usedUrls = new Set([normalizeUrl(baseUrl, baseUrl)]);\n  for (const cat of CATEGORIES) {\n    // Treffer: Schlüsselwort im Anchor-Text ODER im href/URL-Pfad\n    const hit = links.find(l =>\n      !usedUrls.has(l.url) && (cat.re.test(l.text) || cat.re.test(l.href))\n    );\n    if (hit) {\n      chosen.push({ url: hit.url, page_type: cat.type });\n      usedUrls.add(hit.url);\n    }\n    if (chosen.length >= 4) break;\n  }\n  return chosen;\n}\n\nfunction buildItems(input) {\n  const baseUrl = input.final_url || input.business?.website;\n  const html = String(input.html || '');\n  const keyPages = baseUrl ? findKeyPages(html, baseUrl) : [];\n\n  const common = { lead_id: input.lead_id, score: input.score, business: input.business };\n\n  const items = [\n    { ...common, url: baseUrl, is_start: true, page_type: 'startseite' }\n  ];\n  for (const p of keyPages) {\n    items.push({ ...common, url: p.url, is_start: false, page_type: p.page_type });\n  }\n  // n8n erwartet [{json:...}, ...] bei runOnceForEachItem mit Mehrfach-Output:\n  return items;\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { buildItems, findKeyPages, normalizeUrl, sameDomain };\n}\n\n// In n8n (Run Once for Each Item, return array): return buildItems($json).map(i => ({ json: i }));\n\n\nreturn buildItems($json).map(i => ({ json: i }));\n"},"id":"47a5243c-b5b7-4eb6-a5c4-f848b823a9a3","name":"Linkfinder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~cheerio-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ startUrls: [{ url: $json.url }], pageFunction: \"async function pageFunction({ $, request, html }) { return { url: request.loadedUrl || request.url, html: html }; }\", maxRequestsPerCrawl: 1 }) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":90000}},"id":"bdf26897-604d-4b4e-8a80-d3b4e3104daf","name":"Apify: Seite scrapen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,0],"credentials":{"httpHeaderAuth":{"id":"tm19u1AY1NRoecDz","name":"APIFY"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items.length) return [];\n\nlet lead_id = '', score = 0, business = {}, final_url = '', combined = '';\nconst crawled_urls = [], warnings = [];\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const j = item.json || {};\n  // Apify returns array [{url,html}]; Oxylabs returns {results:[{content,url}]}\n  const apifyItem = Array.isArray(j) ? j[0] : null;\n\n  let original = {};\n  try { original = $('Linkfinder').itemMatching(index).json; }\n  catch (e) { try { original = $('Linkfinder').item.json; } catch (_) {} }\n\n  if (!lead_id) lead_id = original.lead_id || j.lead_id || '';\n  if (!score)   score   = Number(original.score || j.score || 0);\n  if (!business || Object.keys(business).length === 0)\n    business = original.business || j.business || {};\n\n  const pageUrl =\n    original.url ||\n    (apifyItem ? apifyItem.url : null) ||\n    j.results?.[0]?.url ||\n    j.url ||\n    business.website || '';\n\n  const pageType = original.page_type || j.page_type || 'seite';\n  const isStart  = original.is_start === true || j.is_start === true || pageType === 'startseite';\n\n  let content =\n    (apifyItem ? apifyItem.html : null) ||\n    j.results?.[0]?.content ||\n    j.html || j.data || j.body || '';\n\n  if (typeof content !== 'string') content = JSON.stringify(content || '');\n  if (isStart && pageUrl) final_url = pageUrl;\n  if (pageUrl) crawled_urls.push(pageUrl);\n\n  if (content && content.length > 100) {\n    combined += `\\n<!-- SEITE: ${pageType} (${pageUrl}) -->\\n${content}`;\n  } else {\n    warnings.push(`empty_content_${pageType}`);\n  }\n}\n\nif (!final_url) final_url = business.website || crawled_urls[0] || '';\n\nreturn [{ json: {\n  lead_id, score, business, final_url,\n  crawled_urls: [...new Set(crawled_urls)],\n  html: combined, html_length: combined.length,\n  pages_collected: crawled_urls.length, warnings\n} }];"},"id":"30846b0e-c63a-4137-bbde-5a9e4359e01b","name":"HTML sammeln","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0]},{"parameters":{"jsCode":"// Extract images from Apify Google Maps response\n// n8n may split the array, so $json could be the place object directly OR an array\nconst resp = $json;\n\nlet lead_id, score, business;\ntry {\n  lead_id  = $('Loop je Lead').item.json.lead_id  || '';\n  score    = $('Loop je Lead').item.json.score    || 0;\n  business = $('Loop je Lead').item.json.business || {};\n} catch(e) {\n  // Fallback if Loop je Lead not accessible\n  lead_id  = resp.searchString ? '' : (resp.placeId || '');\n  score    = 0;\n  business = {};\n}\n\n// Handle both: array (not split) or object (n8n split it)\nlet place = {};\nif (Array.isArray(resp) && resp.length > 0) {\n  place = resp[0];\n} else if (resp && typeof resp === 'object' && !Array.isArray(resp)) {\n  place = resp;  // n8n split the array; $json is already the place object\n}\n\n// Extract image URLs\nlet imageUrls = [];\nif (Array.isArray(place.imageUrls) && place.imageUrls.length > 0) {\n  imageUrls = place.imageUrls;\n} else if (Array.isArray(place.images) && place.images.length > 0) {\n  imageUrls = place.images.map(img =>\n    typeof img === 'string' ? img : (img.imageUrl || img.url || img.src || '')\n  ).filter(Boolean);\n} else if (Array.isArray(place.photos) && place.photos.length > 0) {\n  imageUrls = place.photos.map(p =>\n    typeof p === 'string' ? p : (p.url || p.imageUrl || p.src || '')\n  ).filter(Boolean);\n}\n\nconst final_url = place.url || place.website || business.website || '';\n\n// Build candidates in standard format (same as old HTML extractor)\nconst candidates = imageUrls.slice(0, 15).map((url, idx) => ({\n  url: String(url),\n  source: 'google_maps',\n  alt: (place.title || business.name || '') + ' photo ' + (idx + 1),\n  is_logo_hint: false,\n  priority_hint: idx === 0 ? 'hero' : '',\n  w: 0, h: 0\n}));\n\nreturn {\n  lead_id,\n  score,\n  business,\n  final_url,\n  candidates_total: imageUrls.length,\n  candidates_kept: candidates.length,\n  candidates\n};","mode":"runOnceForEachItem"},"id":"a5a5ca3f-9e77-401b-88ec-b2a7e305980b","name":"Bild-Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,0]},{"parameters":{"jsCode":"const inputItems = $input.all();\n\nif (!inputItems.length) {\n  return [{\n    json: {\n      no_candidates: true,\n      warnings: ['split_no_input_items']\n    }\n  }];\n}\n\n// Normalerweise kommt hier genau 1 Item von \"Bild-Kandidaten\"\nconst s = inputItems[0].json || {};\nconst candidates = Array.isArray(s.candidates) ? s.candidates : [];\n\nconst extras = {\n  lead_id: s.lead_id || '',\n  final_url: s.final_url || '',\n  candidates_total: s.candidates_total || candidates.length,\n  candidates_kept: s.candidates_kept || candidates.length,\n  score: s.score || 0,\n  business: s.business || {},\n};\n\n// Wenn keine Bilder gefunden wurden, NICHT still sterben\nif (!candidates.length) {\n  return [{\n    json: {\n      ...extras,\n      idx: 0,\n      url: '',\n      source: 'none',\n      is_logo_hint: false,\n      alt: '',\n      no_candidates: true,\n      warnings: ['no_image_candidates']\n    }\n  }];\n}\n\n// Aus jedem Kandidaten ein eigenes Item machen\nreturn candidates.map((c, idx) => ({\n  json: {\n    ...extras,\n    idx,\n    url: c.url || '',\n    source: c.source || '',\n    is_logo_hint: !!c.is_logo_hint,\n    alt: c.alt || '',\n    priority_hint: c.priority_hint || '',\n    w: c.w || null,\n    h: c.h || null,\n    no_candidates: false\n  }\n}));"},"id":"95be525a-45a0-4e51-a110-0b49a6d45b7b","name":"Split Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,0]},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/*,*/*;q=0.8"},{"name":"Referer","value":"={{ $('Bild-Kandidaten').first().json.final_url || '' }}"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"file"}},"timeout":30000}},"id":"afd2e172-9d2b-4c8e-b7d8-2e6bbf4949b4","name":"Bild laden","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,0],"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items.length) return [];\n\nconst first = items[0].json;\nconst candSet = {\n  lead_id:         first.lead_id         || '',\n  score:           first.score           || 0,\n  business:        first.business        || {},\n  final_url:       first.final_url       || '',\n  candidates_total: first.candidates_total || items.length,\n};\n\nconst content = [{ type: 'text', text:\n  'Bilder von Google Maps fuer: ' + (candSet.business?.name || candSet.lead_id) +\n  '\\nURLs in Reihenfolge:\\n' +\n  items.map((it,i) => `#${i+1}: ${it.json.url}`).join('\\n') +\n  '\\nBeurteile jedes Bild gemaess Schema. Nutze exakt diese URLs.' }];\n\nlet count = 0;\nfor (let i = 0; i < items.length && count < 12; i++) {\n  const it = items[i];\n  const imgUrl = it.json.url || '';\n\n  // Strategy 1: Read binary via n8n helper (handles filesystem binaryMode)\n  if (it.binary && it.binary.data) {\n    const mime = it.binary.data.mimeType || 'image/jpeg';\n    if (/^image\\//.test(mime)) {\n      try {\n        const buffer = await $helpers.getBinaryDataBuffer(it, 'data');\n        const b64 = buffer.toString('base64');\n        content.push({ type: 'image_url', image_url: { url: `data:${mime};base64,${b64}` } });\n        count++;\n        continue;\n      } catch(e) {\n        // Fall through to URL strategy\n      }\n    }\n  }\n\n  // Strategy 2: Send image URL directly (Google Maps CDN works with Claude Vision)\n  if (imgUrl && /^https?:\\/\\//.test(imgUrl)) {\n    content.push({ type: 'image_url', image_url: { url: imgUrl } });\n    count++;\n  }\n}\n\nreturn [{ json: {\n  lead_id:          candSet.lead_id,\n  score:            candSet.score,\n  business:         candSet.business,\n  final_url:        candSet.final_url,\n  candidates_total: candSet.candidates_total,\n  vision_messages:  content,\n  image_count:      count,\n} }];"},"id":"6b041b0e-8e88-4909-9f18-ee4b8751126b","name":"Vision-Input bauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,0]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'Claude-Sonnet-4.6',\n  temperature: 0,\n  max_tokens: 2000,\n  messages: [\n    { role: 'system', content: \"Du bist ein erfahrener Asset Design Manager. Du bekommst mehrere Bilder von der ALTEN Website\\neines lokalen Betriebs (Restaurant/Cafe/KMU) sowie deren Quell-URLs. Diese Bilder sollen Grundlage\\nfuer den Bau einer NEUEN, modernen Website sein (durch einen spaeteren Agenten).\\n\\nDeine Aufgabe: jedes Bild beurteilen wie ein Profi, der entscheidet, welches Material in eine\\nhochwertige neue Website darf. Sei ehrlich und streng: verpixelte, veraltete, schlecht belichtete\\noder thematisch nutzlose Bilder gehoeren aussortiert.\\n\\nAntworte AUSSCHLIESSLICH mit gueltigem JSON, ohne Markdown/Backticks/Vor-/Nachtext.\\nSchema:\\n{\\nlogo\\nurl\\n\\nqualitaet\\nhoch|mittel|niedrig|keins\\nbegruendung\\n\\nhero\\nurl\\n\\nbegruendung\\n\\nbilder\\nurl\\n\\nkategorie\\nlogo|hero|galerie|team|interieur|food|aussen|hintergrund|deko|sonstiges\\neignung\\nverwenden|mit_vorbehalt|nicht_verwenden\\nqualitaet_score\\nbegruendung\\n\\nfarbpalette\\n#RRGGBB\\n...\\nbild_stil\\nkurze Beschreibung der Bildsprache (z.B. warm/rustikal, modern/clean, dunkel/edel)\\nkonzept_text\\n2-4 Saetze: welche Bildwelt die neue Seite haben sollte, basierend auf dem Material\\nempfehlung_agent4\\nkonkrete Handlungsempfehlung: welche Bilder als Hero/Galerie nutzen, was meiden, was fehlt\\n}\\n\\nRegeln:\\n- 'qualitaet_score' ist 0-100 (hoch = besser geeignet fuer eine moderne Website).\\n- 'logo.url' MUSS eine der gezeigten URLs sein (das beste/hochaufloesendste Logo). Wenn keins erkennbar: qualitaet 'keins'.\\n- 'hero.url' ist das beste grossformatige Aufmacher-Bild (appetitlich/repraesentativ).\\n- 'farbpalette': 3-6 dominante Marken-/Stimmungsfarben aus den Bildern als Hex.\\n- Ordne JEDEM gezeigten Bild genau einen Eintrag in 'bilder' zu (per URL).\\n- Erfinde keine URLs. Nutze nur die mitgelieferten.\" },\n    { role: 'user', content: $json.vision_messages }\n  ]\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":180000}},"id":"925c43df-d14e-4a1e-aa31-fe8db8f64a7a","name":"Vision (Poe Sonnet)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,0],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ─── Get Vision response (bypass empty Set node) ───\nlet visionResp = $json;\n// If empty Set node cleared $json, access Vision node directly\nif (!visionResp?.choices && !visionResp?.content) {\n  try { visionResp = $('Vision (Poe Sonnet)').first().json; } catch(e) {}\n}\n\n// ─── Get candidate set from Vision-Input bauen + Bild-Kandidaten ───\nlet candSet = { lead_id: '', score: 0, business: {}, final_url: '', candidates_total: 0, candidates: [] };\ntry {\n  const vInput = $('Vision-Input bauen').first().json;\n  candSet.lead_id   = vInput.lead_id   || '';\n  candSet.score     = vInput.score     || 0;\n  candSet.business  = vInput.business  || {};\n  candSet.final_url = vInput.final_url || '';\n  candSet.candidates_total = vInput.candidates_total || 0;\n  try { candSet.candidates = $('Bild-Kandidaten').first().json.candidates || []; } catch(_) {}\n} catch(e) {}\n\nconst warnings = [];\n\nfunction parseLLM(resp) {\n  try {\n    let c = resp?.choices?.[0]?.message?.content || resp?.content || '';\n    c = String(c).trim();\n    // Strip markdown code blocks\n    c = c.replace(/^```(?:json)?\\s*/im, '').replace(/\\s*```\\s*$/im, '').trim();\n    // Find JSON object\n    const m = c.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { return JSON.parse(m[0]); } catch(e2) {\n        // Try repair: close unclosed arrays/objects\n        let s = m[0];\n        const opens = (s.match(/\\[/g)||[]).length - (s.match(/\\]/g)||[]).length;\n        const openBraces = (s.match(/\\{/g)||[]).length - (s.match(/\\}/g)||[]).length;\n        for (let i=0;i<opens;i++) s += ']';\n        for (let i=0;i<openBraces;i++) s += '}';\n        try { return JSON.parse(s); } catch(e3) {}\n      }\n    }\n    return JSON.parse(c);\n  } catch(e) { return null; }\n}\n\nlet v = parseLLM(visionResp);\nif (!v) { warnings.push('vision_parse_failed'); v = {}; }\n\nconst cands = candSet.candidates || [];\nconst logoHint  = cands.find(c => c.is_logo_hint) || null;\nconst logoFromV = v.logo?.url && v.logo.url !== 'keins' ? v.logo : null;\nconst logoUrl   = logoFromV?.url || logoHint?.url || '';\nconst logo = {\n  url: logoUrl, local_path: '', format: logoUrl.endsWith('.svg')?'svg':'png',\n  width:0, height:0, is_vector:logoUrl.endsWith('.svg'),\n  qualitaet: logoFromV?.qualitaet||(logoHint?'niedrig':'keins'),\n  begruendung: logoFromV?.begruendung||'',\n};\n\nconst heroUrl = (v.hero?.url && v.hero.url !== 'keins') ? v.hero.url : '';\nconst hero = { url:heroUrl, local_path:'', width:0, height:0, qualitaet_score:v.hero?.qualitaet_score||0, begruendung:v.hero?.begruendung||'' };\n\nconst bilderLLM = Array.isArray(v.bilder) ? v.bilder : [];\nconst assets = bilderLLM.map(b=>({\n  url:b.url||'', local_path:'', width:0, height:0, file_size:0, mime_type:'',\n  aspect_ratio:0,\n  source_url:candSet.final_url||'', category:b.kategorie||'sonstiges',\n  quality_score:b.qualitaet_score||0,\n  usage_recommendation:b.eignung==='verwenden'?'verwenden':b.eignung==='mit_vorbehalt'?'mit_vorbehalt':'nicht_verwenden',\n  begruendung:b.begruendung||'',\n}));\nconst verwendbare = assets.filter(a=>a.usage_recommendation!=='nicht_verwenden');\nconst fehlende = [];\nconst cats = bilderLLM.map(b=>b.kategorie||'');\nif(!hero.url)                         fehlende.push('kein_gutes_hero');\nif(logo.qualitaet==='keins')          fehlende.push('logo_nur_favicon');\nif(!cats.includes('food'))            fehlende.push('keine_food_bilder');\nif(!cats.some(c=>c==='interieur'))    fehlende.push('keine_innenraum_bilder');\nif(!cats.includes('team'))            fehlende.push('keine_team_bilder');\nconst stats = { kandidaten_gesamt:candSet.candidates_total||cands.length, geladen:0, verwendbar:verwendbare.length, gespeichert:0 };\nlet conf = 1.0;\nif(warnings.includes('vision_parse_failed')) conf-=0.40;\nif(stats.geladen===0) conf-=0.30;\nconf = Math.round(Math.max(0.1,Math.min(1.0,conf))*100)/100;\nconst manifest = {\n  schema_version:'2.0', agent:'image_extractor', lead_id:candSet.lead_id||'',\n  source_url:candSet.final_url||'', crawled_urls:[], generated_at:new Date().toISOString(),\n  logo, hero, assets, farbpalette:Array.isArray(v.farbpalette)?v.farbpalette:[],\n  bild_stil:v.bild_stil||'', konzept_text:v.konzept_text||'',\n  empfehlung_agent5:v.empfehlung_agent4||v.empfehlung_agent5||'',\n  fehlende_assets:fehlende, stats, confidence:conf, warnings,\n  logs:[{ts:new Date().toISOString(),step:'manifest_complete',status:'ok'}],\n};\ntry {\n  const fs=require('fs');const dir=`/files/runs/${candSet.lead_id}`;\n  if(candSet.lead_id){fs.mkdirSync(dir,{recursive:true});fs.writeFileSync(`${dir}/images.json`,JSON.stringify(manifest,null,2),'utf8');}\n} catch(e) { manifest.warnings.push('file_write_failed'); }\nreturn manifest;"},"id":"3bbeb6e8-d1d0-400d-b64a-020ccb8e46c2","name":"Merge & Manifest","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,0]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"IMAGES"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","name":"={{ $('Loop je Lead').first()?.json?.business?.name || '' }}","logo_url":"={{ $json.logo?.url }}","logo_qualitaet":"={{ $json.logo?.qualitaet }}","hero_url":"={{ $json.hero?.url }}","galerie_urls":"={{ ($json.assets || []).filter(a=>a.usage_recommendation==='verwenden'&&a.url!==$json.logo?.url&&a.url!==$json.hero?.url).map(a=>a.url).join(' | ') }}","farbpalette":"={{ ($json.farbpalette || []).join(', ') }}","bild_stil":"={{ $json.bild_stil }}","konzept_text":"={{ $json.konzept_text }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"logo_url","displayName":"logo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"logo_qualitaet","displayName":"logo_qualitaet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hero_url","displayName":"hero_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"galerie_urls","displayName":"galerie_urls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"farbpalette","displayName":"farbpalette","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bild_stil","displayName":"bild_stil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"anzahl_bilder_gesamt","displayName":"anzahl_bilder_gesamt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"anzahl_brauchbar","displayName":"anzahl_brauchbar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"konzept_text","displayName":"konzept_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"empfehlung_agent4","displayName":"empfehlung_agent4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"40f3092e-bdde-4c61-bb44-059594783604","name":"Sheet: Images schreiben","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2608,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"options":{}},"id":"84205d04-84ee-4015-8b22-28ee001bee37","name":"Merge Vision + Cands","type":"n8n-nodes-base.set","typeVersion":3,"position":[-704,-928]},{"parameters":{"jsCode":"// Normalize Apify response to Oxylabs-compatible format\nconst resp = $json;\nlet html = '', url = '';\nif (Array.isArray(resp) && resp.length > 0) {\n  html = resp[0].html || '';\n  url = resp[0].url || resp[0].loadedUrl || '';\n} else if (resp && typeof resp === 'object') {\n  html = resp.results?.[0]?.content || resp.html || '';\n  url = resp.results?.[0]?.url || resp.url || '';\n}\nreturn [{ json: { results: [{ content: html, url: url }] } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"364ca655-f41a-4b67-894e-4fd28b9e4670","name":"Code in JavaScript"},{"id":"webhook-agent3","name":"Webhook: agent3","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent3-start","responseMode":"onReceived","options":{}},"webhookId":"e00f5e39-9795-4c73-8f83-b66a2736ad68"},{"id":"webhook-resp-agent3","name":"Webhook Response: agent3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent3', started_at: new Date().toISOString()}) }}"}}},{"name":"Trigger Agent 4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent4-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"bb5b2945-32c1-49fd-a6f4-3857b969bfa8"}],"connections":{"Start Agent 3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Map Sheet -> Lead","type":"main","index":0}]]},"Map Sheet -> Lead":{"main":[[{"node":"Filter: Score >= 75","type":"main","index":0}]]},"Filter: Score >= 75":{"main":[[{"node":"Loop je Lead","type":"main","index":0}]]},"Loop je Lead":{"main":[[],[{"node":"Apify: Google Maps","type":"main","index":0}]]},"Prep Startseite":{"main":[[{"node":"Linkfinder","type":"main","index":0}]]},"Linkfinder":{"main":[[{"node":"Apify: Seite scrapen","type":"main","index":0}]]},"HTML sammeln":{"main":[[{"node":"Bild-Kandidaten","type":"main","index":0}]]},"Bild-Kandidaten":{"main":[[{"node":"Split Kandidaten","type":"main","index":0}]]},"Split Kandidaten":{"main":[[{"node":"Bild laden","type":"main","index":0}]]},"Bild laden":{"main":[[{"node":"Vision-Input bauen","type":"main","index":0}]]},"Vision-Input bauen":{"main":[[{"node":"Vision (Poe Sonnet)","type":"main","index":0}]]},"Vision (Poe Sonnet)":{"main":[[{"node":"Merge Vision + Cands","type":"main","index":0}]]},"Merge & Manifest":{"main":[[{"node":"Sheet: Images schreiben","type":"main","index":0}]]},"Sheet: Images schreiben":{"main":[[{"node":"Trigger Agent 4","type":"main","index":0}]]},"Merge Vision + Cands":{"main":[[{"node":"Merge & Manifest","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Prep Startseite","type":"main","index":0}]]},"Webhook: agent3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Apify: Seite scrapen":{"main":[[{"node":"HTML sammeln","type":"main","index":0}]]},"Apify: Google Maps":{"main":[[{"node":"Bild-Kandidaten","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"fa745ca2-a8e4-4de1-bb7c-a318fc829df8","activeVersionId":"fa745ca2-a8e4-4de1-bb7c-a318fc829df8","versionCounter":89,"triggerCount":1,"shared":[{"updatedAt":"2026-06-06T21:38:38.654Z","createdAt":"2026-06-06T21:38:38.654Z","role":"workflow:owner","workflowId":"peVGxOTGY1v2D12B","projectId":"6uDALOsnqOHf1Gvz","project":{"updatedAt":"2026-06-06T09:31:04.698Z","createdAt":"2026-06-06T09:01:54.922Z","id":"6uDALOsnqOHf1Gvz","name":"Pepe Dietrich <pepe_dietrich@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}}],"tags":[{"updatedAt":"2026-06-06T10:35:23.364Z","createdAt":"2026-06-06T10:35:23.364Z","id":"WOLG6zr5SKTpLmpy","name":"MONEYLAN"}],"activeVersion":{"updatedAt":"2026-06-09T07:50:13.299Z","createdAt":"2026-06-09T07:50:13.299Z","versionId":"fa745ca2-a8e4-4de1-bb7c-a318fc829df8","workflowId":"peVGxOTGY1v2D12B","nodes":[{"parameters":{},"id":"76abb97d-93bd-45ed-80e3-e66b27e2ed8c","name":"Start Agent 3","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"value":"LEADS","mode":"name"},"options":{},"limit":1},"id":"6a8ee3de-4c99-48f1-8cbe-b7428fbf36dc","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[160,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function cleanUrl(value) {\n  let url = String(value || '').trim();\n  url = url.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  url = url.replace(/\\s+/g, '');\n\n  if (!url) return null;\n\n  if (!/^https?:\\/\\//i.test(url)) {\n    url = 'https://' + url;\n  }\n\n  try {\n    return new URL(url).href;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst r = $json;\n\nreturn {\n  lead_id: String(r.lead_id || '').trim(),\n  score: Number(r.score || 0),\n  business: {\n    name: r.name ? String(r.name).trim() : null,\n    website: cleanUrl(r.website),\n    place_id: r.place_id ? String(r.place_id).trim() : null,\n    phone: r.phone ? String(r.phone).trim() : null,\n    address: r.address ? String(r.address).trim() : null\n  }\n};"},"id":"ad0fbf00-b098-4a2a-ad94-89b9d00c9c1b","name":"Map Sheet -> Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d794825f-ff4e-421e-bbcf-13b0344de3da","leftValue":"={{ $json.score }}","rightValue":20,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"2095fc49-afbd-45fa-9c4b-4ca1c88cc961","name":"Filter: Score >= 75","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,0]},{"parameters":{"options":{}},"id":"9ec2b3b7-8294-4e88-afc5-fe49d4d9b5ae","name":"Loop je Lead","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,0]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items?timeout=120","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  searchStringsArray: [$json.business.name + ' Leipzig'],\n  maxCrawledPlacesPerSearch: 1,\n  maxImages: 15,\n  language: 'de',\n  maxReviews: 0\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":120000}},"id":"d99e0d3d-8676-4232-ab45-824432275858","name":"Apify: Google Maps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,0],"credentials":{"httpHeaderAuth":{"id":"tm19u1AY1NRoecDz","name":"APIFY"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0b68c3cd-2808-4def-ba0d-88e0de25d618","name":"business","value":"={{ $('Loop je Lead').item.json.business }}","type":"object"},{"id":"8d119167-f40f-4fe0-815e-40d702355f50","name":"score","value":"={{ $('Loop je Lead').item.json.score }}","type":"number"},{"id":"33baf521-f03c-4da9-adee-705f51bd5950","name":"lead_id","value":"={{ $('Loop je Lead').item.json.lead_id }}","type":"string"},{"id":"514f87e5-fca3-447e-b69e-f7303e37ee73","name":"html","value":"={{ $json.results?.[0]?.content || '' }}","type":"string"},{"id":"b484c702-9e0a-49ee-aacc-7a0a37d0c82f","name":"final_url","value":"={{ $json.results?.[0]?.url || $('Loop je Lead').item.json.business.website }}","type":"string"}]},"options":{}},"id":"201338f0-00b6-49fd-b062-a2d89a769b52","name":"Prep Startseite","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,0]},{"parameters":{"jsCode":"/**\n * MONEYLAN Agent 2 — Linkfinder\n * Läuft im n8n Code-Node (Run Once for Each Item), nach dem Startseiten-Scrape.\n *\n * Findet im Startseiten-HTML die wichtigsten internen Unterseiten (Impressum, Menü,\n * Über-uns, Kontakt) und gibt die Startseite + bis zu 4 Unterseiten als EINZELNE Items\n * zurück, jeweils mit lead_id versehen. Der nachfolgende Oxylabs-HTTP-Node scrapt alle.\n *\n * INPUT ($json): lead_id, business{website,...}, score, html (Startseite), final_url\n * OUTPUT: Array von Items, jedes { lead_id, score, business, url, is_start, page_type }\n */\n\nfunction normalizeUrl(href, baseUrl) {\n  try {\n    return new URL(href, baseUrl).href.split('#')[0];\n  } catch (e) { return null; }\n}\n\nfunction sameDomain(url, baseUrl) {\n  try {\n    return new URL(url).hostname.replace(/^www\\./, '') === new URL(baseUrl).hostname.replace(/^www\\./, '');\n  } catch (e) { return false; }\n}\n\n// Schlüsselseiten nach Priorität. Jede Kategorie max. 1 Treffer.\nconst CATEGORIES = [\n  { type: 'impressum',  re: /impressum|imprint|kontakt|contact/i },\n  { type: 'menue',      re: /speisekarte|speisen|men[uü]|karte|gerichte|essen/i },\n  { type: 'ueber_uns',  re: /[uü]ber[\\s_-]?uns|about|philosophie|geschichte|team|wir[\\s_-]?[uü]ber/i },\n  { type: 'datenschutz',re: /datenschutz|privacy/i }\n];\n\nfunction findKeyPages(html, baseUrl) {\n  const links = [];\n  const re = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null) {\n    const href = m[1];\n    const anchorText = m[2].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n    const abs = normalizeUrl(href, baseUrl);\n    if (!abs) continue;\n    if (!sameDomain(abs, baseUrl)) continue;\n    if (/\\.(jpg|jpeg|png|gif|webp|svg|pdf|zip|mp4|css|js|ico)$/i.test(abs)) continue;\n    links.push({ url: abs, text: anchorText, href });\n  }\n\n  const chosen = [];\n  const usedUrls = new Set([normalizeUrl(baseUrl, baseUrl)]);\n  for (const cat of CATEGORIES) {\n    // Treffer: Schlüsselwort im Anchor-Text ODER im href/URL-Pfad\n    const hit = links.find(l =>\n      !usedUrls.has(l.url) && (cat.re.test(l.text) || cat.re.test(l.href))\n    );\n    if (hit) {\n      chosen.push({ url: hit.url, page_type: cat.type });\n      usedUrls.add(hit.url);\n    }\n    if (chosen.length >= 4) break;\n  }\n  return chosen;\n}\n\nfunction buildItems(input) {\n  const baseUrl = input.final_url || input.business?.website;\n  const html = String(input.html || '');\n  const keyPages = baseUrl ? findKeyPages(html, baseUrl) : [];\n\n  const common = { lead_id: input.lead_id, score: input.score, business: input.business };\n\n  const items = [\n    { ...common, url: baseUrl, is_start: true, page_type: 'startseite' }\n  ];\n  for (const p of keyPages) {\n    items.push({ ...common, url: p.url, is_start: false, page_type: p.page_type });\n  }\n  // n8n erwartet [{json:...}, ...] bei runOnceForEachItem mit Mehrfach-Output:\n  return items;\n}\n\nif (typeof module !== 'undefined' && module.exports) {\n  module.exports = { buildItems, findKeyPages, normalizeUrl, sameDomain };\n}\n\n// In n8n (Run Once for Each Item, return array): return buildItems($json).map(i => ({ json: i }));\n\n\nreturn buildItems($json).map(i => ({ json: i }));\n"},"id":"47a5243c-b5b7-4eb6-a5c4-f848b823a9a3","name":"Linkfinder","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,0]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~cheerio-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ startUrls: [{ url: $json.url }], pageFunction: \"async function pageFunction({ $, request, html }) { return { url: request.loadedUrl || request.url, html: html }; }\", maxRequestsPerCrawl: 1 }) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":90000}},"id":"bdf26897-604d-4b4e-8a80-d3b4e3104daf","name":"Apify: Seite scrapen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,0],"credentials":{"httpHeaderAuth":{"id":"tm19u1AY1NRoecDz","name":"APIFY"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items.length) return [];\n\nlet lead_id = '', score = 0, business = {}, final_url = '', combined = '';\nconst crawled_urls = [], warnings = [];\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const j = item.json || {};\n  // Apify returns array [{url,html}]; Oxylabs returns {results:[{content,url}]}\n  const apifyItem = Array.isArray(j) ? j[0] : null;\n\n  let original = {};\n  try { original = $('Linkfinder').itemMatching(index).json; }\n  catch (e) { try { original = $('Linkfinder').item.json; } catch (_) {} }\n\n  if (!lead_id) lead_id = original.lead_id || j.lead_id || '';\n  if (!score)   score   = Number(original.score || j.score || 0);\n  if (!business || Object.keys(business).length === 0)\n    business = original.business || j.business || {};\n\n  const pageUrl =\n    original.url ||\n    (apifyItem ? apifyItem.url : null) ||\n    j.results?.[0]?.url ||\n    j.url ||\n    business.website || '';\n\n  const pageType = original.page_type || j.page_type || 'seite';\n  const isStart  = original.is_start === true || j.is_start === true || pageType === 'startseite';\n\n  let content =\n    (apifyItem ? apifyItem.html : null) ||\n    j.results?.[0]?.content ||\n    j.html || j.data || j.body || '';\n\n  if (typeof content !== 'string') content = JSON.stringify(content || '');\n  if (isStart && pageUrl) final_url = pageUrl;\n  if (pageUrl) crawled_urls.push(pageUrl);\n\n  if (content && content.length > 100) {\n    combined += `\\n<!-- SEITE: ${pageType} (${pageUrl}) -->\\n${content}`;\n  } else {\n    warnings.push(`empty_content_${pageType}`);\n  }\n}\n\nif (!final_url) final_url = business.website || crawled_urls[0] || '';\n\nreturn [{ json: {\n  lead_id, score, business, final_url,\n  crawled_urls: [...new Set(crawled_urls)],\n  html: combined, html_length: combined.length,\n  pages_collected: crawled_urls.length, warnings\n} }];"},"id":"30846b0e-c63a-4137-bbde-5a9e4359e01b","name":"HTML sammeln","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,0]},{"parameters":{"jsCode":"// Extract images from Apify Google Maps response\n// n8n may split the array, so $json could be the place object directly OR an array\nconst resp = $json;\n\nlet lead_id, score, business;\ntry {\n  lead_id  = $('Loop je Lead').item.json.lead_id  || '';\n  score    = $('Loop je Lead').item.json.score    || 0;\n  business = $('Loop je Lead').item.json.business || {};\n} catch(e) {\n  // Fallback if Loop je Lead not accessible\n  lead_id  = resp.searchString ? '' : (resp.placeId || '');\n  score    = 0;\n  business = {};\n}\n\n// Handle both: array (not split) or object (n8n split it)\nlet place = {};\nif (Array.isArray(resp) && resp.length > 0) {\n  place = resp[0];\n} else if (resp && typeof resp === 'object' && !Array.isArray(resp)) {\n  place = resp;  // n8n split the array; $json is already the place object\n}\n\n// Extract image URLs\nlet imageUrls = [];\nif (Array.isArray(place.imageUrls) && place.imageUrls.length > 0) {\n  imageUrls = place.imageUrls;\n} else if (Array.isArray(place.images) && place.images.length > 0) {\n  imageUrls = place.images.map(img =>\n    typeof img === 'string' ? img : (img.imageUrl || img.url || img.src || '')\n  ).filter(Boolean);\n} else if (Array.isArray(place.photos) && place.photos.length > 0) {\n  imageUrls = place.photos.map(p =>\n    typeof p === 'string' ? p : (p.url || p.imageUrl || p.src || '')\n  ).filter(Boolean);\n}\n\nconst final_url = place.url || place.website || business.website || '';\n\n// Build candidates in standard format (same as old HTML extractor)\nconst candidates = imageUrls.slice(0, 15).map((url, idx) => ({\n  url: String(url),\n  source: 'google_maps',\n  alt: (place.title || business.name || '') + ' photo ' + (idx + 1),\n  is_logo_hint: false,\n  priority_hint: idx === 0 ? 'hero' : '',\n  w: 0, h: 0\n}));\n\nreturn {\n  lead_id,\n  score,\n  business,\n  final_url,\n  candidates_total: imageUrls.length,\n  candidates_kept: candidates.length,\n  candidates\n};","mode":"runOnceForEachItem"},"id":"a5a5ca3f-9e77-401b-88ec-b2a7e305980b","name":"Bild-Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,0]},{"parameters":{"jsCode":"const inputItems = $input.all();\n\nif (!inputItems.length) {\n  return [{\n    json: {\n      no_candidates: true,\n      warnings: ['split_no_input_items']\n    }\n  }];\n}\n\n// Normalerweise kommt hier genau 1 Item von \"Bild-Kandidaten\"\nconst s = inputItems[0].json || {};\nconst candidates = Array.isArray(s.candidates) ? s.candidates : [];\n\nconst extras = {\n  lead_id: s.lead_id || '',\n  final_url: s.final_url || '',\n  candidates_total: s.candidates_total || candidates.length,\n  candidates_kept: s.candidates_kept || candidates.length,\n  score: s.score || 0,\n  business: s.business || {},\n};\n\n// Wenn keine Bilder gefunden wurden, NICHT still sterben\nif (!candidates.length) {\n  return [{\n    json: {\n      ...extras,\n      idx: 0,\n      url: '',\n      source: 'none',\n      is_logo_hint: false,\n      alt: '',\n      no_candidates: true,\n      warnings: ['no_image_candidates']\n    }\n  }];\n}\n\n// Aus jedem Kandidaten ein eigenes Item machen\nreturn candidates.map((c, idx) => ({\n  json: {\n    ...extras,\n    idx,\n    url: c.url || '',\n    source: c.source || '',\n    is_logo_hint: !!c.is_logo_hint,\n    alt: c.alt || '',\n    priority_hint: c.priority_hint || '',\n    w: c.w || null,\n    h: c.h || null,\n    no_candidates: false\n  }\n}));"},"id":"95be525a-45a0-4e51-a110-0b49a6d45b7b","name":"Split Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,0]},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/*,*/*;q=0.8"},{"name":"Referer","value":"={{ $('Bild-Kandidaten').first().json.final_url || '' }}"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"file"}},"timeout":30000}},"id":"afd2e172-9d2b-4c8e-b7d8-2e6bbf4949b4","name":"Bild laden","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,0],"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items.length) return [];\n\nconst first = items[0].json;\nconst candSet = {\n  lead_id:         first.lead_id         || '',\n  score:           first.score           || 0,\n  business:        first.business        || {},\n  final_url:       first.final_url       || '',\n  candidates_total: first.candidates_total || items.length,\n};\n\nconst content = [{ type: 'text', text:\n  'Bilder von Google Maps fuer: ' + (candSet.business?.name || candSet.lead_id) +\n  '\\nURLs in Reihenfolge:\\n' +\n  items.map((it,i) => `#${i+1}: ${it.json.url}`).join('\\n') +\n  '\\nBeurteile jedes Bild gemaess Schema. Nutze exakt diese URLs.' }];\n\nlet count = 0;\nfor (let i = 0; i < items.length && count < 12; i++) {\n  const it = items[i];\n  const imgUrl = it.json.url || '';\n\n  // Strategy 1: Read binary via n8n helper (handles filesystem binaryMode)\n  if (it.binary && it.binary.data) {\n    const mime = it.binary.data.mimeType || 'image/jpeg';\n    if (/^image\\//.test(mime)) {\n      try {\n        const buffer = await $helpers.getBinaryDataBuffer(it, 'data');\n        const b64 = buffer.toString('base64');\n        content.push({ type: 'image_url', image_url: { url: `data:${mime};base64,${b64}` } });\n        count++;\n        continue;\n      } catch(e) {\n        // Fall through to URL strategy\n      }\n    }\n  }\n\n  // Strategy 2: Send image URL directly (Google Maps CDN works with Claude Vision)\n  if (imgUrl && /^https?:\\/\\//.test(imgUrl)) {\n    content.push({ type: 'image_url', image_url: { url: imgUrl } });\n    count++;\n  }\n}\n\nreturn [{ json: {\n  lead_id:          candSet.lead_id,\n  score:            candSet.score,\n  business:         candSet.business,\n  final_url:        candSet.final_url,\n  candidates_total: candSet.candidates_total,\n  vision_messages:  content,\n  image_count:      count,\n} }];"},"id":"6b041b0e-8e88-4909-9f18-ee4b8751126b","name":"Vision-Input bauen","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,0]},{"parameters":{"method":"POST","url":"https://api.poe.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'Claude-Sonnet-4.6',\n  temperature: 0,\n  max_tokens: 2000,\n  messages: [\n    { role: 'system', content: \"Du bist ein erfahrener Asset Design Manager. Du bekommst mehrere Bilder von der ALTEN Website\\neines lokalen Betriebs (Restaurant/Cafe/KMU) sowie deren Quell-URLs. Diese Bilder sollen Grundlage\\nfuer den Bau einer NEUEN, modernen Website sein (durch einen spaeteren Agenten).\\n\\nDeine Aufgabe: jedes Bild beurteilen wie ein Profi, der entscheidet, welches Material in eine\\nhochwertige neue Website darf. Sei ehrlich und streng: verpixelte, veraltete, schlecht belichtete\\noder thematisch nutzlose Bilder gehoeren aussortiert.\\n\\nAntworte AUSSCHLIESSLICH mit gueltigem JSON, ohne Markdown/Backticks/Vor-/Nachtext.\\nSchema:\\n{\\nlogo\\nurl\\n\\nqualitaet\\nhoch|mittel|niedrig|keins\\nbegruendung\\n\\nhero\\nurl\\n\\nbegruendung\\n\\nbilder\\nurl\\n\\nkategorie\\nlogo|hero|galerie|team|interieur|food|aussen|hintergrund|deko|sonstiges\\neignung\\nverwenden|mit_vorbehalt|nicht_verwenden\\nqualitaet_score\\nbegruendung\\n\\nfarbpalette\\n#RRGGBB\\n...\\nbild_stil\\nkurze Beschreibung der Bildsprache (z.B. warm/rustikal, modern/clean, dunkel/edel)\\nkonzept_text\\n2-4 Saetze: welche Bildwelt die neue Seite haben sollte, basierend auf dem Material\\nempfehlung_agent4\\nkonkrete Handlungsempfehlung: welche Bilder als Hero/Galerie nutzen, was meiden, was fehlt\\n}\\n\\nRegeln:\\n- 'qualitaet_score' ist 0-100 (hoch = besser geeignet fuer eine moderne Website).\\n- 'logo.url' MUSS eine der gezeigten URLs sein (das beste/hochaufloesendste Logo). Wenn keins erkennbar: qualitaet 'keins'.\\n- 'hero.url' ist das beste grossformatige Aufmacher-Bild (appetitlich/repraesentativ).\\n- 'farbpalette': 3-6 dominante Marken-/Stimmungsfarben aus den Bildern als Hex.\\n- Ordne JEDEM gezeigten Bild genau einen Eintrag in 'bilder' zu (per URL).\\n- Erfinde keine URLs. Nutze nur die mitgelieferten.\" },\n    { role: 'user', content: $json.vision_messages }\n  ]\n}) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":180000}},"id":"925c43df-d14e-4a1e-aa31-fe8db8f64a7a","name":"Vision (Poe Sonnet)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,0],"credentials":{"httpHeaderAuth":{"id":"UJ5khOPRpBDsxk6m","name":"Header Auth account"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ─── Get Vision response (bypass empty Set node) ───\nlet visionResp = $json;\n// If empty Set node cleared $json, access Vision node directly\nif (!visionResp?.choices && !visionResp?.content) {\n  try { visionResp = $('Vision (Poe Sonnet)').first().json; } catch(e) {}\n}\n\n// ─── Get candidate set from Vision-Input bauen + Bild-Kandidaten ───\nlet candSet = { lead_id: '', score: 0, business: {}, final_url: '', candidates_total: 0, candidates: [] };\ntry {\n  const vInput = $('Vision-Input bauen').first().json;\n  candSet.lead_id   = vInput.lead_id   || '';\n  candSet.score     = vInput.score     || 0;\n  candSet.business  = vInput.business  || {};\n  candSet.final_url = vInput.final_url || '';\n  candSet.candidates_total = vInput.candidates_total || 0;\n  try { candSet.candidates = $('Bild-Kandidaten').first().json.candidates || []; } catch(_) {}\n} catch(e) {}\n\nconst warnings = [];\n\nfunction parseLLM(resp) {\n  try {\n    let c = resp?.choices?.[0]?.message?.content || resp?.content || '';\n    c = String(c).trim();\n    // Strip markdown code blocks\n    c = c.replace(/^```(?:json)?\\s*/im, '').replace(/\\s*```\\s*$/im, '').trim();\n    // Find JSON object\n    const m = c.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { return JSON.parse(m[0]); } catch(e2) {\n        // Try repair: close unclosed arrays/objects\n        let s = m[0];\n        const opens = (s.match(/\\[/g)||[]).length - (s.match(/\\]/g)||[]).length;\n        const openBraces = (s.match(/\\{/g)||[]).length - (s.match(/\\}/g)||[]).length;\n        for (let i=0;i<opens;i++) s += ']';\n        for (let i=0;i<openBraces;i++) s += '}';\n        try { return JSON.parse(s); } catch(e3) {}\n      }\n    }\n    return JSON.parse(c);\n  } catch(e) { return null; }\n}\n\nlet v = parseLLM(visionResp);\nif (!v) { warnings.push('vision_parse_failed'); v = {}; }\n\nconst cands = candSet.candidates || [];\nconst logoHint  = cands.find(c => c.is_logo_hint) || null;\nconst logoFromV = v.logo?.url && v.logo.url !== 'keins' ? v.logo : null;\nconst logoUrl   = logoFromV?.url || logoHint?.url || '';\nconst logo = {\n  url: logoUrl, local_path: '', format: logoUrl.endsWith('.svg')?'svg':'png',\n  width:0, height:0, is_vector:logoUrl.endsWith('.svg'),\n  qualitaet: logoFromV?.qualitaet||(logoHint?'niedrig':'keins'),\n  begruendung: logoFromV?.begruendung||'',\n};\n\nconst heroUrl = (v.hero?.url && v.hero.url !== 'keins') ? v.hero.url : '';\nconst hero = { url:heroUrl, local_path:'', width:0, height:0, qualitaet_score:v.hero?.qualitaet_score||0, begruendung:v.hero?.begruendung||'' };\n\nconst bilderLLM = Array.isArray(v.bilder) ? v.bilder : [];\nconst assets = bilderLLM.map(b=>({\n  url:b.url||'', local_path:'', width:0, height:0, file_size:0, mime_type:'',\n  aspect_ratio:0,\n  source_url:candSet.final_url||'', category:b.kategorie||'sonstiges',\n  quality_score:b.qualitaet_score||0,\n  usage_recommendation:b.eignung==='verwenden'?'verwenden':b.eignung==='mit_vorbehalt'?'mit_vorbehalt':'nicht_verwenden',\n  begruendung:b.begruendung||'',\n}));\nconst verwendbare = assets.filter(a=>a.usage_recommendation!=='nicht_verwenden');\nconst fehlende = [];\nconst cats = bilderLLM.map(b=>b.kategorie||'');\nif(!hero.url)                         fehlende.push('kein_gutes_hero');\nif(logo.qualitaet==='keins')          fehlende.push('logo_nur_favicon');\nif(!cats.includes('food'))            fehlende.push('keine_food_bilder');\nif(!cats.some(c=>c==='interieur'))    fehlende.push('keine_innenraum_bilder');\nif(!cats.includes('team'))            fehlende.push('keine_team_bilder');\nconst stats = { kandidaten_gesamt:candSet.candidates_total||cands.length, geladen:0, verwendbar:verwendbare.length, gespeichert:0 };\nlet conf = 1.0;\nif(warnings.includes('vision_parse_failed')) conf-=0.40;\nif(stats.geladen===0) conf-=0.30;\nconf = Math.round(Math.max(0.1,Math.min(1.0,conf))*100)/100;\nconst manifest = {\n  schema_version:'2.0', agent:'image_extractor', lead_id:candSet.lead_id||'',\n  source_url:candSet.final_url||'', crawled_urls:[], generated_at:new Date().toISOString(),\n  logo, hero, assets, farbpalette:Array.isArray(v.farbpalette)?v.farbpalette:[],\n  bild_stil:v.bild_stil||'', konzept_text:v.konzept_text||'',\n  empfehlung_agent5:v.empfehlung_agent4||v.empfehlung_agent5||'',\n  fehlende_assets:fehlende, stats, confidence:conf, warnings,\n  logs:[{ts:new Date().toISOString(),step:'manifest_complete',status:'ok'}],\n};\ntry {\n  const fs=require('fs');const dir=`/files/runs/${candSet.lead_id}`;\n  if(candSet.lead_id){fs.mkdirSync(dir,{recursive:true});fs.writeFileSync(`${dir}/images.json`,JSON.stringify(manifest,null,2),'utf8');}\n} catch(e) { manifest.warnings.push('file_write_failed'); }\nreturn manifest;"},"id":"3bbeb6e8-d1d0-400d-b64a-020ccb8e46c2","name":"Merge & Manifest","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,0]},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1Fjw6K4MY-H3KfsM4CrZ9BAbDQ0cOKosqAGVsqqftpjc","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"IMAGES"},"columns":{"mappingMode":"defineBelow","value":{"lead_id":"={{ $json.lead_id }}","name":"={{ $('Loop je Lead').first()?.json?.business?.name || '' }}","logo_url":"={{ $json.logo?.url }}","logo_qualitaet":"={{ $json.logo?.qualitaet }}","hero_url":"={{ $json.hero?.url }}","galerie_urls":"={{ ($json.assets || []).filter(a=>a.usage_recommendation==='verwenden'&&a.url!==$json.logo?.url&&a.url!==$json.hero?.url).map(a=>a.url).join(' | ') }}","farbpalette":"={{ ($json.farbpalette || []).join(', ') }}","bild_stil":"={{ $json.bild_stil }}","konzept_text":"={{ $json.konzept_text }}"},"matchingColumns":[],"schema":[{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"logo_url","displayName":"logo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"logo_qualitaet","displayName":"logo_qualitaet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hero_url","displayName":"hero_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"galerie_urls","displayName":"galerie_urls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"farbpalette","displayName":"farbpalette","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bild_stil","displayName":"bild_stil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"anzahl_bilder_gesamt","displayName":"anzahl_bilder_gesamt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"anzahl_brauchbar","displayName":"anzahl_brauchbar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"konzept_text","displayName":"konzept_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"empfehlung_agent4","displayName":"empfehlung_agent4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"40f3092e-bdde-4c61-bb44-059594783604","name":"Sheet: Images schreiben","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2608,0],"credentials":{"googleApi":{"id":"EsWUzcrYxH8tX93F","name":"Google Service Account account"}}},{"parameters":{"options":{}},"id":"84205d04-84ee-4015-8b22-28ee001bee37","name":"Merge Vision + Cands","type":"n8n-nodes-base.set","typeVersion":3,"position":[-704,-928]},{"parameters":{"jsCode":"// Normalize Apify response to Oxylabs-compatible format\nconst resp = $json;\nlet html = '', url = '';\nif (Array.isArray(resp) && resp.length > 0) {\n  html = resp[0].html || '';\n  url = resp[0].url || resp[0].loadedUrl || '';\n} else if (resp && typeof resp === 'object') {\n  html = resp.results?.[0]?.content || resp.html || '';\n  url = resp.results?.[0]?.url || resp.url || '';\n}\nreturn [{ json: { results: [{ content: html, url: url }] } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0],"id":"364ca655-f41a-4b67-894e-4fd28b9e4670","name":"Code in JavaScript"},{"id":"webhook-agent3","name":"Webhook: agent3","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3600,-928],"parameters":{"httpMethod":"POST","path":"agent3-start","responseMode":"onReceived","options":{}},"webhookId":"e00f5e39-9795-4c73-8f83-b66a2736ad68"},{"id":"webhook-resp-agent3","name":"Webhook Response: agent3","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-3400,-928],"parameters":{"options":{"responseCode":200,"responseData":"={{ JSON.stringify({ok: true, agent: 'agent3', started_at: new Date().toISOString()}) }}"}}},{"name":"Trigger Agent 4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,600],"parameters":{"method":"POST","url":"https://n8n.srv1736252.hstgr.cloud/webhook/agent4-start","options":{"response":{"response":{"neverError":true}},"timeout":10000}},"id":"bb5b2945-32c1-49fd-a6f4-3857b969bfa8"}],"connections":{"Start Agent 3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Map Sheet -> Lead","type":"main","index":0}]]},"Map Sheet -> Lead":{"main":[[{"node":"Filter: Score >= 75","type":"main","index":0}]]},"Filter: Score >= 75":{"main":[[{"node":"Loop je Lead","type":"main","index":0}]]},"Loop je Lead":{"main":[[],[{"node":"Apify: Google Maps","type":"main","index":0}]]},"Prep Startseite":{"main":[[{"node":"Linkfinder","type":"main","index":0}]]},"Linkfinder":{"main":[[{"node":"Apify: Seite scrapen","type":"main","index":0}]]},"HTML sammeln":{"main":[[{"node":"Bild-Kandidaten","type":"main","index":0}]]},"Bild-Kandidaten":{"main":[[{"node":"Split Kandidaten","type":"main","index":0}]]},"Split Kandidaten":{"main":[[{"node":"Bild laden","type":"main","index":0}]]},"Bild laden":{"main":[[{"node":"Vision-Input bauen","type":"main","index":0}]]},"Vision-Input bauen":{"main":[[{"node":"Vision (Poe Sonnet)","type":"main","index":0}]]},"Vision (Poe Sonnet)":{"main":[[{"node":"Merge Vision + Cands","type":"main","index":0}]]},"Merge & Manifest":{"main":[[{"node":"Sheet: Images schreiben","type":"main","index":0}]]},"Sheet: Images schreiben":{"main":[[{"node":"Trigger Agent 4","type":"main","index":0}]]},"Merge Vision + Cands":{"main":[[{"node":"Merge & Manifest","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Prep Startseite","type":"main","index":0}]]},"Webhook: agent3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Apify: Seite scrapen":{"main":[[{"node":"HTML sammeln","type":"main","index":0}]]},"Apify: Google Maps":{"main":[[{"node":"Bild-Kandidaten","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Pepe Dietrich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-09T07:50:13.359Z","id":219,"workflowId":"peVGxOTGY1v2D12B","versionId":"fa745ca2-a8e4-4de1-bb7c-a318fc829df8","event":"activated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"},{"createdAt":"2026-06-09T07:50:13.345Z","id":218,"workflowId":"peVGxOTGY1v2D12B","versionId":"fa745ca2-a8e4-4de1-bb7c-a318fc829df8","event":"deactivated","userId":"4cfb5579-7455-432b-9ec4-3ae45d13c681"}]}}